﻿@using JResources.Common
@using GridMvc.Html
@model JResources.Data.Model.RoleDelegateSearchModel

@{
    ViewBag.Title = "Delegation List";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Create Delegation";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.DelegationEntry(Guid.Empty));
    ViewBag.BreadLastLabel = "Delegation List";

    List<SelectListItem> ListRoleAccess = (List<SelectListItem>)ViewBag.RoleAccessList;
    string objRoleAccess = Newtonsoft.Json.JsonConvert.SerializeObject(ListRoleAccess);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.DelegationList())">
                <i class="fa fa-list"></i>
                List Delegation
            </a>

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.DelegationEntry(Guid.Empty))">
                <i class="fa fa-unlock-alt"></i>
                Create Delegation
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">Delegation</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SearchCriteria, "Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.SearchCriteria, new { @ng_model = "Model.SearchCriteria", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.RoleAccessId, "Role", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.Value as item.Text for item in RoleAccessList track by item.Text"
                                    ng-model="Model.RoleAccessId"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchUser()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetUser()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>


        <div id="user-table" style="background-color: #fff;">
            <div class="grid-mvc" data-lang="en" data-gridname="" data-selectable="true" data-multiplefilters="false">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance table-hover">

                        <thead>
                            <tr>
                                <th class="grid-header">Full Name</th>
                                <th class="grid-header">Role</th>
                                <th class="grid-header">Company</th>
                                <th class="grid-header">Department</th>
                                <th class="grid-header">Date From</th>
                                <th class="grid-header">Date To</th>
                                <th class="grid-header" style="width: 50px;">
                                    <div class="grid-header-title"><span></span></div>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData track by $index">
                                <td>{{ item.FullName }}<input type="hidden" value="{{ item.ID }}" /></td>
                                <td>{{ item.roleAccess.RoleAccessName }}</td>
                                <td>{{ item.company.CompanyName }}</td>
                                <td>{{ item.department.DepartmentName }}</td>
                                <td>
                                    <a href="#" class="btn btn-xs grey-cascade" style="font-size: 100%;">
                                        <i class="fa fa fa-calendar"></i> 
                                        {{ item.DateFromStr }}</a>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-xs grey-cascade" style="font-size: 100%;">
                                        <i class="fa fa fa-calendar"></i> 
                                        {{ item.DateToStr }}</a>
                                </td>
                                <td data-name=""><a href="@Url.Action(MVC.User.DelegationEntry())/{{ item.ID }}" class="btn default btn-xs purple"><i class="fa fa-edit"></i>Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="grid-footer">
                    <div class="grid-pager">
                        <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="5" ng-model="Model.CurrentPage" ng-change="pageChangedUserList()" boundary-links="true" num-pages="numPages"></ul>

                    </div>

                </div>

            </div>


        </div>



    </div>
</div>


@section FooterScript{

    <script>
        var URI_SEARCH_USER = '@Url.Action(MVC.User.DelegationList())';
        var objModel = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)) };
        

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();

            $scope.RoleAccessList = @Html.Raw(objRoleAccess);
            $scope.DepartmentList = [];

            var SearchUser = function () {
                var elementBlock = '#user-table';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_SEARCH_USER,
                    data: $scope.Model
                }).then(function successCallback(response) {
                    $scope.Model = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.SearchUser = function () {
                $scope.Model.CurrentPage = 1;
                SearchUser();
            }

            $scope.ResetUser = function () {
                $scope.Model = objModel();
                SearchUser();
            }

            $scope.pageChangedUserList = function () {
                SearchUser();
            };

            SearchUser();


        });



    </script>

}
