﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.RoleDelegationModel

@{
    ViewBag.Title = "Role Access Delegation";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "User";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.Index());
    ViewBag.BreadLastLabel = "Role Access Delegation";

    string jsonModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string jsonModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.UserSearchModel());
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div id="user-form" class="portlet box light bordered form-fit">

            <div class="portlet-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_user_detail" data-toggle="tab" aria-expanded="true">
                            <i class="icon-user font-blue-hoki"></i>
                            <span class="caption-subject font-blue-hoki bold uppercase">Form Delegation Role</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="tab-content">
                        <!-- USER DETAIL -->
                        <div class="tab-pane active" id="tab_user_detail">

                            @Html.HiddenFor(x => x.UserId)
                            <div class="form-body">

                                <div class="form-group">

                                    @Html.LabelFor(x => x.FullName, "Full name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">

                                        <div class="input-group">
                                            <div class="input-icon">
                                                <i class="fa fa-user fa-fw"></i>
                                                <input id="Username" type="text" ng-model="Model.FullName" placeholder="Full Name" class="form-control" readonly />
                                            </div>

                                            <span class="input-group-btn">
                                                <a ng-show="!Model.FullName" ng-click="SearchUser()" id="btn-search" href="#" class="btn btn-primary">
                                                    <i class="fa fa-search-plus fa-fw"></i>Search
                                                </a>

                                                <a ng-show="Model.FullName" ng-click="removeUser()" class="btn red" href="#">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </span>

                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(x => x.roleAccess.ID, "Role Delegate", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select id="CompanyId" class="form-control"
                                            ng-model="Model.roleAccess"
                                            data-ng-options="role as role.RoleAccessName for role in DelegationList">
                                            <option value="@Guid.Empty">Select Role</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.company.ID, "Company", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select id="DepartmentId" class="form-control"
                                            ng-model="Model.company"
                                            data-ng-options="company as company.CompanyName for company in Model.roleAccess.Companies">
                                            <option value="@Guid.Empty">Select Company</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.department.ID, "Department", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select id="DepartmentId" class="form-control"
                                            ng-model="Model.department"
                                            data-ng-options="department as department.DepartmentName for department in Model.company.Departments">
                                            <option value="@Guid.Empty">Select Department</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.DateFrom, "Date Range", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <div class="input-group input-large date-picker input-daterange" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                            <input type="text" class="form-control" name="from" ng-model="Model.DateFromStr">
                                            <span class="input-group-addon">to </span>
                                            <input type="text" class="form-control" name="to" ng-model="Model.DateToStr">
                                        </div>
                                        <!-- /input-group -->
                                        <span class="help-block">Select date range </span>
                                    </div>

                                </div>

                                <div class="form-group" ng-show="Model.IsHaveAdditional">
                                    @Html.LabelFor(x => x.roleAccess.AdditionalValue, "Company", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="AdditionalValue" ng-model="Model.roleAccess.AdditionalValue" placeholder="Additional Value" >
                                    </div>
                                </div>

                            </div>



                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button ng-click="SaveDelegation()" type="button" class="btn blue">Save</button>
                                        <button ng-click="removeUser()" type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- END USER DETAIL -->

                    </div>
                </div>
            </div>

        </div>
        @{Html.RenderAction(MVC.Lookup.UserLookup());}

    </div>
</div>


@section FooterScript {

    <script>
        var URI_SEARCH_USER = '@Url.Action(MVC.User.GetListUser())';
        var URI_LIST_DELEGATION = '@Url.Action(MVC.User.DelegationList())';
        var URI_SAVE_DELEGATION = '@Url.Action(MVC.User.DelegationEntry(Guid.Empty))';
        var objModel = function () { return @Html.Raw(jsonModel) };
        var objModal = function () { return @Html.Raw(jsonModal) };

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();
            $scope.Modal = objModal();

            $scope.DelegationList = [];


            $scope.BindingRoleList = function () {
                $scope.DelegationList = $scope.Model.DelegationRoleAccessList;
            }

            if ($scope.Model.FullName != '') {
                $scope.BindingRoleList();
                $scope.Model.roleAccess = [];
            } else {
                $scope.Model.roleAccess = {};
                $scope.Model.company = {};
                $scope.Model.department = {};
            }

            $scope.changeRole = function () {
                console.log($scope.RoleSelected);
            }

            $scope.SearchUser = function () {
                $('#user-lookup').modal('toggle');
            }

            var SearchUser = function () {
                var elementBlock = '#user-table';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_SEARCH_USER,
                    data: $scope.ModalUser
                }).then(function successCallback(response) {
                    $scope.ModalUser = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert("Error Application");
                    unBlockElement(elementBlock);
                });
            }

            $scope.btnSearchLookupItem = function () {
                $scope.Modal.CurrentPage = 1;
                SearchUser();
            }

            $scope.pageChangedUserList = function () {
                SearchUser();
            };

            $scope.removeUser = function () {
                $scope.Model = objModel();
                $scope.DelegationList = [];
                $scope.Model.roleAccess = {};
                $scope.Model.company = {};
                $scope.Model.department = {};
            }

            $scope.SetToModel = function (item) {
                $scope.Model.FullName = item.FullName;
                $scope.Model.UserId = item.ID;
                $('#user-lookup').modal('toggle');
                $scope.BindingRoleList();
            }

            $scope.SaveDelegation = function () {
                var elementBlock = '#user-form';
                BlockElement(elementBlock);
                $scope.Model.UserId = $scope.Model.UserId;

                $http({
                    method: 'POST',
                    url: URI_SAVE_DELEGATION,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    if (response.data.IsSuccess) {
                        window.location = URI_LIST_DELEGATION;
                    } else {
                        showAlert(response.data.Message);
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {

                    console.log(response);
                    bootbox.alert("Error Application");
                    unBlockElement(elementBlock);
                });
            }




        });

    </script>
}