﻿@using JResources.Common
@using GridMvc.Html

@model JResources.Data.Model.UserSearchModel

@{
    ViewBag.Title = "User";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Create User";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.UserDetail(Guid.Empty));

    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);

    List<SelectListItem> ListRoleAccess = (List<SelectListItem>)ViewBag.RoleAccessList;
    string objRoleAccess = Newtonsoft.Json.JsonConvert.SerializeObject(ListRoleAccess);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.UserDetail(Guid.Empty))">
                <i class="fa fa-lock"></i>
                List Role
            </a>

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.UserDetail(Guid.Empty))">
                <i class="fa fa-user"></i>
                Create User
            </a>

        </div>
    </div>
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">User</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, "Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.Name, new { @ng_model = "Model.Name", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.NIKSITE, "Nik Site", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.NIKSITE, new { @ng_model = "Model.NIKSITE", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                    ng-model="Model.CompanyId"
                                    ng-change="SetListDepartment()"
                                    class="select2me form-control">
                                </select>
                            </div>

                            @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.DepartmentName for item in DepartmentList track by item.ID"
                                    ng-model="Model.DepartmentId"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.RoleAccessId, "Role Access", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.Value as item.Text for item in RoleAccessList track by item.Text"
                                    ng-model="Model.RoleAccessId"
                                    class="select2me form-control">
                                </select>
                            </div>

                            
                        </div>


                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchUser()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetUser()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>


        <div id="user-table" style="background-color: #fff;">
            <div class="grid-mvc" data-lang="en" data-gridname="" data-selectable="true" data-multiplefilters="false">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance table-hover">

                        <thead>
                            <tr>
                                <th class="grid-header">Full Name</th>
                                <th class="grid-header">Username</th>
                                <th class="grid-header">Company</th>
                                <th class="grid-header">Department</th>
                                <th class="grid-header" style="width: 50px;">
                                    <div class="grid-header-title"><span></span></div>
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData track by $index">
                                <td><a href="@Url.Action(MVC.User.UserDetail())/{{ item.ID }}">{{ item.FullName }}</a></td>
                                <td data-name="Username">{{ item.Username }}</td>
                                <td data-name=""><a href="@Url.Action( MVC.Company.Detail())/{{ item.CompanyId }}">{{ item.CompanyName }}</a></td>
                                <td data-name=""><a href="@Url.Action(MVC.Department.Detail())/{{ item.DepartmentId }}">{{ item.DepartmentName }}</a></td>
                                <td data-name=""><a href="@Url.Action(MVC.User.UserDetail())/{{ item.ID }}" class="btn default btn-xs purple"><i class="fa fa-edit"></i>Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="grid-footer">
                    <div class="grid-pager">
                        <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="5" ng-model="Model.CurrentPage" ng-change="pageChangedUserList()" boundary-links="true" num-pages="numPages"></ul>

                    </div>

                </div>

            </div>


        </div>



    </div>
</div>


@section FooterScript{

    <script>
        var URI_SEARCH_USER = '@Url.Action(MVC.User.GetListUser())';
        var objModel = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)) };
        

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();

            $scope.CompanyDepartments = @Html.Raw(objCompanyDepartments);
            $scope.RoleAccessList = @Html.Raw(objRoleAccess);
            $scope.DepartmentList = [];

            $scope.SetListDepartment = function(){
                $scope.DepartmentList = [];
                $scope.DepartmentList.push( { ID : "@Guid.Empty", DepartmentName : "SELECT ALL DEPARTMENT" } );

                for (var i = 0; i < $scope.CompanyDepartments.length; i++) {
                    if($scope.CompanyDepartments[i].ID == $scope.Model.CompanyId)
                    {
                        for (var ii = 0; ii < $scope.CompanyDepartments[i].Departments.length; ii++) {
                            $scope.DepartmentList.push(
                                $scope.CompanyDepartments[i].Departments[ii]
                            );
                        }
                    }
                }
            }

            var SearchUser = function () {
                var elementBlock = '#user-table';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_SEARCH_USER,
                    data: $scope.Model
                }).then(function successCallback(response) {
                    $scope.Model = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.SearchUser = function () {
                $scope.Model.CurrentPage = 1;
                SearchUser();
            }

            $scope.ResetUser = function () {
                $scope.Model = objModel();
                SearchUser();
            }

            $scope.pageChangedUserList = function () {
                SearchUser();
            };

            SearchUser();


        });



    </script>

}