﻿@model JResources.Data.Model.UserLoginModel

@{
    Layout = null;
    var SelectSites = new List<SelectListItem>();

    if (ViewBag.SelectCompany != null)
    {
        SelectSites = (List<SelectListItem>)ViewBag.SelectCompany;
        SelectSites = SelectSites.ToList();
    }

    bool IsShowPassword = true;
    if (ViewBag.IsShowPassword != null)
    {
        IsShowPassword = (bool)ViewBag.IsShowPassword;
    }
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>JResources | Login User </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="~/Assets/global/fonts/open-sans.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/Assets/global/img/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-md login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="~/Assets/admin/layout/img/logo-jresources.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="@(IsShowPassword ? Url.Action(MVC.User.Login()) : Url.Action(MVC.User.LoginBySite())) " method="post">
            <h3 class="form-title">Login to your account</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>Enter any username and password. </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                @Html.LabelFor(x => x.Username, "Username", new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @if (IsShowPassword)
                    {
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control placeholder-no-fix", @type = "text", @autocomplete = "off", @placeholder = "Username" });
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control placeholder-no-fix", @type = "text", @autocomplete = "off", @placeholder = "Username", @readonly = "readonly" });
                    }


                </div>
            </div>

            @if (IsShowPassword)
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, "Password", new { @class = "control-label visible-ie8 visible-ie9" })
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="Password" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Site</label>
                    <div class="input-icon">
                        <i class="fa fa-sitemap"></i>
                        <select name="CompanyCode" class="form-control">
                            <option selected value="">Select Site</option>
                            @foreach (var site in SelectSites)
                            {
                                <option value="@site.Value">@site.Text</option>
                            }
                        </select>
                    </div>
                </div>
            }



            <div class="form-actions">
                <label class="checkbox">
                </label>
                <button type="submit" class="btn blue pull-right">
                    Login <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>


        </form>
        <!-- END LOGIN FORM -->

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        @JResources.Common.SiteSettings.DATE_LIVE.Year &copy; @(JResources.Common.SiteSettings.CREATED_BY).
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="~/Assets/global/plugins/respond.min.js"></script>
<script src="~/Assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
    <script src="~/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/Assets/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();
            // init background slide images
            $.backstretch([
             "http://www.jresources.com/assets/uploads/home/1b8b3b7ea8d9e8611e08ae54dc6c0052.jpg",
             "http://www.jresources.com/assets/uploads/home/3e61dc8f7c32a2b233f914cb1239a432.jpg",
             "http://www.jresources.com/assets/uploads/home/198fed9290ea0488dd19cf37253de1dc.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
         );
        });
    </script>
    <!-- END JAVASCRIPTS -->
    @Html.Partial("_Notifications")
</body>
<!-- END BODY -->
</html>
