﻿@using JResources.Common
@using GridMvc.Html

@model IEnumerable<JResources.Data.Role>

@{
    ViewBag.Title = "Role";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Create Role";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.RoleDetail(Guid.Empty));
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.RoleDetail(Guid.Empty))">
                <i class="fa fa-lock"></i>
                List Role
            </a>

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.RoleDetail(Guid.Empty))">
                <i class="fa fa-user"></i>
                Create Role
            </a>

        </div>
    </div>
}


<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(x => x.RoleCode)
                        .Titled("Full Name")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionHref(Url.Action(MVC.User.RoleDetail(x.ID)), x.RoleCode));

                    columns.Add(x => x.RoleName)
                        .Titled("Role Name")
                        .Sortable(true)
                        .Filterable(true);
                    
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionEdit(Url.Action(MVC.User.RoleDetail(x.ID))));

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionDelete(Url.Action(MVC.User.RoleDelete(x.ID))));


                }).SetRowCssClasses(item => item.IsDeleted ? "deleted" : string.Empty).WithPaging(Constant.PAGE_SIZE_DEFAULT)
    </div>
</div>
