﻿@model JResources.Data.Model.RoleModel

@{
    ViewBag.Title = "Role";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Role";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.RoleDetail());
    ViewBag.BreadLastLabel = "Role Detail";

    List<SelectListItem> ListCompany = new List<SelectListItem>();
    if (ViewBag.CompanyList != null)
    {
        ListCompany = (List<SelectListItem>)ViewBag.CompanyList;
    }
}


@section HeaderStyle {
    <link href="~/Assets/admin/pages/css/profile-old.css" rel="stylesheet" type="text/css" />
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.RoleList())">
                <i class="fa fa-users"></i>
                List Role
            </a>

        </div>
    </div>
}


<div class="row profile">
    <div class="col-md-12">
        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Role Form</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm(MVC.User.RoleDetail(), FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                {
                    @Html.HiddenFor(x => x.ID)
                    <div class="form-body">

                        <div class="form-group">
                            @Html.LabelFor(x => x.RoleCode, "Role Code", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.RoleCode, new { @placeholder = "Role Code", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.RoleName, "Role Name", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.RoleName, new { @placeholder = "Role Name", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                            </div>
                            <div class="col-md-4">
                                <button class="btn blue" type="button"><i class="fa fa-plus-circle"></i>Add Role Access Mapping</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label col-md-2">
                            </div>



                            <div class="col-md-10">

                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px;">Role Access Code</th>
                                            <th>Role Access Description</th>
                                            <th style="width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.RoleAccess)
                                        {
                                            <tr>
                                                <td>@item.RoleAccessCode</td>
                                                <td>@item.RoleAccessName</td>
                                                <td>
                                                    <a href="#" class="btn btn-xs red">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </td>
                                            </tr>   
                                        }


                                    </tbody>
                                </table>



                            </div>
                        </div>




                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
