﻿@using JResources.Common
@using GridMvc.Html

@model List<JResources.Data.Model.RoleAccessModel>

@{
    ViewBag.Title = "Role Access";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Manage Role Access";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.RoleAccessList());
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.RoleAccessList())">
                <i class="fa fa-lock"></i>
                List Role
            </a>

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.Index())">
                <i class="fa fa-users"></i>
                List User
            </a>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm(MVC.User.RoleAccessList(), FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
        {
            <table class="table table-striped table-bordered table-advance table-hover" style="width: 700px;">

                <thead>
                    <tr>
                        <th class="grid-header" style="width: 200px;">
                            <div class="grid-header-title"><span>Role Code</span></div>
                        </th>
                        <th>
                            <div class="grid-header-title"><span>Is Have Additional</span></div>
                        </th>
                        <th>
                            <div class="grid-header-title"><span>Is Can Delegate</span></div>
                        </th>
                        <th class="grid-header">
                            <div class="grid-header-title"><span>Role Name</span></div>
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @{ int i = 0; }
                    @foreach (var item in Model)
                    {
                        <tr class="grid-row ">
                            <td class="grid-cell" style="padding: 0;">
                                <input type="hidden" name="[@i].ID" value="@item.ID" />
                                <input type="text" name="[@i].RoleAccessCode" class="form-control" value="@item.RoleAccessCode" readonly style="border: 0;" />
                            </td>
                            <td class="grid-cell" style="padding-top: 0;">
                                <input type="checkbox" name="[@i].IsHaveAdditional" value="True" @(item.IsHaveAdditional?"checked ":"")  />
                            </td>
                            <td class="grid-cell" style="padding-top: 0;">
                                <input type="checkbox" name="[@i].IsCanDelegate" value="True" @(item.IsCanDelegate?"checked ":"")  />
                            </td>
                            <td class="grid-cell" style="padding: 0;">
                                <input type="text" name="[@i].RoleAccessName" class="form-control" value="@item.RoleAccessName" style="border: 0;" />
                            </td>
                        </tr>
                        i++;
                    }

                </tbody>
            </table>

            <div class="row">
                <div class="col-md-2">
                    <button style="width: 100%;" type="submit" class="btn green">Save</button>
                </div>
            </div>

        }
    </div>
</div>


