﻿@using JResources.Data.Model

@model JResources.Data.Model.UserModel

@{
    ViewBag.Title = "User";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "User";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.User.Index());
    ViewBag.BreadLastLabel = "User Detail";


    string objModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    List<CompanyDepartmentModel> CompanyFull = (List<CompanyDepartmentModel>)ViewBag.CompanyFull;
    string ObjNewRoleAccessUser = Newtonsoft.Json.JsonConvert.SerializeObject(new RoleAccessUserModel());
    string ObjCompanyFull = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyFull);
    List<RoleAccessModel> ListRole = (List<RoleAccessModel>)ViewBag.ListRole;
    string ObjListRole = Newtonsoft.Json.JsonConvert.SerializeObject(ListRole);
    string ObjRoleCompany = Newtonsoft.Json.JsonConvert.SerializeObject(new RoleCompanyModel());
}


@section HeaderStyle {
    <link href="~/Assets/admin/pages/css/profile-old.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/jstree/dist/themes/default/style.min.css" />
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.User.Index())">
                <i class="fa fa-users"></i>
                List User
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div id="user-form" class="portlet box light bordered form-fit">

            <div class="portlet-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_user_detail" data-toggle="tab" aria-expanded="true">
                            <i class="icon-user font-blue-hoki"></i>
                            <span class="caption-subject font-blue-hoki bold uppercase">User Profile</span>
                        </a>
                    </li>


                    <li ng-show="Model.NIKSite" class="">
                        <a href="#tab_user_role" data-toggle="tab" aria-expanded="false">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-lock-open font-green-hoki"></i>
                                    <span class="caption-subject font-blue-hoki bold uppercase">Role Access</span>
                                </div>
                            </div>
                        </a>

                    </li>


                    <li ng-show="Model.NIKSite" class="">

                        <a href="#tab_user_history" data-toggle="tab" aria-expanded="false">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-list font-green-hoki"></i>
                                    <span class="caption-subject font-blue-hoki bold uppercase">History</span>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">

                    <div class="tab-content">
                        <!-- USER DETAIL -->
                        <div class="tab-pane active" id="tab_user_detail">
                            <!-- BEGIN FORM-->

                            @Html.HiddenFor(x => x.ID)
                            <div class="form-body">

                                <div class="form-group">

                                    @Html.LabelFor(x => x.Username, "Username", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">

                                        <div class="input-group">
                                            <div class="input-icon">
                                                <i class="fa fa-user fa-fw"></i>
                                                <input id="Username" type="text" ng-model="Model.Username" placeholder="Username" class="form-control" @(Model.ID == Guid.Empty ? "" : "readonly") />
                                            </div>

                                            @if (Model.ID == Guid.Empty)
                                            {
                                                <span class="input-group-btn">
                                                    <a ng-click="SearchUser()" id="btn-search" href="#" class="btn btn-primary"><i class="fa fa-search-plus fa-fw"></i>Search</a>
                                                </span>
                                            }

                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">

                                        <select id="CompanyId" class="form-control"
                                            ng-model="Model.CompanyId"
                                            ng-change="ChangeCompany(Model.CompanyId)"
                                            data-ng-options="company.ID as company.CompanyName for company in CompanyDepartment">
                                            <option value="@Guid.Empty">Select Company</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <select id="DepartmentId" class="form-control"
                                            ng-model="Model.DepartmentId"
                                            data-ng-options="department.ID as department.DepartmentName for department in Department">
                                            <option value="@Guid.Empty">Select Department</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.NIKSite, "NIK Site", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.NIKSite, new { @ng_model = "Model.NIKSite", @placeholder = "NIK Site", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.FullName, "Full Name", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.FullName, new { @ng_model = "Model.FullName", @placeholder = "Full Name", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Email, "Email", new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.Email, new { @ng_model = "Model.Email", @placeholder = "Email", @class = "form-control" })
                                    </div>
                                </div>


                            </div>
                            <!-- END FORM-->



                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button ng-click="SaveUser()" type="button" class="btn blue">Save</button>
                                        <button type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- END USER DETAIL -->

                        <!-- ROLE DETAIL -->
                        <div class="tab-pane" id="tab_user_role">
                            <div class="form-body" style="padding: 10px;">

                                <div class="form-group">
                                    <label class="col-md-2 control-label" style="text-align: left;">Company</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-icon">
                                                <i class="fa fa-lock fa-fw"></i>

                                                <select id="CompanyId" class="form-control"
                                                    ng-model="CompanyRoleId"
                                                    ng-change="GetRoleDeparment()"
                                                    data-ng-options="company.ID as company.CompanyName for company in CompanyDepartment">
                                                    <option value="@Guid.Empty">Select Company</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" style="text-align: left;">Role Access</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-icon">
                                                <i class="fa fa-lock fa-fw"></i>

                                                <select id="select-role" class="form-control"
                                                    ng-model="RoleId"
                                                    ng-change="GetRoleDeparment()"
                                                    data-ng-options="role.ID as role.RoleAccessName for role in ListRole">
                                                    <option value="@Guid.Empty">Select Role</option>
                                                </select>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-2">

                                        <table ng-show="RoleCompany.RoleCompanyDetails.length > 0" class="table table-noborder table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Department</th>
                                                    <th ng-show="RoleCompany.IsHaveAdditional" style="width: 220px;">Additional Value</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in RoleCompany.RoleCompanyDetails track by $index">
                                                    <td>{{ item.DepartmentName }}</td>
                                                    <td ng-show="RoleCompany.IsHaveAdditional" style="padding: 2px;">
                                                        <input type="text" class="form-control input-xs" ng-model="item.AdditionalValue" ng-disabled="!item.IsSelected" />
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" ng-model="item.IsSelected" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr>
                                                    <td colspan="3">
                                                        <button ng-click="UpdateRoleDeparment()" class="btn green">Update Access</button></td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- END ROLE DETAIL -->

                        <div class="tab-pane" id="tab_user_history">
                            <div class="form-body" style="padding: 10px;">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="bg-blue">
                                            <th style="width: 10px;"></th>
                                            <th style="width: 100px;">Date Time</th>
                                            <th style="width: 150px;">Area</th>
                                            <th>Detail Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>


    </div>
</div>

@section FooterScript {
    <script src="~/Assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>


    <script>
        var URI_USER_PROFILE = '@Url.Action(MVC.User.UserDetail())';
        var URI_USER_LIST = '@Url.Action(MVC.User.Index())';
        var URI_SEARCH_USER = '@Url.Action(MVC.JsonData.SearchUserByActiveDirectory())';
        var URI_GET_DEPARTMENT = '@Url.Action(MVC.JsonData.SearchUserByActiveDirectory())';
        var URI_GET_ROLE_DEPARTMENT = '@Url.Action(MVC.User.RoleDepartment())';
        var URI_UPDATE_ROLE_DEPARTMENT = '@Url.Action(MVC.User.UpdateRoleDepartment())';

        var objModel = function () { return @Html.Raw(objModel) };
        var ObjCompanyDepartmentFull = function () { return @Html.Raw(ObjCompanyFull) };
        var ObjListRole = function () { return @Html.Raw(ObjListRole) };
        var ObjNewRoleAccessUser = function () { return @Html.Raw(ObjNewRoleAccessUser) };
        var ObjRoleCompany = function () { return @Html.Raw(ObjRoleCompany) };

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();
            $scope.CompanyDepartment = ObjCompanyDepartmentFull();
            $scope.Department = [];
            $scope.ListRole = ObjListRole();
            $scope.RoleSelect = {};
            $scope.CompanyRoleId = $scope.Model.CompanyId;
            $scope.RoleId = '';
            $scope.RoleCompany = ObjRoleCompany();
            $scope.RoleCompany.UserId = $scope.Model.ID;

            $scope.SearchUser = function () {
                var elementBlock = '#user-form';

                BlockElement(elementBlock);
                var url = URI_SEARCH_USER + "?username=" + $scope.Model.Username;

                $http({
                    method: 'GET',
                    url: url
                }).then(function successCallback(response) {

                    if (response.data.ID == '@Guid.Empty') {
                        if (response.data.NIKSite != null && response.data.NIKSite != '') {
                            $scope.Model.Username = response.data.Username;
                            $scope.Model.NIKSite = response.data.NIKSite;
                            $scope.Model.FullName = response.data.FullName;
                            $scope.Model.Email = response.data.Email;
                        } else {
                            bootbox.alert('User ' + $scope.Model.Username + ' not found');
                            $scope.Model = objModel();
                        }
                    } else {
                        window.location = URI_USER_PROFILE.replace('@Guid.Empty', response.data.ID);
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert('Error Application');
                    unBlockElement(elementBlock);
                });
            }

            $scope.ChangeCompany = function (companyId) {
                BlockElement('#user-form');
                $scope.Department = [];

                for (var i = 0; i < $scope.CompanyDepartment.length; i++) {
                    if ($scope.CompanyDepartment[i].ID == companyId) {
                        $scope.Department = $scope.CompanyDepartment[i].Departments;
                    }
                }

                unBlockElement('#user-form');
            }

            $scope.ChangeCompany($scope.Model.CompanyId);

            $scope.checkRoleDepartment = function (roleId, companyId, departmentId) {

                if (typeof $scope.Model.RoleAccessList != undefined && $scope.Model.RoleAccessList != null) {
                    for (var i = 0; i < $scope.Model.RoleAccessList.length; i++) {
                        var groupRole = $scope.Model.RoleAccessList[i];

                        if (groupRole.RoleAccessID == roleId
                            && groupRole.CompanyId == companyId
                            && groupRole.DepartmentId == departmentId) {
                            return true;
                        }
                    }
                }

                return false;
            }

            $scope.AddRole = function () {
                var newObj = ObjNewRoleAccessUser();
                var roleId = $('#select-role option:selected').val();

                for (var i = 0; i < $scope.ListRole.length; i++) {
                    if ($scope.ListRole[i].ID == roleId) {
                        $scope.ListRole[i].IsSelected = true;

                        newObj.ID = $scope.ListRole[i].ID;
                        newObj.RoleAccessID = $scope.ListRole[i].ID;
                        newObj.RoleAccessCode = $scope.ListRole[i].RoleAccessCode;
                        newObj.RoleAccessName = $scope.ListRole[i].RoleAccessName;
                        $scope.Model.RoleAccessListForView.push(newObj);
                    }
                }


            }

            $scope.AddRoleTable = function () {
                var newObj = ObjNewRoleAccessUser();
                var roleId = $('#select-role option:selected').val();



                for (var i = 0; i < $scope.ListRole.length; i++) {
                    if ($scope.ListRole[i].ID == roleId) {
                        $scope.ListRole[i].IsSelected = true;
                        $('#table-role-list').append('<h1>TESST ' + $scope.ListRole[i].RoleAccessName + '</h1>');
                    }
                }
            }



            var PopulateRoleDepartment = function () {
                var chkRoleDepartment = $('.roledepartmentCh:checked');
                var listRoleDepartment = [];

                if (typeof chkRoleDepartment != undefined && chkRoleDepartment != null && chkRoleDepartment.length > 0) {
                    for (var i = 0; i < chkRoleDepartment.length; i++) {
                        var itemRoleDepartment = $(chkRoleDepartment[i]);

                        listRoleDepartment.push(
                            $(itemRoleDepartment).data('roleid') + '|' + $(itemRoleDepartment).data('companyid') + '|' + $(itemRoleDepartment).data('departmentid')
                            );
                    }
                }

                return listRoleDepartment;
            }


            $scope.SaveUser = function () {
                var elementBlock = '#user-form';
                BlockElement(elementBlock);
                $scope.Model.ListRoleDepartment = PopulateRoleDepartment();
                $http({
                    method: 'POST',
                    url: URI_USER_PROFILE,
                    data: $scope.Model
                }).then(function successCallback(response) {
                    var isRedirect = false;
                    if (response.data.IsSuccess) {
                        window.location = URI_USER_LIST;
                        isRedirect = true;
                    } else {
                        showAlert(response.data.Message);
                    }
                    if (!isRedirect)
                        unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert('Error Application');
                    unBlockElement(elementBlock);
                });

            }






            $scope.GetRoleDeparment = function () {

                var elementBlock = '#tab_user_role';
                BlockElement(elementBlock);

                $scope.RoleCompany.CompanyId = $scope.CompanyRoleId;
                $scope.RoleCompany.RoleAccessId = $scope.RoleId;

                $http({
                    method: 'POST',
                    url: URI_GET_ROLE_DEPARTMENT,
                    data: $scope.RoleCompany
                }).then(function successCallback(response) {
                    $scope.RoleCompany = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert('Error Application');
                    unBlockElement(elementBlock);
                });

            }

            $scope.UpdateRoleDeparment = function () {

                var elementBlock = '#tab_user_role';
                BlockElement(elementBlock);

                $http({
                    method: 'POST',
                    url: URI_UPDATE_ROLE_DEPARTMENT,
                    data: $scope.RoleCompany
                }).then(function successCallback(response) {

                    if (response.data.IsSuccess) {
                        showNotification(response.data.Message);
                    } else {
                        showAlert(response.data.Message);
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert('Error Application');
                    unBlockElement(elementBlock);
                });

            }




        });






    </script>

}