﻿@using JResources.Common
@using JResources.Data.Model
@model JResources.Data.Model.PSTModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "Upload Document";

    ViewBag.Title = "PST DOCUMENT";
    ViewBag.SubTitle = "Create Data";
    ViewBag.BreadCrumbLabel = "PST";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.PST.PSTDocument.Index());
    ViewBag.BreadLastLabel = "Detail PST";

    List<SelectListItem> StorageLocation = (List<SelectListItem>)ViewBag.StorageLocation;
    string jsonModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string jsonModalUser = Newtonsoft.Json.JsonConvert.SerializeObject(new UserSearchModel());
}

@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/angular-wizard-master/dist/angular-wizard.min.css">
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">


            <a href="@Url.Action(MVC.PST.PSTDocument.Index())" class="tooltips btn btn-fit-height blue-ebonyclay">
                <i class="fa fa-users"></i>&nbsp; 
                List PST
            </a>

            <a id="info-start" href="#" class="tooltips btn btn-fit-height blue" style="margin: 0;">
                <i class="fa fa-info-circle" style="margin-right: 0;"></i>
            </a>

        </div>
    </div>
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">



        <div class="portlet light" id="form_wizard">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-blue"></i>Form Wizard - <span class="step-title">Step 1 of 4 </span>
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number">1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>PST Type</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number">2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>PST Create Setup </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step">
                                        <span class="number">3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Personal In Charge </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number">4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i>Confirm </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success">
                                </div>
                            </div>
                            <div class="tab-content form-horizontal form-bordered">

                                <div class="tab-pane active" id="tab1">

                                    <div class="tiles center">

                                        <div ng-click="SetPSTType('@PSTType.SCHEDULE')" ng-class="{'bg-blue-chambray selected': (Model.PSTType=='@PSTType.SCHEDULE'), 'bg-blue-steel' :  (Model.PSTType!='@PSTType.SCHEDULE')}" class="tile">

                                            <div ng-show="Model.PSTType=='@PSTType.SCHEDULE'" class="corner"></div>
                                            <div ng-show="Model.PSTType=='@PSTType.SCHEDULE'" class="check"></div>

                                            <div class="tile-body">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <div class="tile-object">
                                                <div class="name">
                                                    @PSTType.SCHEDULE
                                                </div>
                                                <div class="number">
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-click="SetPSTType('@PSTType.TRANSACTED')" ng-class="{'bg-blue-chambray selected': (Model.PSTType=='@PSTType.TRANSACTED'), 'bg-blue-steel' :  (Model.PSTType!='@PSTType.TRANSACTED')}" class="tile">
                                            <div ng-show="Model.PSTType=='@PSTType.TRANSACTED'" class="corner"></div>
                                            <div ng-show="Model.PSTType=='@PSTType.TRANSACTED'" class="check"></div>

                                            <div class="tile-body">
                                                <i class="fa fa-exchange"></i>
                                            </div>
                                            <div class="tile-object">
                                                <div class="name">
                                                    @PSTType.TRANSACTED
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-click="SetPSTType('@PSTType.RANDOM')" ng-class="{'bg-blue-chambray selected': (Model.PSTType=='@PSTType.RANDOM'), 'bg-blue-steel' :  (Model.PSTType!='@PSTType.RANDOM')}" class="tile">
                                            <div ng-show="Model.PSTType=='@PSTType.RANDOM'" class="corner"></div>
                                            <div ng-show="Model.PSTType=='@PSTType.RANDOM'" class="check"></div>

                                            <div class="tile-body">
                                                <i class="fa fa-refresh"></i>
                                            </div>
                                            <div class="tile-object">
                                                <div class="name">
                                                    @PSTType.RANDOM
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr />
                                    <button ng-disabled="!Model.PSTType" type="button" class="btn blue button-next btn-icon">Next <i class="fa fa-arrow-right"></i></button>
                                </div>

                                <div class="tab-pane" id="tab2">


                                    <h3 class="block">Set your PST Document details</h3>

                                    <div class="form-group" style="border-top: 1px solid #efefef;">

                                        @Html.LabelFor(x => x.PSTDateStr, "PST Date", new { @class = "control-label col-md-3" })
                                        <div class="col-md-3">
                                            <div class="input-group date date-picker">
                                                @Html.TextBox("PSTDateStr", Model.PSTDateStr,
                                                new
                                                {
                                                    @ng_model = "Model.PSTDateStr",
                                                    @class = "form-control",
                                                    @placeholder = "dd/MM/yyyy",
                                                    @readonly = "",
                                                    @ng_change = "PSTPlanning()"
                                                })
                                                <span class="input-group-btn">
                                                    <a class="btn blue" href="#">
                                                        <i class="fa fa-calendar"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.StorageLocation, "Storage Location", new { @class = "control-label col-md-3" })
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x =>
                                                x.StorageLocation,
                                                StorageLocation,
                                                new
                                                {
                                                    @class = "form-control",
                                                    @ng_model = "Model.StorageLocation"
                                                })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3 col-md-offset-3">
                                            <div class="input-group">
                                                @Html.CheckBoxFor(x => x.IsZeroLoc, new { @ng_model = "Model.IsZeroLoc", @value = "true" })
                                                <span style="margin-left: 10px;">Include Zero Qty</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <button type="button" class="btn btn-icon-left default button-previous"><i class="fa fa-arrow-left"></i>Previous</button>
                                    <button type="button" ng-disabled="!ValidationButtonNext2" class="btn blue btn-icon button-next">Next <i class="fa fa-arrow-right"></i></button>
                                </div>

                                <div class="tab-pane" id="tab3">
                                    <h3 class="block">Select the user that will be the PIC</h3>

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.PIC1, "User PIC-1", new { @class = "control-label col-md-3" })
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("PIC1", Model.PIC1Entry,
                                                new
                                                {
                                                    @ng_model = "Model.PIC1.FullName",
                                                    @class = "form-control",
                                                    @placeholder = "User Lookup",
                                                    @readonly = ""
                                                })
                                                <span class="input-group-btn">
                                                    <a ng-click="OpenLookupUser(1)" class="btn blue" href="#">
                                                        <i class="fa fa-user"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.PIC2, "User PIC-2", new { @class = "control-label col-md-3" })
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("PIC2", Model.PIC1Entry,
                                                new
                                                {
                                                    @ng_model = "Model.PIC2.FullName",
                                                    @class = "form-control",
                                                    @placeholder = "User Lookup",
                                                    @readonly = ""
                                                })
                                                <span class="input-group-btn">
                                                    <a ng-click="OpenLookupUser(2)" class="btn blue" href="#"><i class="fa fa-user"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <button type="button" class="btn btn-icon-left default button-previous"><i class="fa fa-arrow-left"></i>Previous</button>
                                    <button type="button" ng-disabled="!Model.PIC1.FullName" class="btn blue btn-icon button-next">Next <i class="fa fa-arrow-right"></i></button>
                                </div>

                                <div class="tab-pane" id="tab4">
                                    <h3 class="block">Confirm your PST Document</h3>
                                    <div class="row">
                                        <div class="col-md-2">

                                            <div class="tiles center">
                                                <div class="tile bg-blue-chambray selected" class="tile">
                                                    <div class="tile-body">
                                                        <i ng-show="Model.PSTType=='@PSTType.SCHEDULE'" class="fa fa-calendar"></i>
                                                        <i ng-show="Model.PSTType=='@PSTType.TRANSACTED'" class="fa fa-exchange"></i>
                                                        <i ng-show="Model.PSTType=='@PSTType.RANDOM'" class="fa fa-refresh"></i>
                                                    </div>

                                                    <div class="tile-object">
                                                        <div class="name">{{ Model.PSTType }}</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    <td style="width: 150px;">PST Date</td>
                                                    <td>{{ Model.PSTDateStr }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Storage Location</td>
                                                    <td>{{ Model.StorageLocation }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Is Zero Location</td>
                                                    <td>
                                                        <i ng-show="Model.IsZeroLoc" class="fa fa-check font-green"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <td>User PIC-1</td>
                                                    <td>{{ Model.PIC1.FullName }}</td>
                                                </tr>
                                                <tr>
                                                    <td>User PIC-2</td>
                                                    <td>{{ Model.PIC2.FullName }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="clearfix">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Item No</th>
                                                    <th>Item Description</th>
                                                    <th>UOM</th>
                                                    <th>Storage Location</th>
                                                    <th>Bin</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in Model.PSTDetails">
                                                    <td><span class="font-blue">{{ item.ItemNo }}</span></td>
                                                    <td>{{ item.ItemDescription }}</td>
                                                    <td>{{ item.UOM }}</td>
                                                    <td>{{ item.Location }}</td>
                                                    <td>{{ item.BinLocation }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <hr />
                                    <button type="button" class="btn btn-icon-left default button-previous"><i class="fa fa-arrow-left"></i>Previous</button>
                                    <button type="button" ng-disabled="!(Model.PSTDetails && Model.PSTDetails.length > 0)" class="btn green btn-icon button-submit">Submit <i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>




        @{Html.RenderAction(MVC.Lookup.UserLookup());}
    </div>
</div>

@section FooterScript{
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/select2/select2.min.js"></script>
    <script src="~/Assets/admin/pages/scripts/form-wizard.js"></script>

    <script>
        var URI_GET_PLANNING = '@Url.Action(MVC.PST.PSTDocument.GetPlanningSchedule())';
        var URI_SEARCH_USER = '@Url.Action(MVC.Lookup.UserLookup())';

        var TYPE = {
            SCHEDULE: '@PSTType.SCHEDULE',
            TRANSACTED_ITEM: '@PSTType.TRANSACTED',
            RANDOM: '@PSTType.RANDOM',
        }

        var objModel = function () { return @Html.Raw(jsonModel) };
        var objModalUser = function () { return @Html.Raw(jsonModalUser) };

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {

            $scope.Model = objModel();
            $scope.ModalUser = objModalUser();

            $scope.ValidationButtonNext2 = false;

            $scope.SetPSTType = function (PSTtype) {
                $scope.Model.PSTType = PSTtype;

                if (PSTtype != TYPE.SCHEDULE) {
                    $scope.ValidationButtonNext2 = true;
                }
            }

            var SearchUser = function () {
                var elementBlock = '#user-lookup';
                BlockElement(elementBlock);
                $scope.ModalUser.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_SEARCH_USER,
                    data: $scope.ModalUser
                }).then(function successCallback(response) {

                    $scope.ModalUser = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.btnSearchLookupItem = function () {
                $scope.ModalUser.CurrentPage = 1;
                SearchUser();
            }

            $scope.ResetUser = function () {
                $scope.ModalUser = objModalUser();
                SearchUser();
            }

            $scope.pageChangedUserList = function () {
                SearchUser();
            };

            $scope.PICLookup = 0;
            $scope.OpenLookupUser = function (picSelect) {
                $scope.PICLookup = picSelect;
                $('#user-lookup').modal('toggle');
            }

            $scope.SetToModel = function (item) {
                if ($scope.PICLookup == 2) {
                    $scope.Model.PIC2 = item;
                } else {
                    $scope.Model.PIC1 = item;
                }

                $('#user-lookup').modal('toggle');
            }

            $scope.PSTPlanning = function () {

                if ($scope.Model.PSTType == TYPE.SCHEDULE) {
                    var elementBlock = '#user-lookup';
                    BlockElement(elementBlock);

                    $http({
                        method: 'POST',
                        url: URI_GET_PLANNING,
                        data: $scope.Model
                    }).then(function successCallback(response) {

                        if (response.data.IsSuccess) {
                            $scope.ValidationButtonNext2 = true;
                            $scope.Model = response.data;
                        } else {
                            $scope.Model.PSTDateStr = '';
                            showAlert(response.data.Message);
                        }

                        unBlockElement(elementBlock);
                    }, function errorCallback(response) {
                        console.log(response);
                        bootbox.alert('Exception');
                        unBlockElement(elementBlock);
                    });
                }



            }




            var handleTitle = function (tab, navigation, index) {
                var total = navigation.find('li').length;
                var current = index + 1;
                // set wizard title
                $('.step-title', $('#form_wizard')).text('Step ' + (index + 1) + ' of ' + total);
                // set done steps
                jQuery('li', $('#form_wizard')).removeClass("done");
                var li_list = navigation.find('li');
                for (var i = 0; i < index; i++) {
                    jQuery(li_list[i]).addClass("done");
                }

                if (current == 1) {
                    $('#form_wizard').find('.button-previous').hide();
                } else {
                    $('#form_wizard').find('.button-previous').show();
                }

                if (current >= total) {
                    $('#form_wizard').find('.button-next').hide();
                    $('#form_wizard').find('.button-submit').show();
                } else {
                    $('#form_wizard').find('.button-next').show();
                    $('#form_wizard').find('.button-submit').hide();
                }

            }

            $('#form_wizard').bootstrapWizard({
                'nextSelector': '.button-next',
                'previousSelector': '.button-previous',
                onTabClick: function (tab, navigation, index, clickedIndex) {
                    return false;
                    /*
                    success.hide();
                    error.hide();
                    if (form.valid() == false) {
                        return false;
                    }
                    handleTitle(tab, navigation, clickedIndex);
                    */
                },
                onNext: function (tab, navigation, index) {
                    handleTitle(tab, navigation, index);
                },
                onPrevious: function (tab, navigation, index) {
                    handleTitle(tab, navigation, index);
                },
                onTabShow: function (tab, navigation, index) {
                    var total = navigation.find('li').length;
                    var current = index + 1;
                    var $percent = (current / total) * 100;
                    $('#form_wizard').find('.progress-bar').css({
                        width: $percent + '%'
                    });
                }
            });

            $('#form_wizard').find('.button-previous').hide();
            $('#form_wizard .button-submit').click(function () {
                alert('Finished! Hope you like it :)');
            }).hide();

        });
    </script>
}