﻿@using JResources.Common
@model JResources.Data.Model.SearchModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PST Planning";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Planning";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.PST.Planning.Index());
    ViewBag.BreadLastLabel = "List Planning";

    string jsonModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.PST.Planning.Detail())">
                <i class="fa fa-building"></i>
                Entry PST Planning
            </a>

        </div>
    </div>
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">


        <!-- HEADER TITLE SECTION START -->
        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">REQUEST</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body form @(Model.IsSearchFilter ? "" : "display-hide")">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SearchCriteria, "Planning No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.SearchCriteria, new { @ng_model = "Model.SearchCriteria", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.MoreCriteria, "Created By", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MoreCriteria, new { @ng_model = "Model.MoreCriteria", @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(x => x.DateFrom, "Expected Date", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                    <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                    <span class="input-group-addon">to </span>
                                    <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchPSTPlanning()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetPSTPlanning()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END HEADER TITLE SECTION -->


        <div class="grid-mvc">
            <div class="grid-wrap">
                <table class="table table-striped table-bordered table-advance">
                    <thead>
                        <tr>
                            <th style="width: 180px;">Planning No</th>
                            <th style="width: 120px;">Created Date</th>
                            <th>Created By</th>
                            <th style="width: 100px;">Date From</th>
                            <th style="width: 100px;">Date To</th>
                            <th style="width: 80px;"><span style="font-size: 70%;">Already used</span></th>
                            <th colspan="2" style="width: 50px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Model.ListData">
                            <td>{{ item.PlanningNo }}</td>
                            <td>{{ item.CreatedDateStr }}</td>
                            <td><span style="font-size: 80%;">{{ item.CreatedBy }}</span></td>
                            <td>{{ item.DateFromStr }}</td>
                            <td>{{ item.DateToStr }}</td>
                            <td>
                                <span ng-show="item.IsUse" class="btn default btn-xs green">
                                    <i class="fa fa-check"></i>
                                </span>
                            </td>
                            <td style="width: 15px;">
                                <button type="button" ng-click="ConfirmDelete(item)" class="btn btn-danger btn-xs">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                            <td style="width: 20px;">
                                <a href="@Url.Action(MVC.PST.Planning.ScheduleView())/{{ item.ID }}" class="btn blue btn-xs"><i class="fa  fa-search-plus"></i>View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-footer">
                <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedPSTPlanningList()" boundary-links="true" num-pages="numPages"></ul>
            </div>

        </div>


    </div>
</div>



@section FooterScript {
    <script src="~/Assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>

    <script>
        var URI_LIST = '@Url.Action(MVC.PST.Planning.Index())';
        var URI_DATA = '@Url.Action(MVC.PST.Planning.GetList())';
        var URI_DELETE = '@Url.Action(MVC.PST.Planning.Delete())';

        var objModel = function () { return @Html.Raw(jsonModel) };

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            var elementBlock = '#PSTPlanning-table';

            $scope.Model = objModel();


            var SearchPSTPlanning = function () {                
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_DATA,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    $scope.Model = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.SearchPSTPlanning = function () {
                $scope.Model.CurrentPage = 1;
                SearchPSTPlanning();
            }

            $scope.ResetPSTPlanning = function () {
                $scope.Model = objModel();
                SearchPSTPlanning();
            }

            $scope.pageChangedPSTPlanningList = function () {
                SearchPSTPlanning();
            };

            $scope.ResetPSTPlanning();

            $scope.ConfirmDelete = function (item) {
                bootbox.confirm({
                    title: "CONFIRM DELETE PST PLANNING",
                    message: "Are you sure to delete this planning",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            

                            $http({
                                method: 'GET',
                                url: URI_DELETE + '/' + item.ID
                            }).then(function successCallback(response) {

                                if (response.data.IsSuccess) {
                                    $scope.ResetPSTPlanning();
                                    showNotification(response.data.Message);
                                } else {
                                    showAlert(response.data.Message);
                                }

                                unBlockElement(elementBlock);
                                $('#workorder-lookup').modal('toggle');
                            }, function errorCallback(response) {
                                console.log(response);
                                bootbox.alert(response.data.Message);
                                unBlockElement(elementBlock);
                            });



                        }
                    }
                });
            }

        });
    </script>
}