/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

#table-detail thead tr th,
#table-detail thead tr td,
#table-detail tbody tr td
{
	font-size: 90%;
	padding: 5px;
}


#form-MSR .form-group label
{
	padding-top: 5px;
}

#form-MSR .form-group div
{
	padding: 0;
}

#form-MSR .form-action
{
	padding: 10px;
}

#table-role > tbody > tr > td,
#table-role > tbody > tr > th,
#table-role > tfoot > tr > td,
#table-role > tfoot > tr > th
{
	padding: 0;
}

	#table-role > tbody > tr > td > input,
	#table-role > tbody > tr > th > input,
	#table-role > tbody > tr > td > div > input,
	#table-role > tbody > tr > td > select
	{
		border-color: #fafafa !important;
		background-image: none !important;
		background-color: #fff !important;
		color: #333333 !important;
		font-size: 12px;
	}

.modal-body .ms-container
{
	width: 500px;
}


.fileUpload
{
	position: relative;
	overflow: hidden;
	/*margin: 10px;*/
}

	.fileUpload input.upload
	{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}

.form-horizontal .control-label
{
	text-align: left;
}

.table-item tbody tr td,
#table-detail tbody tr td {
	font-size: 90%;
	padding: 0;
	/*margin: 0;*/
}

.table-item tbody tr td input,
#table-detail tbody tr td input {
	border: none;
	padding: 6px 6px;
	font-size: 90%;
}


.table-list-input {
	font-size: 90%;
}

	.table-list-input tbody tr td
	{
		padding: 0;
	}

	.table-list-input thead tr th
	{
		font-size: 12px;
	}


	.table-list-input tbody tr td input,
	.table-list-input tbody tr td select
	{
		border-color: #fafafa !important;
		background-image: none !important;
		background-color: #fff !important;
		color: #333333 !important;
		padding-left: 2px;
		padding-right: 2px;
		font-size: 100%;
	}

	.table-list-input tbody tr td.input-issued,
	.table-list-input tbody tr td.input-issued input,
	.table-list-input tbody tr td.input-issued select
	{
		color: #000 !important;
		background-color: #fff !important;
	}


.label-status
{
	width: 100%;
	display: block;
	padding: 4px 8px;
	text-align: justify;
}

.link-status
{
	color : #fff;
	font-weight : bold;
}

#MSR-table table
{
    background-color: #fff;
}

#MSR-table .table thead tr th,
#MSR-table .table tbody tr td
{
    font-size: 85%;
}

.btn-icon i
{
	margin-left: 5px;
}

.btn-icon-left i
{
	margin-right: 5px;
}

.bg-InStock {
	background: #29B4B6 !important;
	color: #fff !important;
}

.bg-Budgeted {
	background: #525E64 !important;
	color: #fff !important;
}

.bg-UnBudgeted {
	background: #F3C200 !important;
	color: #fff !important;
}