﻿<div class="page-footer">
    <div class="page-footer-inner">
        @JResources.Common.SiteSettings.DATE_LIVE.Year &copy; @(JResources.Common.SiteSettings.CREATED_BY).
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
