﻿<li class="dropdown dropdown-user">
    <a href="#" class="dropdown-toggle" style="padding-left: 10px; padding-right: 10px;">
        <img alt="" class="img-circle" src="~/Assets/admin/layout/img/icon-user.png" />
        <span class="username username-hide-on-mobile">@JResources.Data.Model.CurrentUser.FULLNAME </span>
    </a>
</li>

<li class="dropdown dropdown-user">
    <a href="@Url.Action(MVC.User.LogOut())" class="dropdown-toggle">
        <span class="username username-hide-on-mobile">Log Out </span>
        <i class="fa fa-sign-out"></i>
    </a>
</li>
