﻿@using JResources.Common

@model JResources.Data.Model.PSTPlanningModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ScheduleView";
}


@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">


            <a href="@Url.Action(MVC.PST.Planning.Index())" class="tooltips btn btn-fit-height blue-ebonyclay">
                <i class="fa fa-users"></i>&nbsp; 
                List Planning
            </a>

            <a id="info-start" href="#" class="tooltips btn btn-fit-height blue" style="margin: 0;">
                <i class="fa fa-info-circle" style="margin-right: 0;"></i>
            </a>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">

        <div class="portlet box grey" style="border: 1px solid #E5E5E5;">

            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i>PST Planning Schedule View
                </div>
            </div>
            <div class="portlet-body form">

                <div class="form-horizontal form-bordered">
                    <div class="form-body">

                        <div class="form-group" data-step="1" data-position="top" data-intro="PST No akan tergenerate otomatis!">
                            @Html.LabelFor(x => x.PlanningNo, "Document No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-file-powerpoint-o"></i>
                                    </span>

                                    @Html.TextBoxFor(m => m.PlanningNo, new { @class = "form-control", @readonly = "readonly", @placeholder = "Auto Generate" })
                                </div>
                            </div>


                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-2">Date From</label>
                            <div class="col-md-3">

                                <div class="input-group input-medium">
                                    <span class="input-group-btn">
                                        <a class="btn default" href="#">
                                            <i class="fa fa-calendar"></i>
                                        </a>
                                    </span>

                                    @Html.TextBox("Model.DateFromStr", Model.DateFromStr,
                                            new { @ng_model = "Model.DateFromStr", @class = "form-control", @readonly = "" })
                                </div>

                            </div>


                            <label class="control-label col-md-2 col-md-offset-2">Date To</label>
                            <div class="col-md-3">

                                <div class="input-group input-medium">
                                    <span class="input-group-btn">
                                        <a class="btn default" href="#">
                                            <i class="fa fa-calendar"></i>
                                        </a>
                                    </span>

                                    @Html.TextBox("Model.DateToStr", Model.DateToStr,
                                            new { @ng_model = "Model.DateToStr", @class = "form-control", @readonly = "" })
                                </div>

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Created By</label>
                            <div class="col-md-3">

                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <a class="btn default default" data-toggle="modal" href="#user-lookup">
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </span>
                                    @Html.TextBoxFor(x => x.CreatedBy, new
                               {
                                   @class = "form-control",
                                   @disabled = ""
                               })
                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>


        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th>DATE</th>
                    <th>ITEMNO</th>
                    <th>ITEM DESCRIPTION</th>
                    <th>UOM</th>
                    <th>STORAGE LOCATION</th>
                    <th>STORAGE BIN</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int iRow = 0;
                }
                @foreach (var itemByDate in Model.PSTPlanningScheduler)
                {
                    <tr id="row-@iRow" class="row-expand-@iRow">
                        <td>
                            <a href="#row-@iRow" class="btn-expand" data-row="@iRow">
                                <i class="fa fa-plus"></i>
                            </a>
                        </td>
                        <td>@itemByDate.PlanningDate.ToString(Constant.FORMAT_DATE_JRESOURCES)</td>
                        <td colspan="6">Total item @itemByDate.TotalRow</td>
                    </tr>
                            
                    bool isFirst = true;
                    foreach (var item in itemByDate.ListData)
                    {
                        <tr class="row-@iRow" style="display:none;">
                            @if (isFirst)
                            {
                                <td rowspan="@itemByDate.TotalRow" style="border-right: 0;">
                                    <a href="#row-@iRow" class="btn-collapse" data-row="@iRow">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </td>
                                <td rowspan="@itemByDate.TotalRow">@itemByDate.PlanningDate.ToString(Constant.FORMAT_DATE_JRESOURCES)</td>
                            }
                            <td>@item.ItemNo</td>
                            <td>@item.ItemDescription</td>
                            <td>@item.UOM</td>
                            <td>@item.Location</td>
                            <td>@item.Bin</td>
                            <td>@item.BookedQty</td>
                        </tr>                                        
                        isFirst = false;
                    }
                    iRow++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="6">Total All Item @Model.TotalItem</td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>


@section FooterScript {
    <script>
        $('.btn-expand').click(function () {
            var row = $(this).data('row');

            $('.row-' + row).toggle('slow');
            $('.row-expand-' + row).toggle();
        });

        $('.btn-collapse').click(function () {
            var row = $(this).data('row');

            $('.row-expand-' + row).toggle();
            $('.row-' + row).toggle();
        });
    </script>
}