﻿@model JResources.Data.Model.EquipmentModel

@{
    ViewBag.Title = "Equipment Mapping";
}

@{
    ViewBag.Title = "EQUIPMENT MAPPING";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Setting";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Setting.Index());
    ViewBag.BreadLastLabel = "Equipment Mapping";
}


<div class="row">
    <div class="col-md-12">


        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Form @ViewBag.Title</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm(MVC.Setting.EquipmentFRFMapping(), FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                {
                    @Html.HiddenFor(x =>x.EquipmentMappingID)
                    <div class="form-body">

                        <div class="form-group">
                            @Html.LabelFor(x => x.EquipmentCode, "Equipment Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">

                                @Html.TextBoxFor(x => x.EquipmentCode, new { @placeholder = "Equipment Code", @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CostCenter, "Cost Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">

                                @Html.TextBoxFor(x => x.CostCenter, new { @placeholder = "Cost Code", @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.COA, "COA", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">

                                @Html.TextBoxFor(x => x.COA, new { @placeholder = "COA", @class = "form-control" })

                            </div>
                        </div>



                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-check"></i>Save</button>
                                <a href="@Url.Action(MVC.Setting.EquipmentFRFMapping())" class="btn default">Back To List</a>
                            </div>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>

    </div>
</div>
