﻿@model JResources.Data.Model.EquipmentModel

@{
    ViewBag.Title = "Equipment Mapping";
}

@{
    ViewBag.Title = "EQUIPMENT MAPPING";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Setting";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Setting.Index());
    ViewBag.BreadLastLabel = "Equipment Mapping";
}

<link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/datatables.css" />

<div class="row">
    <div class="col-md-12">


        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Form @ViewBag.Title</span>
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add Equipment Mapping
                    </button>

                </div>

            </div>
            <div class="portlet-body form" style="padding: 20px !important;">
                <table id="SearchResultTable" class="table table-striped table-bordered table-advance">
                    <thead>
                        <tr>
                            <th>EquipmentCode</th>
                            <th>CostCenter</th>
                            <th>COA Group</th>
                            <th style="width: 50px;"></th>
                            <th style="width: 50px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>




        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @using (Html.BeginForm(MVC.Setting.EquipmentMapping(), FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                    {
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            @Html.HiddenFor(x => x.EquipmentMappingID)
                            <div class="form-body">

                                <div class="form-group">
                                    @Html.LabelFor(x => x.EquipmentCode, "Equipment Code", new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">

                                        @Html.TextBoxFor(x => x.EquipmentCode, new { @placeholder = "Equipment Code", @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.CostCenter, "Cost Code", new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">

                                        @Html.TextBoxFor(x => x.CostCenter, new { @placeholder = "Cost Code", @class = "form-control" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.COA, "COA Group", new { @class = "control-label col-md-3" })
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.COA, new { @placeholder = "COA", @class = "form-control", @maxlength="10" })
                                    </div>
                                </div>



                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    
                    }
                </div>
            </div>
        </div>



    </div>
</div>
@section FooterScript{
    <script src="~/Assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>

    <script>
        var table = $('#SearchResultTable').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action(MVC.Setting.CustomServerSideSearchAction())",
        type: 'POST'
    },
        "language": {
            "search": "",
            "searchPlaceholder": "Search..."
        },
        "columns": [
            { "data": "EquipmentCode" },
            { "data": "CostCenter" },
            { "data": "COA" },
            {
                "data": "ID",
                "render": function (data, type, row, meta) {
                    if (type === 'display') {
                        data = '<a data-equipmentid="' + data + '" class="btn btn-info btn-sm btn-edit" href="#">Edit</a>';
                    }

                    return data;
                }
            },
            {
                "data": "ID",
                "render": function (data, type, row, meta) {
                    if (type === 'display') {
                        data = '<a data-equipmentid="' + data + '" class="btn btn-danger btn-sm btn-delete" href="#">Delete</a>';
                    }

                    return data;
                }
            }
        ]
    });


$("a.btn-edit").live("click", function () {

    var equipmentid = $(this).data('equipmentid');
    var parent = $(this).parent().parent();
    var td = $(parent).find('td');
    console.log(td);

    for (var i = 0; i < td.length; i++) {
        console.log($(td[i]).text());
    }

    $('#EquipmentMappingID').val(equipmentid);
    $('#EquipmentCode').val($(td[0]).text());
    $('#CostCenter').val($(td[1]).text());
    $('#COA').val($(td[2]).text());

    $('#exampleModal').modal('show');
});

$("a.btn-delete").live("click", function () {

    var equipmentid = $(this).data('equipmentid');
    var r = confirm("Are your sure to delete!");
    if (r == true) {
        window.location.href = ("@Url.Action(MVC.Setting.EquipmentMappingDelete(Guid.Empty))").replace('@Guid.Empty', equipmentid);
            }
        });

    </script>
}
