﻿@model List<JResources.Data.EnumTable>

@{
    ViewBag.Title = "JOB PRIORITY";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Setting";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Setting.Index());
    ViewBag.BreadLastLabel = "Job Priority";
}

<div class="row">
    <div class="col-md-12">

        <form id="job-form" action="@Url.Action(MVC.Setting.JobPriority())" method="post" class="form-horizontal form-bordered form-row-stripped">

            <div class="row">

                <div class="col-md-6">
                    <table class="table table-striped table-bordered table-advance table-hover" style="width: 500px;">
                        <thead>
                            <tr>
                                <th class="grid-header" style="width: 150px;">
                                    <div class="grid-header-title"><span>Job Code</span></div>
                                </th>
                                <th class="grid-header">
                                    <div class="grid-header-title"><span>Value</span></div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int i = 0; }
                            @foreach (var item in Model)
                            {
                                <tr class="grid-row ">
                                    <td class="grid-cell" style="padding: 0;">
                                        <input type="hidden" name="[@i].ID" value="@item.ID" />
                                        <input type="text" name="[@i].EnumValue" class="form-control" value="@item.EnumValue" readonly style="border: 0;" />
                                    </td>
                                    <td class="grid-cell" style="padding: 0;">
                                        <input type="text" name="[@i].EnumLabel" class="form-control" value="@item.EnumLabel" style="border: 0;" />
                                    </td>
                                </tr>
                                i++;
                            }


                        </tbody>

                    </table>
                </div>

                <div class="col-md-6">
                    <div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>Note Lists
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
                            <ul>
                                <li>Value hanya dapat di inputkan dengan angka</li>
                                <li>Value di isi dengan range angka</li>
                                <li>Jika value di isi tanpa range, maka akan diset sebagai nilai default</li>
                                <li>Masukkan Character * Sebagai Free number input</li>
                                <li>Masukkan Character - Sebagai Disabled input</li>
                            </ul>

						</div>
					</div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <button style="width: 100%;" type="submit" class="btn green">Save</button>
                        </div>
                    </div>
                </div>
            </div>


        </form>


    </div>
</div>





