﻿@using JResources.Common

@model JResources.Data.Model.SchedulerSearchModel

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Log Synchronize";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Log Synchronize";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Log.Synchronize());
    ViewBag.BreadLastLabel = "Log Detail";

    string objModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string objModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.MSRIssuedSearchModel());
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
}



<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">ISSUED</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MSRNo, "Issued No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Model.MSRIssuedNo", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.MSRNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Model.MSRNo", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                    ng-model="Model.CompanyId"
                                    ng-change="SetListDepartment()"
                                    class="select2me form-control">
                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.DateFrom, "Created Date", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                    <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                    <span class="input-group-addon">to </span>
                                    <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                </div>
                            </div>

                            @Html.LabelFor(x => x.RequestStatus, "Status Request", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.EnumValue as item.EnumLabel for item in MSRStatus track by item.EnumValue"
                                    ng-model="Model.RequestStatus"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchMSR()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="MSR-table">

            <div class="grid-mvc">
                <div class="grid-wrap">
                    <table id="table-synch" class="table table-striped table-bordered table-advance" style="background-color: #fff;">
                        <thead>
                            <tr>
                                <th class="grid-header highlight" style="width: 170px;">Document No</th>
                                <th class="grid-header" style="width: 150px;">Ref Document No</th>
                                <th class="grid-header" style="width: 140px;">Type</th>
                                <th class="grid-header" colspan="2">Issued Date</th>
                                <th class="grid-header" colspan="2">Manual Date</th>
                                <th class="grid-header" style="width: 140px;">Status Accpac</th>
                                <th class="grid-header" style="width: 70px;">Try Count</th>
                                <th class="grid-header" style="width: 50px;"></th>
                                <th class="grid-header" style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                <td class="grid-cell highlight" data-name="DocumentNo" style="text-align: justify;">
                                    <div class="success"></div>
                                    <span>{{ item.DocumentNo }} </span>
                                </td>
                                <td style="font-size:70%;">{{ item.DocumentRefNo }}</td>
                                <td>
                                    <span class="label label-status {{ item.TypeCssColor }}">{{ item.DocumentType }}</span>
                                </td>
                                <td style="width: 100px;">
                                    <span class="label label-status progress-bar bg-grey-cararra">
                                        <i class="fa fa-calendar font-default"></i> 
                                        {{ item.CreatedDateStr }}
                                    </span>                                    
                                </td>
                                <td style="width: 50px;">
                                    <span class="label label-status progress-bar bg-grey-cararra">
                                        {{ item.CreatedTimeStr }}
                                    </span>                                    
                                </td>
                                <td style="width: 100px;">
                                    <span class="label label-status progress-bar bg-grey-cararra" style="font-size:90%;">
                                        <i class="fa fa-calendar font-default"></i> 
                                        {{ item.ManualPostDateStr }}
                                    </span>                                    
                                </td>
                                <td style="width: 50px;">
                                    <span class="label label-status progress-bar bg-grey-cararra" style="font-size:90%;">
                                        {{ item.ManualPostTimeStr }}
                                    </span>                                    
                                </td>
                                <td style="font-size:80%;">
                                    <span class="label label-status progress-bar {{ item.StatusCssColor }}">{{ item.StatusLabel }}</span>
                                </td>
                                <td>
                                    <span class="badge bg-grey-gallery">{{ item.TryCount }} </span>
                                </td>
                                <td class="grid-cell" data-name="">
                                    <a ng-show="item.LogMessage" ng-click="MSRIssuedModal(item)" href="#table-synch" class="btn default btn-xs"><i class="fa fa-search-plus"></i> 
                                        Log
                                    </a>
                                </td>
                                <td class="grid-cell" data-name="">
                                    <a ng-show="item.IsEnablePost" href="#table-synch" ng-click="SendAccpac(item.ID)" class="btn btn-primary btn-xs"><i class="fa fa-refresh"></i> 
                                        Post
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedMSRList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>


        <div class="modal fade" id="MSR-issued-modal" tabindex="-1" role="MSR-issued-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 0;">


                        <div class="portlet box green" style="margin-bottom: 0;">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list-alt"></i>Issued View Log
                                </div>
                            </div>

                            <div class="portlet-body form" style="margin-bottom: 0;">
                                <!-- BEGIN FORM-->

                                <div id="form-MSR" class="form-horizontal form-bordered">
                                    <div class="form-body">

                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.MSRIssuedNo,
                                            new
                                            {
                                                @ng_model = "Log",
                                                @class = "form-control",
                                                @style = "font-size: 90%;padding: 5px;height: 450px;",
                                                @cols = "20",
                                                @rows = "2"
                                            })
                                        </div>


                                        <div class="form-action" style="border-top: 0;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a ng-click="LogDataModal()" class="btn default pull-left" style="margin-right: 10px;">Log Data</a>
                                                    <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="log-data-modal" tabindex="-1" role="log-data-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 0;">


                        <div class="portlet box green" style="margin-bottom: 0;">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list-alt"></i>Issued View Data Log
                                </div>
                            </div>

                            <div class="portlet-body form" style="margin-bottom: 0;">
                                <!-- BEGIN FORM-->

                                <div id="form-MSR" class="form-horizontal form-bordered">
                                    <div class="form-body">

                                        <div class="form-group" style="height: 464px;">
                                            @Html.TextAreaFor(x => x.MSRIssuedNo,
                                            new
                                            {
                                                @ng_model = "LogData",
                                                @class = "form-control",
                                                @style = "font-size: 90%;padding: 5px;height: 450px;",
                                                @cols = "20",
                                                @rows = "2"
                                            })
                                        </div>


                                        <div class="form-action" style="border-top: 0;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>







    </div>
</div>


@section FooterScript{
    <script>
        var URI_LIST_ISSUED = '@Url.Action(MVC.Log.Synchronize())';
        var URI_SEARCH_MSRISSUED = '@Url.Action(MVC.Log.GetSynchronize())';
        var URI_SEND_ACCPAC = '@Url.Action(MVC.Log.SendAccpac(0))';

        var objModel = function () { return @Html.Raw(objModel) };
        var objCompanyDepartments = function () { return @Html.Raw(objCompanyDepartments) };
    </script>

    <script src="~/Assets/pages/Log/Synchronize.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}