﻿@{
    ViewBag.Title = "Detail";
}


<div class="row" ng-app="JResourcesApp">
    <div id="form-cea" class="col-md-12" ng-controller="JResourcesController">



        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">CEA Form</span>
                    <span class="caption-helper">Information</span>
                </div>
            </div>
            <div class="portlet-body form">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Username
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                CEA-XXXX-XXXX-XXX
                            </td>
                            <td>
                                Tanggal
                            </td>
                            <td>
                                <button  ng-click="GetCEA('00530901-8f8a-46aa-928a-44b99d457294', 'create')" type="button" class="btn default">CREATE</button>
                            </td>
                            <td>
                                <button id="btn-viewx" ng-click="GetCEA('00530901-8f8a-46aa-928a-44b99d457294', 'view')" type="button" class="btn green"><i class="fa fa-pencil"></i> SHOW VIEW</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                CEA-XXXX-XXXX-XXX
                            </td>
                            <td>
                                Tanggal
                            </td>
                            <td>
                                <button type="button" class="btn default">CREATE</button>
                            </td>
                            <td>
                                <button type="button" class="btn green"><i class="fa fa-pencil"></i> SHOW VIEW</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            x
                            <td>
                                CEA-XXXX-XXXX-XXX
                            </td>
                            <td>
                                Tanggal
                            </td>
                            <td>
                                <button type="button" class="btn default">CREATE</button>
                            </td>
                            <td>
                                <button type="button" class="btn green"><i class="fa fa-pencil"></i> SHOW VIEW</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                CEA-XXXX-XXXX-XXX
                            </td>
                            <td>
                                Tanggal
                            </td>
                            <td>
                                <button type="button" class="btn default">CREATE</button>
                            </td>
                            <td>
                                <button type="button" class="btn green"><i class="fa fa-pencil"></i> SHOW VIEW</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>




        <div class="modal fade bs-modal-lg" id="view-cea" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal Title</h4>
                    </div>
                    <div class="modal-body">


                        <div class="tabbable-custom ">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_cea_1" data-toggle="tab">
                                        CEA INFORMATION
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_cea_2" data-toggle="tab">
                                        REQUISITION DETAIL
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_cea_1">
                                    <!-- BEGIN FORM-->
                                    <form action="#" class="form form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">CEA NO</label>
                                                        <div class="col-md-9">
                                                            <input type="text" ng-model="CEA.CEANo" class="form-control" placeholder="CEA NO" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group has-error">
                                                        <label class="control-label col-md-3">Status</label>
                                                        <div class="col-md-9">
                                                            <input type="text" ng-model="CEA.Status" class="form-control" placeholder="NEW" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">CEA DATE</label>
                                                        <div class="col-md-9">
                                                            <input type="text" ng-model="CEA.CEADate" class="form-control" placeholder="CEA DATE" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Company</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->

                                            <h3 class="form-section">Detail Item</h3>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <table id="table-detail" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2" style="width : 50px;">
                                                                    #
                                                                </th>
                                                                <th rowspan="2" style="width : 150px;">
                                                                    Item No
                                                                </th>
                                                                <th rowspan="2">
                                                                    Item Name
                                                                </th>
                                                                <th style="width : 150px;" colspan="3">Qty</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="width : 50px;">Request</th>
                                                                <th style="width : 50px; font-size : 90%;">Outstanding</th>
                                                                <th style="width : 50px;">Purchase</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in CEA.CEAItems track by $index">
                                                                <td>
                                                                    <input type="text" class="form-control" value="{{ item.LineNo }}" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="{{ item.ItemNo }}" class="form-control" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="{{ item.ItemDescription }}" class="form-control" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="{{ item.Qty }}" class="form-control" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->



                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                                <div class="tab-pane" id="tab_cea_2">

                                    <div class="panel-group accordion" id="accordion3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1">
                                                        Collapsible Group Item #1
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3_1" class="panel-collapse in">
                                                <div class="panel-body">
                                                    <form action="#" class="form form-horizontal">
                                                        <div class="form-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">REQUISITION NO</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" ng-model="CEA.CEANo" class="form-control" placeholder="CEA NO" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">REQUISITION DATE</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" value="{{ (new Date()).toString("yyyy-MM-dd") }}" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/row-->

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">WORKFLOW</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <h3 class="form-section">Detail Item</h3>

                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    <table id="table-detail" class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th rowspan="2" style="width : 50px;">
                                                                                    #
                                                                                </th>
                                                                                <th rowspan="2" style="width : 150px;">
                                                                                    Item No
                                                                                </th>
                                                                                <th rowspan="2">
                                                                                    Item Name
                                                                                </th>
                                                                                <th rowspan="2" style="width : 150px;">
                                                                                    Type
                                                                                </th>
                                                                                <th style="width : 150px;" colspan="3">Qty</th>
                                                                                <th rowspan="2" style="width : 40px; "></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th style="width : 50px;">Request</th>
                                                                                <th style="width : 50px; font-size : 90%;">Outstanding</th>
                                                                                <th style="width : 50px;">Purchase</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @for (int i = 1; i < 5; i++)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" value="@i.ToString("00")" readonly="" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" readonly="" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" readonly="" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <select class="form-control">
                                                                                            <option>Option 1</option>
                                                                                            <option>Option 2</option>
                                                                                            <option>Option 3</option>
                                                                                            <option>Option 4</option>
                                                                                            <option>Option 5</option>
                                                                                        </select>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control" readonly="" />
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->



                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2">
                                                        Collapsible Group Item #2
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3_2" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                    <form action="#" class="form form-horizontal">
                                                        <div class="form-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">REQUISITION NO</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control" placeholder="CEA NO" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">REQUISITION DATE</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/row-->

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">WORKFLOW</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <h3 class="form-section">Detail Item</h3>

                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    <table id="table-detail" class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="width : 50px;">
                                                                                    #
                                                                                </th>
                                                                                <th style="width : 150px;">
                                                                                    Item No
                                                                                </th>
                                                                                <th>
                                                                                    Item Name
                                                                                </th>
                                                                                <th style="width : 150px;">
                                                                                    Type
                                                                                </th>
                                                                                <th cols style="width : 150px;">Qty</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="item in CEA.CEAItems track by $index">
                                                                                <td>
                                                                                    <input type="text" class="form-control" value="{{ item.LineNo }}" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" ng-model="item.ItemNo" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" ng-model="item.ItemDescription" class="form-control" readonly="" />
                                                                                </td>

                                                                                <td>
                                                                                    <select class="form-control">
                                                                                        <option>Option 1</option>
                                                                                        <option>Option 2</option>
                                                                                        <option>Option 3</option>
                                                                                        <option>Option 4</option>
                                                                                        <option>Option 5</option>
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" class="form-control" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->



                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_3">
                                                        Collapsible Group Item #3
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3_3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                                                    </p>
                                                    <p>
                                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                                    </p>
                                                    <p>
                                                        <a class="btn green" href="ui_tabs_accordions_navs.html#collapse_3_3" target="_blank">
                                                            Activate this section via URL
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_4">
                                                        Collapsible Group Item #4
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3_4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                                    </p>
                                                    <p>
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                                                    </p>
                                                    <p>
                                                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
                                                    </p>
                                                    <p>
                                                        <a class="btn red" href="ui_tabs_accordions_navs.html#collapse_3_4" target="_blank">
                                                            Activate this section via URL
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>






                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div class="modal fade bs-modal-lg" id="form-requisition" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal Title</h4>
                    </div>
                    <div class="modal-body">

                        <!-- BEGIN FORM-->
                        <form action="#" class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">CEA NO</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="CEA.CEANo" class="form-control" placeholder="CEA NO" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-12">
                                        <div class="form-group has-error">
                                            <label class="control-label col-md-3">WORKFLOW</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="NEW" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">REQUISTION DATE</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="CEA DATE" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->

                                <h3 class="form-section">Detail Item</h3>

                                <div class="row">
                                    <div class="col-md-12">

                                        <table id="table-detail" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" style="width : 50px;">
                                                        #
                                                    </th>
                                                    <th rowspan="2" style="width : 150px;">
                                                        Item No
                                                    </th>
                                                    <th rowspan="2">
                                                        Item Name
                                                    </th>
                                                    <th rowspan="2" style="width : 150px;">
                                                        Type
                                                    </th>
                                                    <th style="width : 150px;" colspan="3">Qty</th>
                                                    <th rowspan="2" style="width : 40px; "></th>
                                                </tr>
                                                <tr>
                                                    <th style="width : 50px;">Request</th>
                                                    <th style="width : 50px; font-size : 90%;">Outstanding</th>
                                                    <th style="width : 50px;">Purchase</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in CEA.CEAItems track by $index">
                                                    <td>
                                                        <input type="text" class="form-control" value="{{ item.LineNo }}" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.ItemNo" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.ItemDescription" class="form-control" readonly="" />
                                                    </td>

                                                    <td>
                                                        <select ng-model="item.Type" class="form-control">
                                                            <option value="">Pilih Type</option>
                                                            <option value="Purchase">Purchase</option>
                                                            <option value="Contract">Contract</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.QtyRequest" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.QtyOutstanding" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.Qty" class="form-control" />
                                                    </td>

                                                    <td>
                                                        <a href="javascript:;" ng-click="removeItem(item)" class="btn btn-icon-only red">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->



                            </div>
                        </form>
                        <!-- END FORM-->




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="CreateRequisition()" class="btn blue">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



    </div>
</div>



@section FooterScript{
    <script>
        $('#btn-view').click(function () {
            $('#view-cea').modal('show');
        });

        $('#btn-create').click(function () {
            $('#form-requisition').modal('show');
        });

        var URI_GET_CEA = '@Url.Action(MVC.CEA.GetByCEAId("IdValue"))';
        var URI_POST_REQUISITION= '@Url.Action(MVC.CEA.PostRequisition())';

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {

            $scope.CEA = {};




            $scope.GetCEA = function (id, type) {

                var elementBlock = '#form-cea';
                BlockElement(elementBlock);

                var uri = URI_GET_CEA.replace("IdValue", id);

                $http({
                    method: 'GET',
                    url: uri
                }).then(function successCallback(response) {
                    console.log(response.data);
                    if (response.data != null) {
                        $scope.CEA = response.data.ResponseObject;
                        if (type === 'view') $('#view-cea').modal('show');
                        if (type === 'create') $('#form-requisition').modal('show');
                    }
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }


            $scope.CreateRequisition = function () {

                var elementBlock = '#MSR-form';
                BlockElement(elementBlock);

                $http({
                    method: 'POST',
                    url: URI_POST_REQUISITION,
                    data: $scope.CEA
                }).then(function successCallback(response) {

                    showAlert(response.data.Message);

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {

                    console.log(response);

                    if (response != null && response.data != null && response.data.Message != null) {
                        showAlert(response.data.Message);
                    } else {
                        bootbox.alert("Error In Application Process");
                    }

                    unBlockElement(elementBlock);
                });
            }



        })


    </script>
}