﻿@using JResources.Common
@using GridMvc.Html
@using Newtonsoft.Json
@using JResources.Data.Model
@model JResources.Data.Model.CEASearchModel

@{
    ViewBag.Title = "CEA";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "CEA";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Detail(Guid.Empty));

    var listCostCenter = (List<SelectListItem>)ViewBag.listCostCenter;
    var listWorkFlowList = (List<SelectListItem>)ViewBag.listWorkFlowList;
    string objCEASearch = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string objCEAModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.CEAModel());
    var listCEAStatus = (List<JResources.Data.EnumTable>)ViewBag.CEAStatus;
    string objCEAStatus = Newtonsoft.Json.JsonConvert.SerializeObject(listCEAStatus);
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
    string objCEAItemModel = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.CEAItemModel());
    string searchItem = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.PartItemSearchModel());
    string itemPartModel = JsonConvert.SerializeObject(new ItemPartModel());
    string MSRDetailModel = JsonConvert.SerializeObject(new MSRDetailModel());
}

<style>
    .swal-overlay--show-modal {
        z-index: 9999999;
    }

    .swal-modal {
        width: 50%;
    }
</style>

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right hide">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.MSR.Detail(Guid.Empty))">
                <i class="fa fa-building"></i>
                Entry MSR
            </a>

        </div>
    </div>
}




<div class="row" ng-app="JResourcesApp">
    <div id="form-cea" class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">REQUEST</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body form @(Model.IsSearchFilter ? "" : "display-hide")">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.CEANo, "CEA No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.CEANo, new { @ng_model = "Model.CEANo", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchCEA()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetCEA()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="MSR-table" style="">

            <div class="grid-mvc">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance">
                        <thead>
                            <tr>
                                @*<th class="grid-header highlight" style="width: 180px;">sys id</th>*@
                                <th>CEA Number</th>
                                <th>CER Draft No</th>
                                <th>CER Number</th>
                                <th>Status</th>
                                <th>Remakrs</th>
                                <th colspan="2" style="width : 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                @*<td class="grid-cell" data-name="sys_id" style="font-size: 70%;">{{ item.sys_id }}</td>*@
                                <td class="grid-cell" data-name="cea_number" style="font-size: 70%;">{{ item.cea_number }}</td>
                                <td class="grid-cell" data-name="cer_draft_number" style="font-size: 70%;">{{ item.cer_draft_number }}</td>
                                <td class="grid-cell" data-name="cer_number" style="font-size: 70%;">{{ item.cer_number }}</td>
                                <td>{{ item.StatusRequestCode }}</td>
                                <td>{{ item.Reason }}</td>
                                <td>
                                    <button ng-show="item.StatusRequestCode!=='COMPLETED'" ng-click="GetCEA(item.sys_id, 'create')" type="button" class="btn default">CREATE</button>
                                </td>
                                <td>
                                    <button ng-click="GetCEA(item.sys_id, 'view')" type="button" class="btn green"><i class="fa fa-lens"></i> VIEW CEA </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedMSRList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>


        <div class="modal fade bs-modal-lg" id="view-cea" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">CEA VIEW</h4>
                    </div>
                    <div class="modal-body">


                        <div class="tabbable-custom ">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_cea_1" data-toggle="tab">
                                        CEA INFORMATION
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_cea_2" data-toggle="tab">
                                        REQUISITION DETAIL
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_cea_1">
                                    <!-- BEGIN FORM-->
                                    <form action="#" class="form form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">CEA NO</label>
                                                        <div class="col-md-9">
                                                            <input type="text" ng-model="CEA.CEANo" class="form-control" placeholder="CEA NO" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group has-error">
                                                        <label class="control-label col-md-3">Status</label>
                                                        <div class="col-md-9">
                                                            <input type="text" ng-model="CEA.Status" class="form-control" placeholder="NEW" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">CEA DATE</label>
                                                        <div class="col-md-9">
                                                            <input type="text" ng-model="CEA.CEADateStr" class="form-control" placeholder="CEA DATE" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Company</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->

                                            <h3 class="form-section">Detail Item</h3>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <table class="table table-bordered table-hover table-item">

                                                        <thead>
                                                            <tr>
                                                                <th style="width : 50px;">
                                                                    #
                                                                </th>
                                                                <th style="width : 150px;">
                                                                    Item No
                                                                </th>
                                                                <th>
                                                                    Item Name
                                                                </th>
                                                                <th style="width : 150px;">Qty</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in CEA.CEAItems track by $index">
                                                                <td>
                                                                    <input type="text" class="form-control" value="{{ item.LineNo }}" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="{{ item.ItemNo }}" class="form-control" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="{{ item.ItemDescription }}" class="form-control" readonly="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" value="{{ item.QtyRequest }}" class="form-control" readonly="" />
                                                                </td>
                                                                @*<td>
                                                                        <input type="text" class="form-control" readonly="" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" />
                                                                    </td>*@
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->



                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                                <div class="tab-pane" id="tab_cea_2">

                                    <div class="panel-group accordion" id="accordion3">

                                        <div ng-repeat="item in CEA.History track by $index" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_{{ $index }}">
                                                        {{ item.RequisitionNo }}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3_{{ $index }}" class="panel-collapse ">
                                                <div class="panel-body">
                                                    <div action="#" class="form form-horizontal">
                                                        <div class="form-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">REQUISITION NO</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" ng-model="item.RequisitionNo" class="form-control" placeholder="CEA NO" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/row-->
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">REQUISITION DATE</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" ng-model="item.RequisitionDate" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/row-->

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">WORKFLOW</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" ng-model="item.WorkFlowName" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-md-3">TYPE</label>
                                                                        <div class="col-md-9">
                                                                            <input type="text" ng-model="item.RequisitionType" class="form-control" placeholder="CEA DATE" readonly="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <h3 class="form-section">Detail Item</h3>

                                                            <div class="row">
                                                                <div class="col-md-12">

                                                                    <table class="table table-bordered table-hover table-item">
                                                                        <thead>
                                                                            <tr>
                                                                                @*<th style="width : 50px;">
                                                                                        #
                                                                                    </th>*@
                                                                                <th style="width : 150px;">
                                                                                    Item No
                                                                                </th>
                                                                                <th>
                                                                                    Item Name
                                                                                </th>
                                                                                <th style="width : 150px;">
                                                                                    Type
                                                                                </th>
                                                                                <th style="width : 150px;">Qty</th>
                                                                                <th style="width : 150px;">Unit Cost</th>
                                                                                <th style="width : 150px;">Sub Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="itemDetail in item.Items track by itemDetail.LineNo">
                                                                                @*<td>
                                                                                        <input type="text" class="form-control" value="{{ itemDetail.LineNo }}" readonly="" />
                                                                                    </td>*@
                                                                                <td>
                                                                                    <input type="text" value="{{ itemDetail.ItemNo }}" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" value="{{ itemDetail.ItemDescription }}" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" value="{{ itemDetail.ItemType }}" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" value="{{ itemDetail.Qty }}" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" value="{{ itemDetail.UnitCost }}" class="form-control" readonly="" />
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" value="{{ itemDetail.Qty * itemDetail.UnitCost }}" class="form-control" readonly="" />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <button type="button" ng-click="CheckCancellation(item.RequisitionNo)" class="btn btn-danger">Cancel</button>
                                                                </div>
                                                                <!--/span-->
                                                            </div>
                                                            <!--/row-->



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>






                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <div class="modal fade bs-modal-lg" id="form-requisition" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width:90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">REQUISTION FORM</h4>
                    </div>
                    <div class="modal-body">

                        <!-- BEGIN FORM-->
                        <form action="#" class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">CEA NO</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="CEA.CEANo" class="form-control" placeholder="CEA NO" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">CEA Date</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="CEA.CEADateStr" class="form-control" placeholder="CEA Date" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Cost Center</label>
                                            <div class="col-md-9">
                                                <select ng-model="CEA.CostCenter" class="form-control">
                                                    @foreach (var item in listCostCenter)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-12">
                                        <div class="form-group has-error">
                                            <label class="control-label col-md-3">WORKFLOW</label>
                                            <div class="col-md-9">
                                                <select ng-model="CEA.WorkFlow" class="form-control">
                                                    @foreach (var item in listWorkFlowList)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">REQUISTION DATE</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="CEA.CreatedDateStr" class="form-control" placeholder="CEA DATE" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">TOTAL AMOUNT</label>
                                            <div class="col-md-3">
                                                <input type="text" value="{{CEA.TotalAmountStr}}" class="form-control text-right" placeholder="CEA AMOUNT" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">TOTAL AMOUNT RQN</label>
                                            <div class="col-md-3">
                                                <input type="text" value="{{CEA.TotalAmountRQNStr}}" class="form-control text-right" placeholder="CEA AMOUNT" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">TOTAL AMOUNT NEW</label>
                                            <div class="col-md-3">
                                                <input type="text" value="{{AmountTotal}}" class="form-control text-right" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <!--/row-->

                                <h3 class="form-section">Material / Services Items</h3>

                                <div class="row">
                                    <div class="col-md-12">

                                        <table id="table-detail" class="table table-bordered table-hover table-item">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" style="width : 40px;">
                                                        #
                                                    </th>
                                                    <th rowspan="2" style="width : 150px;">
                                                        Item No
                                                    </th>
                                                    <th rowspan="2">
                                                        Item Name
                                                    </th>
                                                    <th rowspan="2">
                                                        GL Account
                                                    </th>
                                                    <th rowspan="2" style="width : 100px;">
                                                        Is Contract
                                                    </th>
                                                    <th style="width : 150px;" colspan="3">Qty</th>
                                                    <th rowspan="2" style="width : 100px;">
                                                        Unit Cost
                                                    </th>
                                                    <th rowspan="2" style="width : 40px; "></th>
                                                </tr>
                                                <tr>
                                                    <th style="width : 50px;">Request</th>
                                                    <th style="width : 50px; font-size : 90%;">Outstanding</th>
                                                    <th style="width : 50px;">Purchase</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="item in CEA.CEAItems track by $index">
                                                    <td>
                                                        <input type="text" class="form-control" value="{{ item.LineNo }}" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.ItemNo" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.ItemDescription" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.GLAccount" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <div ng-show="!item.IsReference">
                                                            <input type="checkbox" ng-show="item.QtyOutstanding===item.QtyRequest" ng-model="item.IsContract" class="form-control" ng-disabled="item.IsExclude" style="width : 25px; margin : 0; margin-left : 5px;" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.QtyRequest" class="form-control" readonly="" />
                                                    </td>
                                                    <td ng-show="!item.IsCompleted">
                                                        <input type="text" ng-model="item.QtyOutstanding" class="form-control" readonly="" />
                                                    </td>
                                                    <td ng-show="!item.IsCompleted">
                                                        <div ng-show="!item.IsReference">
                                                            <input type="text" ng-model="item.Qty" ng-disabled="item.IsExclude" ng-show="!item.IsContract" ng-change="CalculateAmount()" class="form-control" />
                                                            <input type="text" ng-model="item.QtyRequest" ng-show="item.IsContract" class="form-control" readonly="" />
                                                        </div>
                                                    </td>
                                                    <td ng-show="!item.IsCompleted">
                                                        <input type="text" ng-model="item.UnitCost" ng-disabled="item.IsCompleted || item.IsReference" ng-change="CalculateAmount()" class="form-control" />
                                                    </td>
                                                    <td ng-show="!item.IsCompleted">
                                                        <div ng-show="!item.IsReference">
                                                            <a href="javascript:;" ng-show="!item.IsCompleted" ng-click="removeItem(item)" class="btn btn-icon-only red">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </div>
                                                    </td>

                                                    <td colspan="4" ng-show="item.IsCompleted">
                                                        <input type="text" disabled value="COMPLETED" class="form-control" />
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->


                                <h3 class="form-section">Sub Items</h3>

                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="table-detail-additional" class="table table-bordered table-hover table-item">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" style="width : 40px;">
                                                        #
                                                    </th>
                                                    <th rowspan="2" style="width : 150px;">
                                                        Reference Item
                                                    </th>
                                                    <th rowspan="2" style="width : 150px;">
                                                        Item No
                                                    </th>
                                                    <th rowspan="2">
                                                        Item Name
                                                    </th>
                                                    <th rowspan="2">
                                                        GL Account
                                                    </th>
                                                    <th style="width : 150px;">Qty</th>
                                                    <th rowspan="2" style="width : 100px;">
                                                        Unit Cost
                                                    </th>
                                                    <th rowspan="2" style="width : 40px; "></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in CEA.CEAAdditionalItems track by $index">
                                                    <td>
                                                        <input type="text" class="form-control" value="{{ item.LineNo }}" readonly="" />
                                                    </td>
                                                    <td>
                                                        <select ng-disabled="item.IsCompleted" ng-model="item.ReferenceId" ng-change="ChangeReference(item)" class="form-control">
                                                            <option ng-repeat="ItemReference in CEA.CEAItems track by $index" ng-disabled="ItemReference.IsContract||ItemReference.IsExclude||ItemReference.QtyRequest!==ItemReference.QtyOutstanding" value="{{ItemReference.ID}}" style="font-size: 80%;">{{ItemReference.ItemNo}}-{{ItemReference.ItemDescription}}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <button class="btn blue" type="button" ng-disabled="item.IsCompleted" ng-click="lookupSearch(item.IdLookup)">
                                                                <i class="fa fa-search-plus"></i>
                                                            </button>
                                                            <input ng-model="item.ItemNo" type="text" class="form-control bg-grey" readonly="" style="width: 100px;">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.ItemDescription" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.GLAccount" class="form-control" readonly="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.Qty" ng-disabled="item.IsCompleted" ng-change="CalculateAmount()" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="text" ng-model="item.UnitCost" ng-disabled="item.IsCompleted" ng-change="CalculateAmount()" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <a href="javascript:;" ng-show="!item.IsCompleted" ng-click="removeAdditionalItem(item)" class="btn btn-icon-only red">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <button ng-click="AddAdditionalItem()" type="button" class="btn btn-default">Add Item</button>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->



                            </div>
                        </form>
                        <!-- END FORM-->




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="CreateRequisition()" class="btn blue">Push Requisition</button>
                        <button type="button" ng-hide="CEA.Status==='COMPLETED'||CEA.Status==='CLOSED'" ng-click="CompletedCEA(CEA)" class="btn green" style="float: left;">Completed</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        @{Html.RenderAction(MVC.Lookup.ItemPartCEALookup());}
    </div>
</div>



@section FooterScript{
    <script>
        var URI_LIST_CEA = '@Url.Action(MVC.CEA.Index())';
        var URI_SEARCH_CEA = '@Url.Action(MVC.CEA.GetListCEA())';
        var URI_SEARCH_ITEM = '@Url.Action(MVC.Lookup.ItemPart())';
        var URI_SEARCH_ITEM = '@Url.Action(MVC.Lookup.ItemPartLookup())';

        var URI_GET_CEA = '@Url.Action(MVC.CEA.GetByCEAId("IdValue"))';
        var URI_POST_REQUISITION = '@Url.Action(MVC.CEA.PostRequisition())';
        var URI_COMPLETED_CEA = '@Url.Action(MVC.CEA.CompleteCEA(Guid.Empty))';
        var URI_POST_REQUISITION = '@Url.Action(MVC.CEA.PostRequisition())';
        var URI_CHECK_CANCEL = '@Url.Action(MVC.CEA.GetRQNPO())';
        var URI_CANCELLATION = '@Url.Action(MVC.CEA.CancelRQN())';

        var objModel = function () { return @Html.Raw(objCEASearch) };
        var objMSRStatus = function () { return @Html.Raw(objCEAStatus) };
        var objMSRModal = function () { return @Html.Raw(objCEAModal) };
        var objCompanyDepartments = function () { return @Html.Raw(objCompanyDepartments) };
        var objCEAItemModel = function () { return @Html.Raw(objCEAItemModel) };
        var objFormLookupItem = function () { return @Html.Raw(searchItem) };
        var objItemPartModel = function () { return @Html.Raw(itemPartModel) };
        var objMSRDetailModel = function () { return @Html.Raw(MSRDetailModel) };
    </script>

    <script src="~/Assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/holder.js" type="text/javascript"></script>

    <script>

        function BindAutoComplete() {

            $('.item-search').devbridgeAutocomplete({
                serviceUrl: URI_SEARCH_ITEM,
                onSelect: function (suggestion) {
                    $(this).val(suggestion.ItemNo);
                }
            });
        }

        var NewId = function () {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap', '720kb.tooltips']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();
            $scope.Modal = objMSRModal();
            $scope.CEA = {};
            $scope.MSRStatus = objMSRStatus();
            $scope.CompanyDepartments = objCompanyDepartments();
            $scope.DepartmentList = [];
            $scope.IsCanAdditional = true;
            $scope.FormLookupItem = {};


            //c23f44
            $scope.GetCEA = function (id, type) {

                var elementBlock = '#form-cea';
                BlockElement(elementBlock);

                var uri = URI_GET_CEA.replace("IdValue", id);

                $http({
                    method: 'GET',
                    url: uri
                }).then(function successCallback(response) {
                    console.log(response.data);
                    if (response.data != null) {
                        $scope.CEA = response.data.ResponseObject;
                        if (type === 'view') $('#view-cea').modal('show');
                        if (type === 'create') $('#form-requisition').modal('show');
                    }
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.removeItem = function (item) {
                item.IsExclude = !item.IsExclude;
            }

            $scope.removeAdditionalItem = function (item) {

                var newList = [];
                var itemNumber = $scope.CEA.CEAItems.length + 1;

                for (var i = 0; i < $scope.CEA.CEAAdditionalItems.length; i++) {
                    var itemAdditional = $scope.CEA.CEAAdditionalItems[i];
                    if (item.IdLookup !== itemAdditional.IdLookup) {
                        itemAdditional.LineNo = itemNumber++;
                        newList.push(itemAdditional);
                    }
                        
                }

                $scope.CEA.CEAAdditionalItems = newList;

            }

            $scope.CreateRequisition = function () {

                var elementBlock = '#form-requisition .modal-content';
                BlockElement(elementBlock);
                //$('#form-requisition').modal('hide');

                $http({
                    method: 'POST',
                    url: URI_POST_REQUISITION,
                    data: $scope.CEA
                }).then(function successCallback(response) {

                    if (response.data.IsSuccess) {
                        swal("Success Post RQN!", response.data.Message, "success");
                        $('#form-requisition').modal('hide');
                    } else {
                        swal("Failed Post RQN!", response.data.Message, "error");
                    }

                    $scope.ResetCEA();
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);

                    if (response != null && response.data != null && response.data.Message != null) {
                        swal("Failed Post RQN Exception!", response.data.Message, "error");
                    } else {
                        swal("Failed Post RQN Exception!", "Error In Application Process", "error");
                    }

                    unBlockElement(elementBlock);
                });
            }

            var SearchCEA = function () {
                var elementBlock = '#MSR-table';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];
                $scope.Model.IsRecentActivity = true;

                $http({
                    method: 'POST',
                    url: URI_SEARCH_CEA,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    $scope.Model = response.data;
                    unBlockElement(elementBlock);
                    $('.tooltips').tooltip();
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.SearchCEA = function () {
                $scope.Model.CurrentPage = 1;
                SearchCEA();
            }

            $scope.ResetCEA = function () {
                $scope.Model = objModel();
                SearchCEA();
            }

            $scope.pageChangedMSRList = function () {
                SearchCEA();
            };

            $scope.ResetCEA();

            var resetLookupSearch = function () {
                $scope.FormLookupItem = objFormLookupItem();
                var itemModel = objItemPartModel();
                $scope.FormLookupItem.ListData = [];
                for (var i = 0; i < 5; i++) {
                    $scope.FormLookupItem.ListData.push(itemModel);
                }
            }

            $scope.ChangeReference = function (item) {
                for (var i = 0; i < $scope.CEA.CEAItems.length; i++) {
                    var CEAItem = $scope.CEA.CEAItems[i];
                    if (CEAItem.ID === item.ReferenceId) {
                        item.GLAccount = CEAItem.GLAccount;
                        item.Location = CEAItem.Location;
                        item.CCCODE = CEAItem.CCCODE;
                        CEAItem.Qty = 0;
                    }
                }

                console.log(item);
            }

            $scope.AddAdditionalItem = function () {
                var model = objCEAItemModel();
                model.IdLookup = NewId();
                var lineNo = 0;
                if ($scope.CEA.CEAItems && $scope.CEA.CEAItems.length > 0) {
                    lineNo += $scope.CEA.CEAItems.length;
                }

                if ($scope.CEA.CEAAdditionalItems && $scope.CEA.CEAAdditionalItems.length > 0) {
                    lineNo += $scope.CEA.CEAAdditionalItems.length;
                }
                model.LineNo = lineNo + 1;
                $scope.CEA.CEAAdditionalItems.push(model);
            }

            $scope.lookupSearch = function (idItemLookup) {
                $scope.TargetMSRDetail = idItemLookup;
                resetLookupSearch();
                $('#itempart-lookup').modal('toggle');
            }

            var SearchLookupItem = function () {
                var elementBlock = '#itempart-lookup .modal-body';
                BlockElement(elementBlock);

                $scope.FormLookupItem.CostCenter = $scope.Model.CostCenter;
                $scope.FormLookupItem.DepartmentId = $scope.Model.DepartmentId;
                $scope.FormLookupItem.IsInventory = false;

                $http({
                    method: 'POST',
                    url: URI_SEARCH_ITEM,
                    data: $scope.FormLookupItem
                }).then(function successCallback(response) {
                    console.log(response.data);
                    $scope.FormLookupItem = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.btnSearchLookupItem = function () {
                $scope.FormLookupItem.CurrentPage = 1;
                SearchLookupItem();
            }

            $scope.pageChangedLookupItem = function () {
                SearchLookupItem();
            };

            $scope.btnInsertItemToList = function (item) {
                var itemModel = objMSRDetailModel();
                console.log(item);

                for (var i = 0; i < $scope.CEA.CEAAdditionalItems.length; i++) {
                    if ($scope.CEA.CEAAdditionalItems[i].IdLookup == $scope.TargetMSRDetail) {
                        $scope.CEA.CEAAdditionalItems[i].ItemNo = item.ItemNo;
                        $scope.CEA.CEAAdditionalItems[i].ItemDescription = item.Description;
                        $scope.CEA.CEAAdditionalItems[i].UnitCost = item.TotalCost;
                        $scope.CEA.CEAAdditionalItems[i].UnitCostLimit = item.TotalCost;
                        $scope.CEA.CEAAdditionalItems[i].UOM = item.UOM;

                        $scope.CEA.CEAAdditionalItems[i].Category = item.Category;
                        $scope.CEA.CEAAdditionalItems[i].CategoryLabel = item.CategoryLabel;
                        $scope.CEA.CEAAdditionalItems[i].ItemLocations = item.ItemLocations;
                    }
                }

                $('#itempart-lookup').modal('toggle');
            }

            $scope.CompletedCEA = function (obj) {

                var messageDialog = "By confirming, you've confirm to completed CEA " + obj.CEANo;

                bootbox.confirm({
                    message: messageDialog,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var elementBlock = '#form-requisition .modal-content';
                            BlockElement(elementBlock);

                            var uri = URI_COMPLETED_CEA.replace(GUID_EMPTY, obj.CEAId);

                            $http({
                                method: 'GET',
                                url: uri
                            }).then(function successCallback(response) {
                                console.log(response.data);
                                if (response.data.IsSuccess) {
                                    swal("Success Completed CEA!", response.data.Message, "success");
                                    $('#form-requisition').modal('hide');
                                    for (var i = 0; i < $scope.Model.ListData.length; i++) {
                                        var model = $scope.Model.ListData[i];
                                        if (model.ID == obj.CEAId) {
                                            model.StatusRequestCode = "COMPLETED"
                                        }
                                    }
                                } else {
                                    swal("Failed Completed CEA!", response.data.Message, "error");
                                }
                                unBlockElement(elementBlock);
                            }, function errorCallback(response) {
                                console.log(response);
                                bootbox.alert(response.data.Message);
                                unBlockElement(elementBlock);
                            });
                        }


                    }
                });



            }

            //URI_COMPLETED_CEA


            function FormatTotal(bilangan) {
                bilangan = bilangan.toFixed(2);
                //var bilangan = "23456789,32";

                var number_string = bilangan.toString(),
                    split = number_string.split('.'),
                    sisa = split[0].length % 3,
                    rupiah = split[0].substr(0, sisa),
                    ribuan = split[0].substr(sisa).match(/\d{1,3}/gi);

                if (ribuan) {
                    separator = sisa ? ',' : '';
                    rupiah += separator + ribuan.join(',');
                }

                return split[1] != undefined ? rupiah + '.' + split[1] : rupiah;
            }

            $scope.AmountTotal = 0;
            $scope.CalculateAmount = function () {
                var AmountTotal = 0;

                for (var i = 0; i < $scope.CEA.CEAItems.length; i++) {
                    var CEAItem = $scope.CEA.CEAItems[i];
                    if (CEAItem.Qty > 0) {
                        AmountTotal += CEAItem.Qty * CEAItem.UnitCost;
                    }
                }

                for (var i = 0; i < $scope.CEA.CEAAdditionalItems.length; i++) {
                    var CEAItem = $scope.CEA.CEAAdditionalItems[i];
                    if (CEAItem.ID === GUID_EMPTY && !CEAItem.IsCompleted) {
                        AmountTotal += CEAItem.Qty * CEAItem.UnitCost;
                    }
                }
                console.log(AmountTotal);
                $scope.AmountTotal = FormatTotal(AmountTotal); 
            }

            function RQNCancellation(RQNNumber) {
                var elementBlock = '#form-cea';
                BlockElement(elementBlock);

                var uri = URI_CANCELLATION + "?RQNNumber=" + RQNNumber;

                $http({
                    method: 'GET',
                    url: uri
                }).then(function successCallback(response) {
                    console.log(response.data);

                    if (response.data.IsSuccess) {
                        swal("Success Cancel RQN!", response.data.Message, "success");
                        $('#view-cea').modal('hide');
                    } else {
                        swal("Failed Cancel RQN!", response.data.Message, "error");
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.CheckCancellation = function (RQNNumber) {

                var elementBlock = '#form-cea';
                BlockElement(elementBlock);

                var uri = URI_CHECK_CANCEL + "?RQNNumber=" + RQNNumber;

                $http({
                    method: 'GET',
                    url: uri
                }).then(function successCallback(response) {
                    console.log(response.data);

                    if (response.data != null && response.data.IsSuccess) {
                        var IsCancel = confirm("Are you sure, " + response.data.Message);
                        if (IsCancel) {
                            RQNCancellation(RQNNumber);
                        }
                    } else {
                        bootbox.alert('Dont have any detail will be cancel');
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }


        });

    </script>
}

