﻿@model List<JResources.Data.Model.MenuModel>
@{
    var menus = JResources.Web.FunctionWebHelpers.SetCurrentMenu(Model);
    
}

<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px;">
            @{
                bool IsFirst = true;
            }

            @foreach (var menuFirst in menus)
            {
                if (menuFirst.IsHeading)
                {
                    <li class="heading @(menuFirst.IsHide ? "hide" : "")">
                        <h3 class="uppercase">@menuFirst.NameMenu</h3>
                    </li>
                }
                else
                {
                
                <li class="@(IsFirst ? "start" : "") @(menuFirst.IsCurrent ? "active open" : "") @(menuFirst.IsHide ? "hide" : "")">

                    <a href="@(!string.IsNullOrEmpty(menuFirst.Url) ? menuFirst.Url : "#")">

                        @if (!string.IsNullOrEmpty(menuFirst.Icon))
                        {
                            <i class="@menuFirst.Icon"></i>
                        }

                        <span class="title">@menuFirst.NameMenu</span>
                        @if (menuFirst.ChildsMenus != null && menuFirst.ChildsMenus.Count > 0)
                        {
                            if (menuFirst.IsCurrent)
                            {
                            <span class="selected"></span>
                            }
                            <span class="arrow @(menuFirst.IsCurrent ? "open" : "")"></span>
                        }
                    </a>

                    @if (menuFirst.ChildsMenus != null && menuFirst.ChildsMenus.Count > 0)
                    {
                        <ul class="sub-menu">
                            @foreach (var menuChild in menuFirst.ChildsMenus)
                            {
                                <li class="@(menuChild.IsCurrent ? "active" : "") @(menuChild.IsHide ? "hide" : "")">
                                    <a href="@(!string.IsNullOrEmpty(menuChild.Url) ? menuChild.Url : "#")">
                                        @if (!string.IsNullOrEmpty(menuChild.Icon))
                                        {
                                            <i class="@menuChild.Icon"></i>
                                        }
                                        @menuChild.NameMenu
                                    </a>
                                </li> 
                            }

                        </ul>
                    }
                </li>
                
                }

                IsFirst = false;
            }




        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
