﻿<li class="dropdown dropdown-user">

    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" src="~/Assets/admin/layout/img/icon-user.png" />
        <span class="username username-hide-on-mobile">@JResources.Data.Model.CurrentUser.FULLNAME </span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default" style="width: 300px;">
        <li><a href="#"><i class="fa fa-building"></i>@JResources.Data.Model.CurrentUser.COMPANY_NAME </a></li>
        <li><a href="#"><i class="fa fa-user"></i>@JResources.Data.Model.CurrentUser.FULLNAME </a></li>
        <li><a href="#"><i class="icon-info"></i>@JResources.Data.Model.CurrentUser.NIKSITE </a></li>
    </ul>
</li>




<li class="dropdown dropdown-user">
    <a href="@Url.Action(MVC.User.LogOut())" class="dropdown-toggle">
        <span class="username username-hide-on-mobile">Log Out </span>
        <i class="fa fa-sign-out"></i>
    </a>
</li>
