﻿@using JResources.Common
@model JResources.Data.Model.PSTModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "Generate Document";

    bool IsCreate = (Model.ID == Guid.Empty);
    string IsDisabled = (IsCreate ? "" : "disabled");
}


@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
}



<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
        </div>
        <!-- END PAGE TITLE -->

        <div class="page-toolbar">
            <!-- BEGIN THEME PANEL -->
            <div class="btn-group btn-group-solid" style="margin-top: 15px;">
                <a href="@Url.Action(MVC.PST.Index())" class="btn blue-madison"><i class="fa fa-list"></i>List PST</a>
            </div>
            <!-- END THEME PANEL -->
        </div>

    </div>
</div>
<!-- END PAGE HEAD -->


<!-- BEGIN PAGE CONTENT -->
<div class="page-content" ng-app="JResourcesApp">

    <div class="container" ng-controller="JResourcesController">

        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">Generate PST Document</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-info dropdown-toggle" href="javascript:;" data-toggle="dropdown">Help
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form id="form-generate-document" name="formGD" class="form-horizontal" role="form" method="post" ng-submit="GetDetail()" novalidate>

                            <div class="form-group">
                                <label for="PIC1" class="col-md-2 control-label">PST NO</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-file-powerpoint-o"></i></button>
                                        </span>

                                        @Html.TextBoxFor(x => x.NoReg,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Auto Generate",
                                            @readonly = "readonly",
                                            @ng_model = "model.NoReg"
                                        })
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PSTDate" class="col-md-2 control-label">PST Date</label>
                                <div class="col-md-4">
                                    <div class="input-group input-medium date @(IsCreate ? "date-picker" : "")" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER" data-date-start-date="+0d">

                                        @Html.TextBoxFor(x => x.PSTDateStr,
                                            new
                                            {
                                                @class = "form-control",
                                                @required = "required",
                                                @readonly = "readonly",
                                                @ng_model = "model.PSTDateStr",
                                                @ng_change = "ResetGenerate(false)"
                                            })
                                        <span class="input-group-btn">
                                            <button class="btn blue" type="button" @IsDisabled><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                    <span class="help-block text-danger" ng-show="formGD.$dirty && formGD.PSTDateStr.$error.required">PST Date is required
                                    </span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PSTType" class="col-md-2 control-label">PST Type</label>
                                <div class="col-md-4">
                                    <select id="PSTType" name="PSTType" ng-model="model.PSTType" class="form-control input-medium" required="required" ng-change="ResetGenerate(true)" @IsDisabled>
                                        @foreach (var item in PSTType.GetSelectList())
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>

                                    <span class="help-block text-danger" ng-show="formGD.$dirty && formGD.PSTType.$error.required">PST Type is required
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" ng-show="model.PSTType=='@PSTType.PST_RANDOM'">
                                <label for="SLOC" class="col-md-2 control-label">S.LOC</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.SLoc,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "S.LOC",
                                            @readonly = "readonly",
                                            @ng_model = "model.SLoc"
                                        })

                                        <span class="input-group-btn">
                                            <a class="btn default" data-toggle="modal" href="#sloc-lookup">
                                                <i class="fa fa-tasks"></i>
                                            </a>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="model.PSTType=='@PSTType.PST_RANDOM'">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label>
                                                <input type="checkbox" name="IsAllSloc" ng-model="model.IsAllSloc" class="" data-checkbox="icheckbox_square-yellow" value="true" @IsDisabled @(Model.IsAllSloc ? "checked" : "") />
                                                All S.Loc

                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="model.PSTType=='@PSTType.PST_RANDOM'">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label>
                                                <input type="checkbox" name="IncludeZeroQty" ng-model="model.IncludeZeroQty" class="" data-checkbox="icheckbox_square-yellow" @(Model.IncludeZeroQty ? "checked" : "") value="true" @IsDisabled />
                                                Include Zero Qty
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="PIC1" class="col-md-2 control-label">PIC 1</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.PIC1,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "PIC 1",
                                            @required = "required",
                                            @readonly = "readonly",
                                            @ng_model = "model.PIC1User.FullName",
                                            @ng_change = "ResetGenerate(false)"
                                        })
                                        <span class="input-group-btn">
                                            <button type="button" @IsDisabled class="btn blue" data-toggle="modal" data-target="#user-lookup" ng-click="SetPIC1()">
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block text-danger" ng-show="formGD.$dirty && formGD.PIC1.$error.required">PIC 1 is required
                                    </span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PIC2" class="col-md-2 control-label">PIC 2</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.PIC2,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "PIC 2",
                                            @readonly = "readonly",
                                            @ng_model = "model.PIC2User.FullName",
                                            @ng_change = "ResetGenerate(false)"
                                        })

                                        <span class="input-group-btn">
                                            <button type="button" @IsDisabled class="btn blue" data-toggle="modal" data-target="#user-lookup" ng-click="SetPIC2()">
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            @if (IsCreate)
                            {
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">

                                        <button type="submit" class="btn green" ng-disabled="formGD.$invalid" ng-show="model.PSTType!='@PSTType.PST_RANDOM'">Generate <i class="fa fa-refresh"></i></button>

                                        <button type="button" class="btn green" ng-disabled="formGD.$invalid" data-toggle="modal" data-target="#sloc-lookup" ng-click="ClearListItem()" ng-show="model.PSTType=='@PSTType.PST_RANDOM'" style="margin-left:0;">Add Part Item <i class="fa fa-plus-square"></i></button>


                                    </div>


                                </div>
                            }

                        </form>


                    </div>



                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-advance">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-cubes"></i>ITEM NO</th>
                                        <th><i class="fa fa-dedent"></i>ITEM DESCRIPTION</th>
                                        <th>UOM</th>
                                        <th>STORAGE LOCATION</th>
                                        <th>STORAGE BIN</th>
                                        @if (Model.ID == Guid.Empty && Model.PSTType == PSTType.PST_RANDOM)
                                        {
                                            <th ng-show="model.PSTType=='@PSTType.PST_RANDOM'"></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="item in model.PSTGenerateDetails" id="list-detail-template" class="list-detail">

                                        <td class="highlight detail-ItemNo">
                                            <div class="success"></div>
                                            <a href="javascript:;">{{ item.ItemNo }}</a></td>
                                        <td class="detail-ItemDescription">{{ item.ItemDescription }}</td>
                                        <td class="detail-UOM">{{ item.UOM }}</td>
                                        <td class="detail-StorageLocation">{{ item.StorageLocation }}</td>
                                        <td class="detail-StorageBin">{{ item.StorageBin }}</td>



                                        @if (Model.ID == Guid.Empty && Model.PSTType != PSTType.PST_RANDOM)
                                        {
                                            <td ng-show="model.PSTType=='@PSTType.PST_RANDOM'">
                                                <a href="javascript:;" class="btn btn-xs red" ng-click="removeItemToDetail(item)">
                                                    <i class="fa fa-minus"></i> {{ model.PSTType }}
                                                </a>
                                            </td>
                                        }


                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                    @if (IsCreate)
                    {
                        <div class="portlet-footer">
                            <div class="form-group">
                                <div class="">
                                    <button ng-click="SubmitForm()" ng-disabled="model.PSTGenerateDetails.length < 1" type="submit" class="btn btn-primary btn-lg">Save <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="portlet-footer">
                            <div class="form-group">
                                <div class="">
                                    <a class="btn green btn-lg" href="@string.Format(JResources.Web.PST_URL.REPORT_StockTakingForm, SiteSettings.BASE_URL, Model.ID)" target="_blank">Print <i class="fa fa-print"></i></a>
                                </div>
                            </div>
                        </div>   
                    }
                </div>



            </div>
        </div>



        @{Html.RenderAction(MVC.Lookup.ItemLocation());}
        @{Html.RenderAction(MVC.Lookup.User());}
    </div>

</div>
<!-- END PAGE CONTENT -->

@section FooterScript {

    <script>
        var URL = {
            GET_USERLIST: '@Url.Action(MVC.Lookup.GetUserList())',
            UPLOAD_SCHEDULER: '@Url.Action(MVC.PST.GetListItem())',
            GET_ITEM_LIST: '@Url.Action(MVC.Lookup.GetItemLocation())',
            POST_PST_TRANS: '@Url.Action(MVC.PST.CreatePST())',
            POST_SUCCESS: '@Url.Action(MVC.PST.Index())'
        };

        var formData = {
            model: function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)) },
            DetailForm: function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new PSTModel())) },
            paramUser: function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new UserSearchModel())) },
            PartItemSearch: function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new PartItemSearchModel())) }
        }

    </script>

    <script type="text/javascript" src="~/Assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/ui-bootstrap-tpls-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/angular-1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/Assets/pages/create_pst.js?version=@(SiteSettings.VersionNumber)"></script>


}



