﻿@using JResources.Common
@model JResources.Data.Model.PSTModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "Generate Document";

    bool IsCreate = (Model.ID == Guid.Empty);
    string IsDisabled = (IsCreate ? "" : "disabled");
}

@section HeaderStyle {

    <style>
        #fixTableListPart
        {
            width: 1400px !important;
            margin: 0;
            font-size: 11px;
        }

        #fixTableListPart thead tr th
        {
            font-size: 11px;
        }
    </style>
}

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
        </div>
        <!-- END PAGE TITLE -->

        <div class="page-toolbar">
            <!-- BEGIN THEME PANEL -->
            <div class="btn-group btn-group-solid" style="margin-top: 15px;">
                <a href="@Url.Action(MVC.PST.Index())" class="btn blue-madison"><i class="fa fa-list"></i>List PST</a>
            </div>
            <!-- END THEME PANEL -->
        </div>

    </div>
</div>
<!-- END PAGE HEAD -->


<!-- BEGIN PAGE CONTENT -->
<div class="page-content" ng-app="JResourcesApp">

    <div class="container" ng-controller="JResourcesController">

        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">Generate PST Document</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-info dropdown-toggle" href="javascript:;" data-toggle="dropdown">Help
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form id="form-generate-document" name="formGD" class="form-horizontal" role="form" method="post" ng-submit="GetDetail()" novalidate>

                            <div class="form-group">
                                <label for="PIC1" class="col-md-2 control-label">PST NO</label>
                                <div class="col-md-4">
                                    <div class="input-group">

                                        @Html.TextBoxFor(x => x.NoReg,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "Search By PST No",
                                            @ng_model = "model.NoReg",
                                            @ng_disabled = "model.NoReg"
                                        })
                                        <span class="input-group-btn">
                                            <button class="btn blue" type="button" data-toggle="modal" data-target="#pst-lookup"><i class="fa fa-search-plus"></i></button>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PSTDate" class="col-md-2 control-label">PST Date</label>
                                <div class="col-md-4">
                                    <div class="input-group input-medium date" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER" data-date-start-date="+0d">

                                        <span class="input-group-btn">
                                            <button class="btn default" type="button" disabled><i class="fa fa-calendar"></i></button>
                                        </span>

                                        @Html.TextBoxFor(x => x.PSTDateStr,
                                            new
                                            {
                                                @class = "form-control",
                                                @required = "required",
                                                @readonly = "readonly",
                                                @ng_model = "model.PSTDateStr",
                                                @ng_change = "ResetGenerate()"
                                            })

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PSTDate" class="col-md-2 control-label">First Count Date</label>
                                <div class="col-md-4">
                                    <div class="input-group input-medium date @(IsCreate ? "date-picker" : "")" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER" data-date-start-date="+0d">

                                        <span class="input-group-btn">
                                            <button class="btn default" type="button" disabled>
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>

                                        @Html.TextBoxFor(x => x.PSTDateStr,
                                            new
                                            {
                                                @class = "form-control",
                                                @required = "required",
                                                @readonly = "readonly",
                                                @ng_model = "model.PSTDateStr",
                                                @ng_change = "ResetGenerate()"
                                            })

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PSTType" class="col-md-2 control-label">PST Type</label>
                                <div class="col-md-4">
                                    <select id="PSTType" name="PSTType" ng-model="model.PSTType" class="form-control input-medium" disabled>
                                        @foreach (var item in PSTType.GetSelectList())
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PIC1" class="col-md-2 control-label">PIC 1</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" disabled class="btn default">
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </span>

                                        @Html.TextBoxFor(x => x.PIC1,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "PIC 1",
                                            @required = "required",
                                            @readonly = "readonly",
                                            @ng_model = "model.PIC1User.FullName",
                                            @ng_change = "ResetGenerate()"
                                        })

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PIC2" class="col-md-2 control-label">PIC 2</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" disabled class="btn default">
                                                <i class="fa fa-user"></i>
                                            </button>
                                        </span>

                                        @Html.TextBoxFor(x => x.PIC2,
                                        new
                                        {
                                            @class = "form-control",
                                            @placeholder = "PIC 2",
                                            @required = "required",
                                            @readonly = "readonly",
                                            @ng_model = "model.PIC2User.FullName",
                                            @ng_change = "ResetGenerate()"
                                        })

                                    </div>


                                </div>
                            </div>


                        </form>


                    </div>

                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table id="fixTableListPart" class="table table-striped table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th style="z-index: 99;"><i class="fa fa-cubes" style="margin-right: 5px;"></i> ITEM NO</th>
                                        <th style="width:1px;z-index: 99;"></th>
                                        <th style="width: 400px;"><i class="fa fa-dedent" style="margin-right: 5px;"></i>ITEM DESCRIPTION</th>
                                        <th>UOM</th>
                                        <th>STORAGE LOCATION</th>
                                        <th>STORAGE BIN</th>

                                        @if (!IsCreate)
                                        {
                                            <th style="width: 100px;">BOOKED QTY</th>
                                            <th style="width: 100px;">FIRST
                                                <br />
                                                COUNT QTY </th>
                                            <th style="width: 100px;">QTY
                                                <br />
                                                STOCK CARD</th>
                                            <th style="width: 100px;">DISCREPANCY </th>
                                        }

                                        <th style="width: 80px;">FINAL
                                            <br />
                                            COUNT QTY </th>
                                        <th style="width: 80px;">FINAL
                                            <br />
                                            COUNT REMARK </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="item in model.PSTGenerateDetails" id="list-detail-template" class="list-detail">

                                        <td class="highlight detail-ItemNo" style="z-index: 99;">{{ item.ItemNo }}</td>
                                        <td style="width:1px; background-color: rgb(221, 221, 221);z-index: 99;"></td>
                                        <td class="detail-ItemDescription" style="width: 200px;">{{ item.ItemDescription }}</td>
                                        <td class="detail-UOM">{{ item.UOM }}</td>
                                        <td class="detail-StorageLocation">{{ item.StorageLocation }}</td>
                                        <td class="detail-StorageBin">{{ item.StorageBin }}</td>

                                        @if (!IsCreate)
                                        {
                                            <td class="detail-QtyActual text-right">{{ item.QtyActual }}</td>
                                            <td class="detail-QtyStockCard text-right">{{ item.QtyStockCard }}</td>
                                            <td class="detail-QtyActual text-right">{{ item.QtyActual }}</td>
                                            <td class="detail-Discrepancy text-right">{{ item.FirstDiscrepancy }}</td>
                                        }


                                        <td class="detail-FinalCount" style="padding: 0;">
                                            <input type="number" class="form-control" maxlength="10" ng-model="item.FinalCount" @(Model.ID != Guid.Empty ? "readonly=\"readonly\"" : "") >
                                        </td>
                                        <td class="detail-FinalRemark" style="padding: 0;">
                                            <input type="text" class="form-control" ng-model="item.FinalRemark" @(Model.ID != Guid.Empty ? "readonly=\"readonly\"" : "")>
                                        </td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                    @if (IsCreate)
                    {
                        <div class="portlet-footer">
                            <div class="form-group">
                                <div class="">
                                    <button ng-click="SubmitForm()" ng-disabled="model.PSTGenerateDetails.length < 1" type="submit" class="btn btn-primary btn-lg">Save <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="portlet-footer">
                            <div class="form-group">
                                <a class="btn btn-primary btn-lg" target="_blank" href="@(SiteSettings.BASE_URL)/Reports/StockTakingForm.aspx?id=@(Model.ID)">Print <i class="fa fa-print"></i></a>
                            </div>
                        </div>
                    }
                </div>



            </div>
        </div>



        @{Html.RenderAction(MVC.Lookup.Pst());}
    </div>

</div>
<!-- END PAGE CONTENT -->


@section FooterScript {
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/angular-1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/angular-1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/jQuery-Fixed-Columns/tableHeadFixer.js"></script>


    <script>

        var URL = {
            PST_LOOKUP : '@Url.Action(MVC.Lookup.PstList())',
            PST_GET : '@Url.Action(MVC.PST.GetTransById())',
            POST_FINAL_PST : '@Url.Action(MVC.PST.FinalInput())',
            POST_SUCCESS : '@Url.Action(MVC.PST.Index())'
        };

        var formData = {
            model : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)),
            DetailForm : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new PSTModel())),
            User : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new UserSearchModel()))
            }


        var app = angular.module('JResourcesApp', ['ngMessages']);
        app.controller('JResourcesController', function($scope, $http) {

            $scope.model = formData.model;
            $scope.modelItem = formData.DetailForm;
            $scope.lookupPST = [];

            $scope.paramPST = formData.paramPST;
            $scope.listPST = [];
            $scope.selectPST = {};

            $scope.trCheck = function(item) {
                $scope.selectPST = item;
            }


            setTimeout(function () {

                $("#fixTableListPart").tableHeadFixer(
                {
                    "head": false,
                    "left": 2
                });

            }, 5000);


            $scope.BindPST = function() {

                if($scope.selectPST != undefined && $scope.selectPST.NoReg != '')
                {
                    Metronic.blockUI({
                        boxed: true
                    });

                    var url = URL.PST_GET + '?ID=' + $scope.selectPST.ID;
                    $http({
                        method: 'GET',
                        url: url
                    }).then(function successCallback(response) {
                        $scope.model = response.data;
                        $scope.model.PSTDate = DateParseJson($scope.model.PSTDate);

                        setTimeout(function () {

                            $("#fixTableListPart").tableHeadFixer(
                            {
                                "head": false,
                                "left": 2
                            });

                        }, 5000);




                        Metronic.unblockUI();
                    }, function errorCallback(response) {
                        Metronic.unblockUI();
                    });
                }
                
            }

            $scope.GetPSTList = function() {

                $scope.lookupPST.PSTStatus = '@PSTStatus.FINAL_COUNT';

                $http({
                    method: 'POST',
                    url: URL.PST_LOOKUP,
                    data : $scope.lookupPST
                }).then(function successCallback(response) {
                    $scope.listPST = response.data.result;
                    $scope.lookupPST = response.data.param;

                    Metronic.unblockUI();
                }, function errorCallback(response) {
                    Metronic.unblockUI();
                });
            }

            $scope.ResetGenerate = function() {
                $scope.model.PSTGenerateDetails = [];
            }



            $scope.SubmitForm = function() {

                Metronic.blockUI({
                    boxed: true
                });

                $scope.model.IncludeZeroQty = $('input[name="IncludeZeroQty"]').prop('checked');
                $scope.model.IsAllSloc = $('input[name="IsAllSloc"]').prop('checked');

                $http({
                    method: 'POST',
                    url: URL.POST_FINAL_PST,
                    data : $scope.model
                }).then(function successCallback(response) {
                    var IsFailed = true;
                    var msgError = '';

                    if(response.data != undefined)
                    {
                        if(response.data.IsSuccess)
                        {
                            if(response.data.ResponseObject != undefined)
                            {
                                IsFailed = false;
                                window.setTimeout(function() {
                                    Metronic.unblockUI();
                                }, 2000);

                                window.location.href = URL.POST_SUCCESS;
                            }                   
                        } else {
                            msgError = response.data.Message;
                        }
                    }

                    if(IsFailed)
                    {
                        if(msgError != '')
                        {
                            bootbox.alert(msgError);
                        } else {
                            bootbox.alert("Failed Save PST Trans");
                        }

                        window.setTimeout(function() {
                            Metronic.unblockUI();
                        }, 2000);
                    }

                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert("Failed Save PST Trans");
                    Metronic.unblockUI();
                });
            }
        });


    </script>

}


