﻿@using GridMvc
@using GridMvc.Html
@using JResources.Data.Model

@model IEnumerable<JResources.Data.ZZPSTNON_TRANS>

@{
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "List";

    PSTUploadSearchModel SearchParam = new PSTUploadSearchModel();
    if (ViewBag.SearchParam != null)
    {
        SearchParam = (PSTUploadSearchModel)ViewBag.SearchParam;
    }
}

@section HeaderStyle {

    <style>
        #fixTable .grid-mvc .grid-wrap .table {
            width: 1500px !important;
            margin: 0;
        }
    </style>
}

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
        </div>
        <!-- END PAGE TITLE -->

        <div class="page-toolbar">
            <!-- BEGIN THEME PANEL -->
            <div class="btn-group btn-group-solid" style="margin-top: 15px;">
                <a href="@Url.Action(MVC.PST.CreatePST(Guid.Empty))" class="btn blue-madison"><i class="fa fa-file-powerpoint-o"></i>Create PST</a>
            </div>
            <!-- END THEME PANEL -->
        </div>

    </div>
</div>
<!-- END PAGE HEAD -->



<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">

        <!-- BEGIN FORM SEARCH -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">Search PST Document</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm blue dropdown-toggle" href="javascript:;" data-toggle="dropdown">Help
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal" role="form" method="get" action="@Url.Action(MVC.PST.Index())" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="DocumentNo" class="col-md-3 control-label">No Doc PST</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-file-powerpoint-o"></i>
                                                </span>
                                                @Html.TextBox("DocumentNo", SearchParam.DocumentNo,
                                                new { @class = "form-control", @placeholder = "Document No" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CreatedBy" class="col-md-3 control-label">Date Start</label>

                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="@JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER">

                                                @Html.TextBox("DateFrom", (SearchParam.DateFrom.HasValue ? SearchParam.DateFrom.Value.ToString(JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER) : ""), new { @class = "form-control", @readonly ="" })

                                                <span class="input-group-btn">
                                                    <button class="btn default blue" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CreatedBy" class="col-md-3 control-label">Created By</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <a class="btn default default" data-toggle="modal" href="#user-lookup">
                                                        <i class="fa fa-user"></i>
                                                    </a>
                                                </span>
                                                @Html.TextBox("CreatedBy", SearchParam.CreatedBy, new { @class = "form-control", @placeholder = "Document No" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DateTo" class="col-md-3 control-label">Date End</label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="@JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER">

                                                @Html.TextBox("DateTo", (SearchParam.DateTo.HasValue ? SearchParam.DateTo.Value.ToString(JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER) : ""), new { @class = "form-control", @readonly = "" })

                                                <span class="input-group-btn">
                                                    <button class="btn default blue" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-10">
                                            <a href="@Url.Action(MVC.PST.Index())" class="btn default">Cancel</a>
                                            <button type="submit" class="btn green">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>



                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
        <!-- END FORM SEARCH -->


        <!-- BEGIN LIST PST DOCUMENT -->
        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div id="fixTable" class="portlet-body">
                        @Html.Grid(Model).Columns(columns =>
                            {

                                columns.Add(x => x.NoReg)
                                    .Titled("No Reg")
                                    .SetWidth(150)
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .Sortable(true)
                                    .Filterable(true)
                                    .Css("highlight")
                                    .RenderValueAs(x => string.Format("<div class=\"success\"></div><a href=\"{0}\">{1}</a>", Url.Action(MVC.PST.FinalInput(x.ID)), x.NoReg));

                                columns.Add()
                                   .Titled("Type")
                                   .SetWidth(150)
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => x.PSTType);

                                //columns.Add()
                                //   .Titled("Status")
                                //   .SetWidth(80)
                                //   .Sortable(true)
                                //   .Filterable(true)
                                //   .Encoded(false)
                                //   .Sanitized(false)
                                //   .RenderValueAs(x => JResources.Web.FunctionWebHelpers.LabelPSTStatus(x.PSTStatus));

                                columns.Add(x => x.PSTDate)
                                   .Titled("PST Date")
                                   .SetWidth(150)
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => x.PSTDate.ToString(Constant.FORMAT_DATE_JRESOURCES_TEXT));

                                columns.Add()
                                   .Titled("Created By")
                                   .SetWidth(200)
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => ZZPSTNON_USER.GetByNIKSITE(x.CreatedBy).FullName);

                                columns.Add()
                                    .Titled("All S.Loc")
                                    .SetWidth(50)
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .Sortable(true)
                                    .Filterable(true)
                                    .RenderValueAs(x => x.IsAllLoc ? string.Format("<i class=\"fa fa-check-square-o font-green\"></i>") : "");

                                columns.Add()
                                    .Titled("Zero Qty")
                                    .SetWidth(100)
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .Sortable(true)
                                    .Filterable(true)
                                    .RenderValueAs(x => x.IsZeroLoc ? string.Format("<i class=\"fa fa-check-square-o font-green\"></i>") : "");
                                columns.Add()
                                   .Titled("PIC 1")
                                   .SetWidth(200)
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => ZZPSTNON_USER.GetByNIKSITE(x.PIC1Entry).FullName);

                                columns.Add()
                                   .Titled("PIC 2")
                                   .SetWidth(200)
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => ZZPSTNON_USER.GetByNIKSITE(x.PIC2Entry).FullName);

                                columns.Add()
                                   .Encoded(false)
                                   .Sanitized(false)
                                   .SetWidth(80)
                                   .RenderValueAs(x => string.Format("<a href=\"{0}\" class=\"btn default btn-xs blue\"><i class=\"fa fa-share\"></i>View</a>", Url.Action(MVC.PST.FinalInput(x.ID))));



                            }).WithPaging(20)

                    </div>

                </div>



            </div>
        </div>

        <!-- END PST LIST DOCUMENT -->


    </div>
</div>


@section FooterScript{
    <script src="~/Assets/global/plugins/jQuery-Fixed-Columns/tableHeadFixer.js" type="text/javascript"></script>


    <script>

        $(document).ready(function () {
            $("#fixTable .grid-mvc .grid-wrap .table").tableHeadFixer(
                {
                    "head": false,
                    "left": 1,
                    "right": 1
                });
        });

    </script>
}


