﻿@using GridMvc
@using GridMvc.Html
@using JResources.Data.Model

@model IEnumerable<JResources.Data.ZZPSTNON_UPLOAD>

@{
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "List Upload";

    PSTUploadSearchModel SearchParam = new PSTUploadSearchModel();
    if (ViewBag.SearchParam != null)
    {
        SearchParam = (PSTUploadSearchModel)ViewBag.SearchParam;
    }
}

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD -->


<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">Search PST Upload Document</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm blue dropdown-toggle" href="javascript:;" data-toggle="dropdown">Help
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal" role="form" method="get" action="@Url.Action(MVC.PST.ListUpload())" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="DocumentNo" class="col-md-3 control-label">No Doc PST</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-file-powerpoint-o"></i>
                                                </span>
                                                @Html.TextBox("DocumentNo", SearchParam.DocumentNo,
                                                new { @class = "form-control", @placeholder = "Document No" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CreatedBy" class="col-md-3 control-label">Date Start</label>

                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="@JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER">

                                                @Html.TextBox("DateFrom", SearchParam.DateFrom, new { @class = "form-control", @readonly = JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER })

                                                <span class="input-group-btn">
                                                    <button class="btn default blue" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CreatedBy" class="col-md-3 control-label">Created By</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <a class="btn default default" data-toggle="modal" href="#user-lookup">
                                                        <i class="fa fa-user"></i>
                                                    </a>
                                                </span>
                                                @Html.TextBox("CreatedBy", SearchParam.CreatedBy, new { @class = "form-control", @placeholder = "Document No" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="DateTo" class="col-md-3 control-label">Date End</label>
                                        <div class="col-md-9">
                                            <div class="input-group input-medium date date-picker" data-date-format="@JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER">

                                                @Html.TextBox("DateTo", SearchParam.DateTo, new { @class = "form-control", @readonly = JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER })

                                                <span class="input-group-btn">
                                                    <button class="btn default blue" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-10">
                                            <button type="reset" class="btn default">Cancel</button>
                                            <button type="submit" class="btn green">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>













                        </form>


                    </div>



                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>



        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light">
                    <div class="portlet-body">
                        @Html.Grid(Model).Columns(columns =>
                            {

                                columns.Add(x => x.NoReg)
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .Titled("No Reg")
                                    .Sortable(true)
                                    .Filterable(true)
                                    .Css("highlight")
                                    .RenderValueAs(x => string.Format("<div class=\"success\"></div><a href=\"{0}\">{1}</a>", Url.Action(MVC.PST.UploadDocument(x.ID)), x.NoReg));

                                columns.Add(x => x.DateStart)
                                   .Titled("Date Start")
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => x.DateStart.ToString(Constant.FORMAT_DATE_JRESOURCES));

                                columns.Add(x => x.DateEnd)
                                   .Titled("Date End")
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => x.DateEnd.ToString(Constant.FORMAT_DATE_JRESOURCES));

                                columns.Add()
                                   .Titled("Total Days")
                                   .SetWidth(100)
                                   .Sortable(true)
                                   .Filterable(true)
                                   .RenderValueAs(x => x.DateEnd.Subtract(x.DateStart).Days.ToString());

                                columns.Add(x => x.CreatedBy)
                                   .Titled("Created By")
                                   .SetWidth(150)
                                   .Sortable(true)
                                   .Filterable(true);

                                columns.Add()
                                   .Encoded(false)
                                   .Sanitized(false)
                                   .SetWidth(80)
                                   .RenderValueAs(x => string.Format("<a href=\"{0}\" class=\"btn default btn-xs blue\"><i class=\"fa fa-share\"></i>View</a>", Url.Action(MVC.PST.UploadDocument(x.ID))));



                            }).WithPaging(20)

                    </div>

                </div>



            </div>
        </div>





    </div>
</div>
