﻿@{
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "Result Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD -->


<!-- BEGIN PAGE CONTENT -->
<div class="page-content">




    <div class="container">

        <div class="row ">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs font-green-sharp"></i>
                            <span class="caption-subject font-green-sharp bold uppercase">List Result PST</span>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <form class="form-horizontal" role="form" method="post" action="">

                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>PST Doc</th>
                                            <th>PST Date</th>
                                            <th>PIC 1</th>
                                            <th>PIC 2</th>
                                            <th style="display:block; width: 150px;">PST-TYPE</th>
                                            <th>ITEM NO</th>
                                            <th style="display: block; width: 300px;">ITEM DESCRIPTION</th>
                                            <th>UOM</th>
                                            <th>STORAGE Location</th>
                                            <th>STORAGE BIN</th>
                                            <th>QTY ACTUAL</th>
                                            <th>QTY STOCK CARD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1-Feb-16</td>
                                            <td>2-Feb-16</td>
                                            <td>Suyono</td>
                                            <td>Nino</td>
                                            <td>PST-Schedule</td>
                                            <td>E03000169</td>
                                            <td>MAX GRIP GLOVE FOR SCAFFOLDING</td>
                                            <td>EACH</td>
                                            <td>BWH01</td>
                                            <td>101A0101</td>
                                            <td>1.00</td>
                                            <td>1.00</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>1-Feb-16</td>
                                            <td>2-Feb-16</td>
                                            <td>Suyono</td>
                                            <td>Nino</td>
                                            <td>PST-Schedule</td>
                                            <td>E03000169</td>
                                            <td>MAX GRIP GLOVE FOR SCAFFOLDING</td>
                                            <td>EACH</td>
                                            <td>BWH01</td>
                                            <td>101A0101</td>
                                            <td>1.00</td>
                                            <td>2.00</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>1-Feb-16</td>
                                            <td>2-Feb-16</td>
                                            <td>Suyono</td>
                                            <td>Nino</td>
                                            <td>PST-Schedule</td>
                                            <td>E03000236</td>
                                            <td>LEATHER WELDING GLOVE</td>
                                            <td>PAIR</td>
                                            <td>BWH01</td>
                                            <td>101A0101</td>
                                            <td>1.00</td>
                                            <td>1.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <button type="button" class="btn btn-lg blue">Generate</button>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>




</div>
<!-- END PAGE CONTENT -->
