﻿@using JResources.Common
@model JResources.Data.Model.UploadDocumentModel

@{
    ViewBag.Title = "PST";
    ViewBag.SubTitle = "Upload Document";

    ViewBag.Title = "PST PLANNING FORM";
    ViewBag.SubTitle = "Upload Data";
    ViewBag.BreadCrumbLabel = "PST PLANNING";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.PST.ListPlanning());
    ViewBag.BreadLastLabel = "PST Planning Detail";

    bool IsHide = !(Model.DocumentDetails != null && Model.DocumentDetails.Count > 0);
}

@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
}


@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">


            <a href="@Url.Action(MVC.PST.UploadPlanning())" class="tooltips btn btn-fit-height blue-ebonyclay">
                <i class="fa fa-users"></i>&nbsp; 
                List PST Planning
            </a>

            <a id="info-start" href="#" class="tooltips btn btn-fit-height blue" style="margin: 0;">
                <i class="fa fa-info-circle" style="margin-right: 0;"></i>
            </a>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">

        <form id="MSR-form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box blue">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-calendar"></i>PST Planning Form
                    </div>

                    <div class="tools">
                        <div class="btn-group">
                                <a class="btn btn-sm bg-green-meadow dropdown-toggle" href="~/Content/sample_upload.xls" target="_blank">
                                    <i class="fa fa-file-excel-o"></i>
                                    Template Excel
                                </a>

                                <a class="btn btn-sm bg-green-seagreen dropdown-toggle" href="javascript:;" data-toggle="dropdown">Help
                                </a>
                            </div>
                    </div>

                </div>


                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group" data-step="1" data-position="top" data-intro="PST No akan tergenerate otomatis!">
                                @Html.LabelFor(x => x.DocumentNo, "Document No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file-powerpoint-o"></i>
                                        </span>

                                        @Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control", @readonly = "readonly", @placeholder = "Auto Generate" })
                                    </div>
                                </div>


                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">PST Planning Date</label>
                                <div class="col-md-3">
                                    <div class="input-group input-xlarge date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">

                                        <input type="text" class="form-control" name="Model.DateFromStr">
                                        <span class="input-group-addon">to </span>
                                        <input type="text" class="form-control" name="Model.DateToStr">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Created By</label>
                                <div class="col-md-3">

                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <a class="btn default default" data-toggle="modal" href="#user-lookup">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        </span>
                                        <input type="text" value="@Model.User.FullName" class="form-control" disabled="disabled">
                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">File Upload</label>
                                <div class="col-md-3">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename"></span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">Select file </span>
                                                <span class="fileinput-exists">Change </span>
                                                <input type="file" name="FileUpload" accept="application/vnd.ms-excel">
                                            </span>
                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-4">
                                    <button ng-click="CreateMSR()" type="button" class="btn green">Submit</button>
                                    <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- END FORM-->
                </div>




            </div>

        </form>
    </div>
</div>



@section FooterScript {
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
}