﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model
@using JResources.Common.Enum

@model JResources.Data.Model.MSRIssuedModel

@{
    string Title = "Issued";

    string cssHeader = "blue";
    string cssDetail = "bg-blue-madison";

    switch (Model.IssuedType)
    {
        case JResources.Common.Enum.RequestStatus.TRANSFER:
            Title = "Transfer";

            cssHeader = "blue-ebonyclay";
            cssDetail = "bg-blue-ebonyclay";
            break;

        case JResources.Common.Enum.RequestStatus.CANCEL:
            Title = "Cancel";

            cssHeader = "red";
            cssDetail = "bg-red-madison";
            break;

        case JResources.Common.Enum.RequestStatus.PURCHASING:
            Title = "Purchase";

            cssHeader = "yellow-gold";
            cssDetail = "bg-yellow-gold";
            break;
    }

    ViewBag.Title = Title;
    ViewBag.SubTitle = "Detail Form";
    ViewBag.BreadCrumbLabel = Title;

    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Index());
    ViewBag.BreadLastLabel = "Issued Detail";

    string IssuedType = Model.IssuedType;
    string objModel = JsonConvert.SerializeObject(Model);

    string objModalMSR = JsonConvert.SerializeObject((MSRSearchModel)ViewBag.MSRSearchModel);

    bool EnableLocationFrom = false;
    if (Model.IssuedType == RequestStatus.ISSUED || Model.IssuedType == RequestStatus.TRANSFER)
    {
        EnableLocationFrom = true;
    }

    List<SelectListItem> WorkFlowCodeList = new List<SelectListItem>();
    if (ViewBag.WorkFlowCodeList != null)
    {
        WorkFlowCodeList = (List<SelectListItem>)ViewBag.WorkFlowCodeList;
    }

    List<SelectListItem> CancelReason = new List<SelectListItem>();
    if (ViewBag.CancelReason != null)
    {
        CancelReason = (List<SelectListItem>)ViewBag.CancelReason;
    }
    
}



@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">

            <a class="btn" href="@Url.Action(MVC.MSR.Index())">
                <i class="fa fa-users"></i>
                List MSR
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="MSR-issued-form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box @cssHeader">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>@ViewBag.SubTitle
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group">
                                @Html.LabelFor(x => x.MSRIssuedNo, Title + " No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Model.MSRIssuedNo", @placeholder = "Auto Generate", @class = "form-control", @disabled = "disabled" })
                                </div>

                                @Html.LabelFor(x => x.MSR.DocumentNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group input-medium">
                                        @Html.TextBoxFor(x => x.MSR.DocumentNo, new { @ng_model = "Model.MSR.DocumentNo", @class = "form-control disabled", @placeholder = "MSR No", @readonly = "" })
                                        <span class="input-group-btn">
                                            <a ng-show="!Model.MSR.DocumentNo" ng-click="LookupSearchMSR()" class="btn blue" href="#">
                                                <i class="fa fa-search-plus"></i>
                                            </a>

                                            <a ng-show="Model.MSR.DocumentNo" ng-click="removeWorkOrder()" class="btn red" href="#">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.MSR.MSRType, "Document Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.MSRType, new { @ng_model = "Model.MSR.MSRType", @class = "form-control", @readonly = "readonly" })
                                </div>

                                @Html.LabelFor(x => x.MSR.WorkOrderNo, "Work Order No", new { @ng_show = "Model.MSR.WorkOrderNo", @class = "control-label col-md-2 col-md-offset-1" })
                                <div ng-show="Model.MSR.WorkOrderNo" class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderNo, new { @ng_model = "Model.MSR.WorkOrderNo", @class = "form-control", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.DepartmentName, new { @ng_model = "Model.MSR.DepartmentName", @class = "form-control", @disabled = "disabled" })
                                </div>


                                @Html.LabelFor(x => x.MSR.CostCenter, "Cost Center", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MSR.CostCenter, new { @ng_model = "Model.MSR.CostCenterLabel", @class = "form-control disabled", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.MSR.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.DateCreated, new { @ng_model = "Model.MSR.DateCreatedStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>

                                @Html.LabelFor(x => x.MSR.ExpectedDateStr, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">

                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.ExpectedDateStr, new { @ng_model = "Model.MSR.ExpectedDateStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="Model.MSR.MaintenanceCode" class="form-group" ng-show="IsWorkOrder">
                                @Html.LabelFor(x => x.MSR.MaintenanceCode, "Job Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.MaintenanceCode, new { @ng_model = "Model.MSR.MaintenanceCodeLabel", @class = "form-control", @readonly = "" })
                                </div>

                                @Html.LabelFor(x => x.MSR.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.EquipmentNo, new { @ng_model = "Model.MSR.EquipmentNo", @class = "form-control", @placeholder = "EquipmentNo", @readonly = "" })
                                </div>
                            </div>

                            <div class="form-group" ng-show="Model.MSR.DocumentNo">
                                @Html.LabelFor(x => x.MSR.LeadTimeNumber, "Lead Time", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.LeadTimeNumber, new { @ng_model = "Model.MSR.LeadTimeNumber", @class = "form-control", @placeholder = "EquipmentNo", @readonly = "" })
                                </div>


                                @Html.LabelFor(x => x.MSR.ApprovedDateStr, "Fullfillment Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.ExpectedDateStr, new { @ng_model = "Model.MSR.ApprovedDateStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group" ng-show="Model.MSR.DocumentNo && Model.MSR.WorkOrderNo">
                                @Html.LabelFor(x => x.MSR.WorkOrderStatus, "Work Order Status", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderStatusLabel, new { @ng_model = "Model.MSR.WorkOrderStatusLabel", @class = "form-control", @placeholder = "Work Order Status", @readonly = "" })
                                </div>

                            </div>



                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.MSR.Reason, "MSR Remarks", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.MSR.Reason, new { @ng_model = "Model.MSR.Reason", @class = "form-control", @readonly = "", @rows = "4" })
                                </div>
                            </div>

                            @if (Model.IssuedType == RequestStatus.PURCHASING)
                            {
                                <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                    @Html.LabelFor(x => x.WorkFlowCode, "WorkFlow Code", new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.WorkFlowCode, WorkFlowCodeList, new { @ng_model = "Model.WorkFlowCode", @class = "form-control" })
                                    </div>
                                </div>
                            }




                            <div ng-show="Model.MSR.DocumentNo" class="form-group" style="display: none;">

                                @Html.Label("FileUploads", "File Uploads", new { @class = "control-label col-md-2" })
                                <div id="form-file-upload" class="col-md-10">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px;">
                                                    #
                                                </th>
                                                <th>
                                                    File name
                                                </th>
                                                <th style="width: 100px;">Size</th>
                                                <th style="width: 150px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-file-upload">
                                            <tr ng-repeat="item in FileUploads track by $index">
                                                <td>
                                                    {{ $index+1 }}
                                                </td>
                                                <td>
                                                    {{ item.fileName }}
                                                </td>
                                                <td style="text-align: right;">
                                                    {{ item.fileSize.toFixed() }} KB
                                                </td>
                                                <td style="padding: 3px;">
                                                    <div class="btn-group btn-group-solid">
                                                        <a href=" {{ item.uriFile }}" target="_blank" class="btn blue btn-sm">Download <i class="fa fa-cloud-download"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>





                            @if (Model.IssuedType == RequestStatus.CANCEL)
                            {
                                <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                    @Html.LabelFor(x => x.Remarks, Title + " Remarks", new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.Remarks, CancelReason, new { @ng_model = "Model.Remarks", @class = "form-control" })
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                    @Html.LabelFor(x => x.Remarks, Title + " Remarks", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason", @rows = "4" })
                                    </div>
                                </div>
                            }




                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div id="tbody-detail-item" ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>List Detail Item Part
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table id="table-detail" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="@cssDetail">
                                                <th style="width: 40px;">No</th>
                                                <th style="width: 100px;">Item Part</th>
                                                <th>Description</th>
                                                @if (EnableLocationFrom)
                                                {
                                                    <th style="width: 100px;">Location From</th>
                                                }

                                                @if (Model.IssuedType == RequestStatus.TRANSFER)
                                                {
                                                    <th style="width: 100px;">Location To</th>
                                                }

                                                @if (Model.IssuedType == RequestStatus.PURCHASING)
                                                {
                                                    <th style="width: 100px;">Location Drop</th>
                                                }

                                                <th style="width: 70px;">Qty Request</th>
                                                <th style="width: 70px;" class="bg-blue">
                                                    @if (Model.IssuedType == RequestStatus.TRANSFER)
                                                    {
                                                        <span type="button" class="" data-toggle="tooltip" data-html="true" title="<b>Qty Request</b> <em>-</em> <b>Qty Transfer</b>">Qty Transfer Outstanding</span>
                                                    }
                                                    else
                                                    {
                                                        <span type="button" class="" data-toggle="tooltip" data-html="true" title="<b>Qty Request</b> <em>-</em> <b>(Qty issued + Qty Cancel + Qty Purchase)</b>">Qty Issued Outstanding</span>
                                                    }
                                                </th>
                                                <th style="width: 70px;">Qty @Title</th>
                                                <th style="width: 80px;">Cost</th>
                                                <th style="width: 100px;">Category</th>
                                                <th style="width: 45px;"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in Model.MSRIssuedDetails track by $index">
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.LineNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 40px;">
                                                </td>
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.ItemNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 100px;">
                                                </td>
                                                <td>
                                                    <input ng-model="item.Description" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                @if (EnableLocationFrom)
                                                {
                                                    <td>
                                                        <div ng-show="!item.Isfulfilled && !item.IsRemove" class="input-group">
                                                            <span class="input-group-btn">
                                                                <a ng-click="lookupSearchLocation(item)" class="btn blue" href="#tbody-detail-item"><i class="fa fa-search-plus"></i></a>
                                                            </span>
                                                            <input ng-model="item.LocationFrom" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 150px;">
                                                        </div>

                                                        <input ng-show="item.Isfulfilled || (!item.Isfulfilled && item.IsRemove)" type="text" class="form-control bg-grey" readonly="">
                                                    </td>
                                                }

                                                @if (Model.IssuedType == RequestStatus.TRANSFER)
                                                {
                                                    <td>
                                                        <input ng-model="item.Location" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" style="width: 100%;" readonly />
                                                    </td>
                                                }

                                                @if (Model.IssuedType == RequestStatus.PURCHASING)
                                                {
                                                    <td>
                                                        <select ng-disabled="item.Isfulfilled || item.IsRemove" ng-model="item.Location" class="form-control">
                                                            <option ng-repeat="loc in item.ItemLocations" value="{{ loc.Location }}">{{ loc.Location }}</option>
                                                        </select>
                                                    </td>
                                                }

                                                <td>
                                                    <input ng-model="item.QtyRequest" type="number" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" style="width: 70px;" readonly />
                                                </td>
                                                <td>
                                                    @if (Model.IssuedType == RequestStatus.TRANSFER)
                                                    {
                                                        <input ng-value="item.QtyTransferOutstanding" type="number" class="form-control bg-grey" style="width: 85px;" readonly />
                                                    }
                                                    else
                                                    {
                                                        if (Model.IssuedType == RequestStatus.CANCEL)
                                                        {
                                                            <input ng-value="item.QtyCancelOutstanding" type="number" class="form-control bg-grey" style="width: 85px;" readonly />
                                                        }
                                                        else
                                                        {
                                                            <input ng-value="item.QtyIssuedOutstanding" type="number" class="form-control bg-grey" style="width: 85px;" readonly />
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <input ng-show="!item.Isfulfilled && !item.IsRemove" ng-model="item.QtyProcess" type="number" ng-class="GridCssRowInput(item.Isfulfilled, item.IsRemove)" style="width: 70px;" min="0" />
                                                    <input ng-show="!item.Isfulfilled && item.IsRemove" ng-model="item.QtyProcess" type="number" ng-class="GridCssRowInput(item.Isfulfilled, item.IsRemove)" style="width: 70px;" min="0" readonly />
                                                    <input ng-show="item.Isfulfilled" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" value="Complete" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.Cost" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.CategoryLabel" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                <td>
                                                    <a ng-show="!item.Isfulfilled && !item.IsRemove" ng-click="item.IsRemove=true" class="btn red filter-cancel" style="margin-right: 0;"><i class="fa fa-times"></i></a>
                                                    <a ng-show="!item.Isfulfilled && item.IsRemove" ng-click="item.IsRemove=false" class="btn blue filter-cancel" style="margin-right: 0;"><i class="fa fa-pencil"></i></a>
                                                    <input ng-show="item.Isfulfilled" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                            </tr>




                                        </tbody>

                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

            <div ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet light bordered form-fit">
                    <div class="portlet-title" style="padding-top: 5px; padding-bottom: 0;">
                        <div class="caption">
                            <i class="fa fa-users"></i>Approval User
                        </div>
                    </div>

                    <div class="portlet-body form">

                        <div class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.MSR.Requestor.FullName, "Requestor", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.MSR.Requestor.FullName, "", new { @ng_model = "Model.MSR.Requestor.FullName", @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>


                                    @Html.LabelFor(x => x.MSR.Manager.FullName, "Manager", new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.MSR.Manager.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    @Html.LabelFor(x => x.MSR.GeneralManagerSite.FullName, "GM Site", new { @class = "control-label col-md-2 col-md-offset-6" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.MSR.GeneralManagerSite.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8">
                                                <button ng-disabled="!IsEnableSubmit" ng-click="CreateIssued()" type="button" class="btn green">Submit</button>
                                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>

                                                @if (Model.IssuedType == RequestStatus.ISSUED || Model.IssuedType == RequestStatus.TRANSFER)
                                                {                                                  
                                                    <a ng-show="IsEnablePickingList" href="javascript:;" ng-click="PrintPickingList()" class="btn default blue-stripe">
                                                        <i class="fa fa-print"></i>Print Picking Slip 
                                                    </a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </form>


        @{Html.RenderAction(MVC.Lookup.MSRApproveLookup());}
        @{Html.RenderAction(MVC.Lookup.ItemLocationLookup());}
    </div>
</div>



@section FooterScript{
    <script>
        var URI_MSR_LIST = '@Url.Action(MVC.Warehouse.ListRequestIssued())';
        var URI_SEARCH_MSR = '@Url.Action(MVC.MSR.GetListMSRApprove())';
        var URI_GET_MSR_DATA = '@Url.Action(MVC.Warehouse.GetDataIssuedByMSRId(Guid.Empty, Model.IssuedType))';
        var URI_CREATE_MSR_ISSUED = '@Url.Action(MVC.Warehouse.CreateIssued())';

        var objModel = function () { return @Html.Raw(objModel); };
        var objModalMSR = function () { return @Html.Raw(objModalMSR); };
        var IssuedType = '@IssuedType';
        var validStatus = [@WorkOrderStatus.COMPLETE, @WorkOrderStatus.COMPLETE_ADMIN, @WorkOrderStatus.REJECTED];
        var cancelLabel = '@RequestStatus.CANCEL';

    </script>

    @if (Model.IssuedType == RequestStatus.CANCEL)
    {
        <script src="~/Assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
        <script>
            jQuery('#IsSOP').pulsate({
                color: "#45B6AF"
            });
        </script>
    }

    <script src="~/Assets/pages/Warehouse/IssuedRequest.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}