﻿@using JResources.Common
@using GridMvc.Html

@model List<JResources.Data.Model.MSRListModel>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Warehouse";
    ViewBag.SubTitle = "MSR Pending";
    ViewBag.BreadCrumbLabel = "Warehouse";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Detail(Guid.Empty));
    ViewBag.BreadLastLabel = "MSR Pending";
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            @*            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.Warehouse.ListRequest())">
                <i class="fa fa-building"></i>
                Entry MSR
            </a>*@

        </div>
    </div>
}

<style>
    #table-issued tbody tr td
    {
        padding: 0;
    }

    #table-issued thead tr th
    {
        padding: 5px;
        font-size: 12px;
    }

    #table-issued tbody tr td:first-child
    {
        background-image: none !important;
        background-color: #36D7B7 !important;
        color: #FFFFFF !important;
    }

    #table-issued tbody tr td:first-child input
    {
        border: 0;
        background-image: none !important;
        background-color: #36D7B7 !important;
        color: #FFFFFF !important;
    }

    #table-issued tbody tr td input,
    #table-issued tbody tr td select
    {
        border-color: #fafafa !important;
        background-image: none !important;
        background-color: #fafafa !important;
        color: #333333 !important;
    }

    #table-issued tbody tr td.input-issued,
    #table-issued tbody tr td.input-issued input,
    #table-issued tbody tr td.input-issued select
    {
        color: #000 !important;
        background-color: #fff !important;
    }

    #table-issued tbody tr td.input-issued select
    {
        font-size: 12px;
    }
</style>



@section HeaderStyle {
    <link href="~/Assets/global/plugins/StickyTableHeaders/css/component.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />

    <style>
        #MSR-table table
        {
            background-color: #fff;
        }

        #MSR-table .table thead tr th,
        #MSR-table .table tbody tr td
        {
            font-size: 85%;
        }
    </style>
}



<div class="row">
    <div class="col-md-12">

        <div id="MSR-table" style="">

            @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(x => x.DocumentNo)
                        .Titled("MSR No")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(150)
                        .Css("highlight")
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionNo(x.DocumentNo));

                    columns.Add(x => x.DateCreated)
                        .Titled("MSR Date")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(x => x.DateCreated.ToString(JResources.Common.Constant.FORMAT_DATE_JRESOURCES));


                    columns.Add(x => x.CostCenter)
                        .Titled("Cost Center")
                        .Sortable(true)
                        .Filterable(true);

                    //columns.Add(x => x.MaintenanceCode)
                    //    .Titled("Maintenance Code")
                    //    .Sortable(true)
                    //    .Filterable(true);

                    columns.Add(x => x.ExpectedDate)
                        .Titled("Expected Date")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(x => x.ExpectedDate.ToString(JResources.Common.Constant.FORMAT_DATE_JRESOURCES));

                    columns.Add(x => x.Reason)
                        .Titled("Reason")
                        .Sortable(true)
                        .Filterable(true);

                    columns.Add(x => x.EquipmentNo)
                        .Titled("Equipment No")
                        .Sortable(true)
                        .Filterable(true);

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x =>
                            JResources.Web.FunctionWebHelpers.ActionViewModal(Url.Action(MVC.Warehouse.ModalIssued(x.ID)))
                        );

                    //columns.Add()
                    //    .Encoded(false)
                    //    .Sanitized(false)
                    //    .SetWidth(50)
                    //    .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionDelete(Url.Action(MVC.Company.Delete(x.ID))));


                }).WithPaging(10)

            <table class="sticky-table table table-striped table-bordered table-advance table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="grid-header-text" style="width: 200px;">MSR No</th>
                        <th class="grid-header-text">MSR Date</th>
                        <th class="grid-header-text">Cost Center</th>
                        <th class="grid-header-text">Expected Date</th>
                        <th class="grid-header-text">Reason</th>
                        <th class="grid-header-text">Equipment No</th>
                        <th class="grid-header-text"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Take(20))
                    {
                        <tr>
                            <td class="grid-cell highlight">@Html.Raw(JResources.Web.FunctionWebHelpers.ActionNo(item.DocumentNo))</td>
                            <td>@item.DateCreated.ToString(JResources.Common.Constant.FORMAT_DATE_JRESOURCES)</td>
                            <td>@item.CostCenter</td>
                            <td>@item.ExpectedDate.ToString(JResources.Common.Constant.FORMAT_DATE_JRESOURCES)</td>
                            <td>@item.Reason</td>
                            <td>@item.EquipmentNo</td>
                            <td>@Html.Raw(JResources.Web.FunctionWebHelpers.ActionViewModal(Url.Action(MVC.Warehouse.ModalIssued(item.ID))))</td>
                        </tr>
                    }

                </tbody>
            </table>



        </div>

    </div>
</div>


<!--DOC: Aplly "modal-cached" class after "modal" class to enable ajax content caching-->
<div class="modal fade bs-modal-lg" id="ajax" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../../assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span>&nbsp;&nbsp;Loading... </span>
            </div>
        </div>
    </div>
</div>

@section FooterScript{
    @*<script src="~/Assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>*@
    <script src="~/Assets/global/plugins/StickyTableHeaders/js/jquery.ba-throttle-debounce.min.js"></script>
    <script src="~/Assets/global/plugins/StickyTableHeaders/js/jquery.stickyheader.js"></script>
    <script src="~/Assets/global/plugins/fuelux/js/spinner.min.js"></script>
    <script src="~/Assets/global/plugins/select2/select2.min.js"></script>
}