﻿@using JResources.Common

@model JResources.Data.Model.FRFSearchModel

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Fuel Issued";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadLastLabel = "Fuel Issued List";

    string objFRFSearch = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">



        </div>
    </div>
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">FUEL</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.FRFNo, "FRF No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.FRFNo, new { @ng_model = "Model.FRFNo", @class = "form-control" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                    ng-model="Model.CompanyId"
                                    ng-change="SetListDepartment()"
                                    class="select2me form-control">
                                </select>
                            </div>

                            @Html.LabelFor(x => x.DateFrom, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-4">
                                <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                    <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                    <span class="input-group-addon">to </span>
                                    <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchFRF()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetFRF()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="frf-table" style="">

            <table class="table table-striped table-bordered table-advance table-hover">

                <thead>
                    <tr>
                        <th class="grid-header" style="width: 180px;">FRF No</th>
                        <th class="grid-header" style="width: 150px;">FRF Date</th>
                        <th class="grid-header" style="width: 250px;">Company</th>
                        <th class="grid-header">Requestor</th>
                        <th class="grid-header" style="width: 150px;">Status</th>
                        <th class="grid-header" style="width: 50px;"></th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="item in Model.ListData">
                        <td class="grid-cell highlight" data-name="item.FRFNo">
                            <div class="success"></div>
                            <a href="#">{{ item.FRFNo }} </a>
                        </td>
                        <td class="grid-cell" data-name="FRFDateStr">{{ item.FRFDateStr }}</td>
                        <td class="grid-cell" data-name="CompanyName">{{ item.CompanyName }}</td>
                        <td class="grid-cell" data-name="FullName">{{ item.UserCreated.FullName }}</td>
                        <td class="grid-cell" data-name="StatusRequestCode">
                            <span class="label label-status {{ item.LabelCssColor }}">{{ item.FRFStatusLabel }}</span>
                        </td>
                        <td class="grid-cell" data-name="">
                            <a href="#" ng-click="ApproveFRF(item)" class="btn green btn-sm" data-toggle="modal"><i class="fa fa-location-arrow"></i>Issued</a>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
        <div class="grid-footer">
            <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedFRFList()" boundary-links="true" num-pages="numPages"></ul>
        </div>


        @{Html.RenderAction(MVC.FRF.FRFModal());}
    </div>
</div>


@section FooterScript{

    <script>
        var URI_SEARCH_FRF = '@Url.Action(MVC.Warehouse.GetListFRFIssued())';
        var URI_ISSUED_FRF = '@Url.Action(MVC.Warehouse.FuelIssued())';

        var objModel = function () { return @Html.Raw(objFRFSearch) };

        jQuery('#ModalStatusRequest').pulsate({
            color: "#45B6AF"
        });

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();
            $scope.CompanyDepartments = @Html.Raw(objCompanyDepartments);
            $scope.DepartmentList = [];

            var SearchFRF = function() {
                var elementBlock = '#frf-table';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                $http({
                    method: 'POST',
                    url: URI_SEARCH_FRF,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    $scope.Model = response.data;
                    unBlockElement(elementBlock);
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.SearchFRF = function(){
                $scope.Model.CurrentPage = 1;
                SearchFRF();
            }

            $scope.ResetFRF = function() {
                $scope.Model = objModel();
                SearchFRF();
            }

            $scope.pageChangedFRFList = function() {
                SearchFRF();
            };

            $scope.ResetFRF();

            $scope.ApproveFRF = function(objFRF) {

                bootbox.confirm({
                    title: "VIEW " + objFRF.FRFNo,
                    message: "Are you sure to issued this request ?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if(result) {
                            

                            var elementBlock = '#frf-table';
                            BlockElement(elementBlock);

                            $http({
                                method: 'POST',
                                url: URI_ISSUED_FRF,
                                data: objFRF
                            }).then(function successCallback(response) {

                                bootbox.alert({
                                    title: "FRF " + objFRF.FRFNo,
                                    message: response.data.Message
                                });

                                if(response.data.IsSuccess)
                                {
                                    $scope.ResetFRF();
                                }

                                unBlockElement(elementBlock);
                            }, function errorCallback(response) {
                                console.log(response);
                                bootbox.alert(response.data.Message);
                                unBlockElement(elementBlock);
                            });

                        }
                    }
                });

            }

        });

    </script>

}