﻿@using JResources.Common
@model JResources.Data.MSR

@{
    ViewBag.Title = "Issued";
    Layout = null;
    bool IsApprove = (bool)ViewBag.IsApprove;
    List<SelectListItem> StatusMSR = new List<SelectListItem>();
    if (ViewBag.StatusMSR != null)
    {
        StatusMSR = (List<SelectListItem>)ViewBag.StatusMSR;
    }
}




<div class="portlet box green" style="margin-bottom: 0;">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-alt"></i>MSR Issued Form
        </div>
        <div class="tools">
            <a href="#" class="remove" data-dismiss="modal" aria-hidden="true"></a>
        </div>
    </div>



    <div class="portlet-body form" style="margin-bottom: 0;">
        <!-- BEGIN FORM-->

        <div id="form-MSR" class="form-horizontal form-bordered">
            <div class="form-body">

                <div class="form-group">
                    @Html.LabelFor(x => x.MSRNo, "Document No", new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.MSRNo, new { @class = "form-control", @placeholder = "Auto Generate", @disabled = "disabled" })
                    </div>


                    @Html.LabelFor(x => x.CostCode, new { @class = "control-label col-md-3 col-md-offset-1" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.CostCode, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.MSRDate, "Date Created", new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.MSRDate, Model.MSRDate.ToString(Constant.FORMAT_DATE_JRESOURCES), new { @class = "form-control", @disabled = "disabled" })
                    </div>


                    @Html.LabelFor(x => x.ExpectedDate, new { @class = "control-label col-md-3 col-md-offset-1" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.ExpectedDate, Model.ExpectedDate.ToString(Constant.FORMAT_DATE_JRESOURCES), new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div style="">

                    <table class="table table-bordered table-hover" id="table-issued" style="margin-bottom: 0;">
                        <thead>
                            <tr role="row" class="bg-green-meadow">
                                <th>No</th>
                                <th>ITEM NO</th>
                                <th style="width: 250px;">DESCRIPTION</th>
                                <th>QTY ORDER</th>
                                <th>WAREHOUSE</th>
                                <th style="font-size: 10px;">QTY <span style="font-size: 10px; display: block;">(SUPPLIED)</span></th>
                                <th>LOCATION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{                                
                                int iRow = 1;
                            }

                            @foreach (var item in Model.MSRDetails)
                            {
                                <tr>
                                    <td style="z-index: 99;">
                                        <input type="text" class="form-control input-xsmall" value="@iRow" style="font-size: 10px; padding-left: 5px; padding-right: 0; width: 30px !important; font-weight: bold;" readonly>
                                    </td>
                                    <td style="z-index: 99;">
                                        <input type="text" class="form-control" value="@item.ItemNo" style="font-size: 10px; padding-left : 5px; padding-right : 0;" readonly></td>
                                    <td>
                                        <input type="text" class="form-control" value="@item.Description" style="font-size: 10px; padding-left : 5px; padding-right : 0;" readonly></td>
                                    <td>
                                        <input type="text" class="form-control input-xsmall" value="@item.Qty" readonly></td>
                                    <td class="input-issued">
                                        <select class="form-control input-medium" data-placeholder="Select...">
                                            <option value="">SELECT WAREHOUSE</option>
                                            <option value="AL">BWH01</option>
                                            <option value="WY">BWH01</option>
                                        </select>
                                    </td>
                                    <td class="input-issued">
                                        <div class="spinner-all">
                                            <div class="input-group input-xsmall">
                                                <input type="text" class="spinner-input form-control input-xsmall" maxlength="3" value="0">
                                                <div class="spinner-buttons input-group-btn btn-group-vertical">
                                                    <button type="button" class="btn spinner-up btn-xs blue">
                                                        <i class="fa fa-angle-up"></i>
                                                    </button>
                                                    <button type="button" class="btn spinner-down btn-xs blue">
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="@item.LocationId" style="font-size: 10px; padding-left : 5px; padding-right : 0;" readonly></td>
                                </tr>
                                
                                iRow = iRow + 1;
                            }




                        </tbody>
                    </table>
                </div>


                <div class="form-action" style="border-top: 0;">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn green pull-right">Save</button>
                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>


</div>


<script>
    $('.spinner-all').spinner();
</script>
