﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.MSRIssuedModel

@{
    List<SelectListItem> StatusMSR = new List<SelectListItem>();
    if (ViewBag.StatusMSR != null)
    {
        StatusMSR = (List<SelectListItem>)ViewBag.StatusMSR;
    }
}


<div class="modal fade" id="MSR-issued-modal" tabindex="-1" role="MSR-issued-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">


                <div class="portlet box green" style="margin-bottom: 0;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-alt"></i>MSR Issued View Form
                        </div>
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <!-- BEGIN FORM-->

                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">

                                <div class="form-group">
                                    @Html.LabelFor(x => x.MSRIssuedNo, "MSR Issued No", new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Modal.MSRIssuedNo", @class = "form-control", @disabled = "disabled", @style = "font-size: 90%;padding: 5px;" })
                                    </div>


                                    @Html.LabelFor(x => x.MSRNo, new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Modal.MSRNo", @class = "form-control", @disabled = "disabled", @style = "font-size: 90%;padding: 5px;" })
                                    </div>
                                </div>

                                <div ng-show="Modal.IsApproveCancelForm" class="form-group">
                                    @Html.LabelFor(x => x.CancelRequest, "Status", new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(x => x.CancelRequest, StatusMSR, new { @id="ModalStatusRequest", @ng_model = "Modal.CancelRequest", @class = "form-control" })
                                    </div>
                                </div>

                                <div style="">

                                    <table class="table table-bordered table-hover" style="margin-bottom: 0;">
                                        <thead>
                                            <tr role="row" class="bg-green-meadow">
                                                <th>NO</th>
                                                <th>ITEM NO</th>
                                                <th>DESCRIPTION</th>
                                                <th ng-show="!Modal.IsApproveCancelForm">LOCATION</th>
                                                <th>QTY</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Modal.MSRIssuedDetails track by $index">
                                                <td style="z-index: 99;">{{ item.LineNo }}
                                                </td>
                                                <td style="z-index: 99;">{{ item.ItemNo }}</td>
                                                <td>{{ item.Description }}</td>
                                                <td ng-show="!Modal.IsApproveCancelForm">{{ item.Location }}</td>
                                                <td>{{ item.QtyDelivered }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button ng-show="Modal.IsApproveCancelForm" ng-click="ApproveCancel()" ng-disabled="!Modal.CancelRequest" type="button" class="btn green pull-right">Save</button>
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                            <button ng-show="Modal.IsCanReverse" ng-click="ReverseTransfer()" type="button" class="btn red pull-right">Reverse Transfer</button>
                                            <button ng-show="Modal.IssuedType=='@JResources.Common.Enum.RequestStatus.ISSUED'" ng-click="PrintGoodIssued()" type="button" class="btn bg-green-seagreen pull-left"><i class="fa fa-print"></i> Print Form Issued</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
