﻿@model JResources.Data.Model.CompanyModel

@{
    ViewBag.Title = "Company";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Company";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Company.Index());
}
@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.Company.Index())">
                <i class="fa fa-building"></i>
                List Company
            </a>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">


        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Form @ViewBag.Title</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm(MVC.Company.Detail(), FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                {
                    @Html.HiddenFor(x => x.ID)
                    <div class="form-body">

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyCode, "Company Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.CompanyCode, new { @placeholder = "Company Code", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyName, "Company Name", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(x => x.CompanyName, new { @placeholder = "Company Name", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.ADCode, "Active Directory Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(x => x.ADCode, new { @placeholder = "Active Directory Code", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.DocumentCode, "Document Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(x => x.DocumentCode, new { @placeholder = "Document Code Number", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Currency, "Currency", new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(x => x.Currency, new { @placeholder = "Currency", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.IsEnabled, "Is Enabled", new { @class = "control-label col-md-3" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(x => x.IsEnabled, new { @class = "form-control" })
                            </div>
                        </div>


                    </div>
                    
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>

        </div>

    </div>
</div>



