﻿@using JResources.Common
@using GridMvc.Html

@model IEnumerable<JResources.Data.Company>

@{
    ViewBag.Title = "Company";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Company";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Company.Detail(Guid.Empty));
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.Company.Detail(Guid.Empty))">
                <i class="fa fa-building"></i>
                Entry Company
            </a>

        </div>
    </div>
}




<div class="row">
    <div class="col-md-12">

        <div class="" style="background: #fff;">

            @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(x => x.CompanyName)
                        .Titled("Company Name")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionHref(Url.Action(MVC.Company.Detail(x.ID)), x.CompanyName));


                    columns.Add(x => x.CompanyCode)
                        .Titled("Company Code")
                        .Sortable(true)
                        .Filterable(true);

                    columns.Add(x => x.ADCode)
                        .Titled("Active Directory Code")
                        .Sortable(true)
                        .Filterable(true);

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionEdit(Url.Action(MVC.Company.Detail(x.ID))));

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionDelete(Url.Action(MVC.Company.Delete(x.ID))));


                }).SetRowCssClasses(item => item.IsDeleted ? "deleted" : string.Empty).WithPaging(Constant.PAGE_SIZE_DEFAULT)

        </div>

    </div>
</div>





