﻿@model JResources.Data.Model.DepartmentModel

@{
    ViewBag.Title = "Details";
}

@{
    ViewBag.Title = "Department";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Department";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Department.Index());

    List<SelectListItem> ListCompany = new List<SelectListItem>();
    if (ViewBag.CompanyList != null)
    {
        ListCompany = (List<SelectListItem>)ViewBag.CompanyList;
    }
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.Department.Index())">
                <i class="fa fa-users"></i>
                List Department
            </a>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">


        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Form @ViewBag.Title</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm(MVC.Department.Detail(), FormMethod.Post, new { @class = "form-horizontal form-bordered" }))
                {
                    @Html.HiddenFor(x =>x.ID)
                    <div class="form-body">

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">

                                @Html.DropDownListFor(x => x.CompanyId, ListCompany, new { @class="form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.DepartmentName, "Department Name", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.DepartmentName, new { @placeholder = "Department Name", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CategoryCode, "Category Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.CategoryCode, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.MaintenanceTypeCode, "Maintenance Type Code", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.MaintenanceTypeCode, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.IsHaveNonInventory, "Is Have Non Inventory", new { @class = "control-label col-md-3" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(x => x.IsHaveNonInventory, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.MappingCostCenter, "Mapping Cost Center", new { @class = "control-label col-md-3" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.MappingCostCenter, new { @placeholder = "Split By |", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.IsDeleted, "Is Deleted", new { @class = "control-label col-md-3" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(x => x.IsDeleted, new { @class = "form-control" })
                            </div>
                        </div>

                        





                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green"><i class="fa fa-check"></i>Save</button>
                                <a href="@Url.Action(MVC.Department.Index())" class="btn default">Back To List</a>
                            </div>
                        </div>
                    </div>
                }
                <!-- END FORM-->
            </div>
        </div>

    </div>
</div>
