﻿@using JResources.Common
@using GridMvc.Html

@model IEnumerable<JResources.Data.Department>

@{
    ViewBag.Title = "Department";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Department";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Department.Detail(Guid.Empty));
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.Department.Detail(Guid.Empty))">
                <i class="fa fa-users"></i>
                Entry Department
            </a>

        </div>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <div style="background: #fff;">
            @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add(x => x.Company.CompanyName)
                        .Titled("Company")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionHref(Url.Action(MVC.Department.Detail(x.ID)), x.Company.CompanyName));

                    columns.Add(x => x.DepartmentName)
                        .Titled("Department Name")
                        .Sortable(true)
                        .Filterable(true)
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(300)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionHref(Url.Action(MVC.Department.Detail(x.ID)), x.DepartmentName));


                    columns.Add(x => x.MaintenanceTypeCode)
                        .Titled("Maintenance Type")
                        .Sortable(false)
                        .Filterable(false);

                    columns.Add(x => x.CategoryCode)
                        .Titled("Category Code")
                        .Sortable(false)
                        .Filterable(false);
                    
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionEdit(Url.Action(MVC.Department.Detail(x.ID))));

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(50)
                        .RenderValueAs(x => JResources.Web.FunctionWebHelpers.ActionDelete(Url.Action(MVC.Department.Delete(x.ID))));


                }).SetRowCssClasses(item => item.IsDeleted ? "deleted" : string.Empty).WithPaging(Constant.PAGE_SIZE_DEFAULT)
        </div>
    </div>
</div>





