﻿@using JResources.Common

@model JResources.Data.Model.FRFModel

@{
    ViewBag.Title = "FUEL REQUEST";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Fuel";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.FRF.Detail());
    ViewBag.BreadLastLabel = "Fuel Detail";

    var ListStatus = new List<SelectListItem>();
    ListStatus.Add(new SelectListItem() { Text = "", Value = "New" });
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">

            <a class="btn" href="@Url.Action(MVC.FRF.Detail())">
                <i class="fa fa-users"></i>
                List Fuel Request
            </a>

        </div>
    </div>
}

@section HeaderStyle {
    @*<link href="~/Assets/global/plugins/StickyTableHeaders/css/component.css" rel="stylesheet" type="text/css" />*@
    <style>
        /*#fuel-detail tbody tr th,
        #fuel-detail tbody tr td,
        table.sticky-col tbody tr th,
        table.sticky-col tbody tr td
        {
            padding: 0;
        }

        #fuel-detail tbody tr th input,
        #fuel-detail tbody tr td input,
        #fuel-detail tbody tr th div select,
        #fuel-detail tbody tr td div select,

        #table.sticky-col tbody tr th input,
        #table.sticky-col tbody tr td input,
        #table.sticky-col tbody tr th div select,
        #table.sticky-col tbody tr td div select
        {
            border: 0;
        }*/

        #fuel-detail tbody tr td select
        {
            font-size: 11px;
        }
    </style>
}



<div class="row">
    <div class="col-md-12">

        <form action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box green">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>Fuel Request Entry Form
                    </div>
                </div>


                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group">
                                @Html.LabelFor(x => x.FRFNo, "FRF No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.FRFNo, new { @class = "form-control", @placeholder = "Auto Generate", @disabled = "disabled" })
                                </div>

                            </div>


                            <div class="form-group">
                                @Html.LabelFor(x => x.FRFDate, "FRF Date", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">

                                    <div class="input-group date date-picker" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                        @Html.TextBoxFor(x => x.FRFDate, new { @class = "form-control date-picker", @placeholder = "FRF Date", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn blue" href="javascirpt:;">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>


                                @Html.LabelFor(x => x.UserCreated.Username, "Created By", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.UserCreated.Username, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">Fuel Details</span>
                        <span class="caption-helper">List</span>
                    </div>
                </div>
                <div class="portlet-body form no-padding">
                    <table id="fuel-detail" class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>LOG SHEET DATE</th>
                                <th>ITEM PART</th>
                                <th>LOCATION</th>
                                <th>QTY</th>
                                <th>INFORMATION</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i < 2; i++)
                            {
                                <tr class="fuel-item" style="height: 100px;">
                                    <th>
                                        <div class="input-group date date-picker" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                            <span class="input-group-btn">
                                                <a class="btn blue btn-sm" href="javascirpt:;">
                                                    <i class="fa fa-calendar"></i>
                                                </a>
                                            </span>
                                            @Html.TextBox("FRFDate", "", new { @class = "form-control input-sm date-picker", @placeholder = "Log Sheet Date", @style = "width:120px;", @readonly = "" })
                                        </div>
                                    </th>
                                    <td>
                                        <div class="input-group">
                                            <div class="row" style="margin-bottom: 5px;">
                                                <div class="col-md-12">

                                                    <div class="input-inline">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-cube"></i>
                                                            </span>
                                                            <select class="form-control input-small input-sm">
                                                                <option>B0-0001</option>
                                                                <option>B0-0002</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control input-medium input-sm" placeholder="Item Description" readonly>
                                                </div>
                                            </div>
                                        </div>




                                    </td>

                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon input-sm">
                                                <i class="icon-home"></i>
                                            </span>
                                            <select class="form-control input-sm" style="width: 160px;">
                                                <option>SELECT LOCATION</option>
                                                <option>AWH01</option>
                                                <option>AWH02</option>
                                            </select>
                                        </div>


                                    </td>

                                    <td>
                                        <input type="text" class="form-control input-sm" placeholder="Qty" style="width: 50px;">
                                    </td>
                                    <td>
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <span class="input-group-addon input-sm">
                                                <i class="fa fa-wrench"></i>
                                            </span>
                                            <select class="form-control input-sm" style="width: 160px;">
                                                <option>SELECT EQUIPMENT</option>
                                                <option>AWH01</option>
                                                <option>AWH02</option>
                                            </select>
                                        </div>

                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <span class="input-group-addon input-sm">
                                                <i class="fa fa-usd"></i>
                                            </span>
                                            <select class="form-control input-sm" style="width: 160px;">
                                                <option>SELECT COST CENTER</option>
                                                <option>AWH01</option>
                                                <option>AWH02</option>
                                            </select>
                                        </div>

                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <span class="input-group-addon input-sm">
                                                <i class="fa fa-life-ring"></i>
                                            </span>
                                            <select class="form-control input-sm" style="width: 160px;">
                                                <option>SELECT MAINTENANCE</option>
                                                <option>AWH01</option>
                                                <option>AWH02</option>
                                            </select>
                                        </div>

                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <input type="text" class="form-control input-sm" placeholder="HM/KM Unit">
                                        </div>

                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Operator">
                                        </div>




                                    </td>
                                    <td>
                                        <a href="#" class="btn-remove btn btn-danger btn-sm">
                                            <i class="fa fa-close"></i>Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <a id="fuel-add" href="#" class="btn green">Add New Item <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="portlet box green">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa fa-users"></i>Approval
                    </div>
                </div>

                <div class="portlet-body form">

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group">
                                @Html.LabelFor(x => x.UserCreated.Username, "Requestor", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBox("Requestor", "", new { @class = "form-control", @placeholder = "" })
                                </div>


                                @Html.LabelFor(x => x.UserApproval.Username, "Approval", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBox("Requestor", "", new { @class = "form-control", @placeholder = "" })
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button type="submit" class="btn green">Submit</button>
                                            <button type="button" class="btn default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </form>
    </div>
</div>

@section FooterScript{
    @*    <script src="~/Assets/global/plugins/StickyTableHeaders/js/jquery.ba-throttle-debounce.min.js"></script>
    <script src="~/Assets/global/plugins/StickyTableHeaders/js/jquery.stickyheader.js"></script>*@

    <script>
        $('#fuel-add').click(function () {
            var newitem = $('.fuel-item:first');
            $('#fuel-detail tbody').append('<tr class="fuel-item">' + newitem.html() + '</tr>');
        });

        $('body').on('click', '.btn-remove', function () {
            $(this).parent().parent().remove();
        });

    </script>
}
