﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.FRFModel

@{
    ViewBag.Title = "FUEL REQUEST";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "Fuel";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.FRF.Detail(Guid.Empty));
    ViewBag.BreadLastLabel = "Fuel Detail";

    string objModel = JsonConvert.SerializeObject(Model);
    var ListStatus = new List<SelectListItem>();
    ListStatus.Add(new SelectListItem() { Text = "", Value = "New" });

    PartItemSearchModel ItemFuels = new PartItemSearchModel();
    if (ViewBag.ItemFuels != null)
    {
        ItemFuels = (PartItemSearchModel)ViewBag.ItemFuels;
    }

    List<SelectListItem> ListMaintenanceCodes = new List<SelectListItem>();
    if (ViewBag.ListMaintenanceCodes != null)
    {
        ListMaintenanceCodes = (List<SelectListItem>)ViewBag.ListMaintenanceCodes;
    }

    List<FRFItemEquipment> ListEquipments = new List<FRFItemEquipment>();
    if (ViewBag.ListEquipments != null)
    {
        ListEquipments = (List<FRFItemEquipment>)ViewBag.ListEquipments;
    }

    bool IsDisabled = true;
    if (Model.ID == Guid.Empty || Model.FRFStatus == JResources.Common.Enum.RequestStatus.NEW)
    {
        IsDisabled = false;
    }
}



@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">

            <a class="btn" href="@Url.Action(MVC.FRF.Index())">
                <i class="fa fa-users"></i>
                List Fuel Request
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="fuel-form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box green">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>Fuel Request Entry Form
                    </div>
                </div>


                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group">
                                @Html.LabelFor(x => x.FRFNo, "FRF No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.FRFNo, new { @ng_model = "Model.FRFNo", @class = "form-control", @placeholder = "Auto Generate", @readonly = "readonly" })
                                </div>


                                @Html.LabelFor(x => x.UserCreated.FullName, "Requestor", new { @class = "control-label col-md-2 col-md-offset-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.UserCreated.FullName, new { @ng_model = "Model.UserCreated.FullName", @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(x => x.UserCreated.NIKSite)
                                </div>

                            </div>


                            <div class="form-group">

                                @Html.LabelFor(x => x.FRFDate, "FRF Date", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">

                                    <div class="input-group date date-picker" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                        @Html.TextBoxFor(x => x.FRFDate, new { @ng_model = "Model.FRFDateStr", @class = "form-control date-picker", @placeholder = "FRF Date", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn blue" href="javascirpt:;">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>


                                @Html.LabelFor(x => x.UserApproval.Username, "Approval", new { @class = "control-label col-md-2 col-md-offset-2" })
                                <div class="col-md-3">
                                    @Html.TextBox("Requestor", "", new { @ng_model = "Model.UserApproval.FullName", @class = "form-control", @placeholder = "Approval", @readonly = "" })
                                </div>
                            </div>



                            <div class="portlet box bg-grey-gallery" style="margin: 10px;">

                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-blue-hoki"></i>Fuel Details List
                                    </div>
                                </div>

                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-horizontal form-bordered">
                                        <div class="form-body">

                                            <div class="portlet-body">
                                                <div class="table-scoller">

                                                    <table id="table-detail" class="table table-bordered">
                                                        <thead>
                                                            <tr role="row" class="bg-grey-cascade">
                                                                <th>NO</th>
                                                                <th ng-show="IsDisabled" style="width: 125px;">LOG SHEET DATE</th>
                                                                <th>SHIFT</th>
                                                                <th>ITEM PART</th>
                                                                <th>LOCATION</th>
                                                                <th>QTY</th>
                                                                <th>MAINTENANCE CODE</th>
                                                                <th>EQUIPMENT</th>
                                                                <th><span style="font-size: 80%;">COST CENTER</span></th>
                                                                <th><span style="font-size: 80%;">CATEGORY</span></th>
                                                                <th>HM/KM Unit</th>
                                                                <th>OPERATOR</th>
                                                                @if(!IsDisabled)
                                                                {
                                                                    <th></th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr ng-repeat="item in Model.FRFDetails track by $index">
                                                                <td style="width: 30px;">
                                                                    <input type="text" class="form-control" value="{{ $index+1 }}" readonly />
                                                                </td>
                                                                <td ng-show="IsDisabled">
                                                                    <div class="input-group" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                                                        <span class="input-group-btn">
                                                                            <a class="btn default btn" href="javascirpt:;">
                                                                                <i class="fa fa-calendar"></i>
                                                                            </a>
                                                                        </span>
                                                                        <input ng-model="item.LogSheetDateStr" type="text" class="form-control" style="width: 80px;" readonly />
                                                                    </div>

                                                                </td>
                                                                <td style="width: 70px;">
                                                                    <select ng-model="item.Shift" ng-init="item.Shift = 'day'"  class="form-control" style="font-size:95%;padding-left: 2px; border:0;">
                                                                        <option value="day">Day</option>
                                                                        <option value="night">Night</option>
                                                                    </select>
                                                                </td>
                                                                <td style="width: 150px;">
                                                                    <select ng-model="item.ItemPart" ng-change="setCategory(item)" ng-options="item as item.ItemNo+' - '+item.Description for item in objItemFuels.ListData track by item.ItemNo" class="form-control" style="font-size: 90%; padding-left: 0; border:0;"></select>
                                                                </td>
                                                                <td style="width: 100px;">
                                                                    <select ng-model="item.LocationId" class="form-control" style="font-size: 90%; border:0;">
                                                                        <option ng-repeat="loc in item.ItemPart.ItemLocations" value="{{ loc.Location }}">{{ loc.Location }}</option>
                                                                    </select>
                                                                </td>
                                                                <td style="width: 50px;">
                                                                    <input ng-model="item.Qty" type="text" class="form-control" style="text-align: right;" />
                                                                </td>
                                                                <td style="width: 200px;">
                                                                    <select ng-model="item.MaterialCode" ng-options="item.Value as item.Text for item in objMaintenanceCodes" class="form-control" style="font-size: 95%; padding-left: 0; border:0;"></select>
                                                                </td>
                                                                <td style="width: 200px;">
                                                                    <select ng-model="item.Equipment" ng-change="setCategory(item)" ng-options="item as item.EquipmentLabel for item in objEquipments track by item.EquipmentCode" class="form-control" style="font-size: 95%; padding-left: 0; border:0;"></select>
                                                                </td>
                                                                <td style="width: 100px;">
                                                                    <input ng-model="item.Equipment.CostCenter" type="text" class="form-control bg-grey-cararra" readonly />
                                                                </td>
                                                                <td style="width: 100px;">
                                                                    <input ng-model="item.Category" type="text" class="form-control bg-grey-cararra" readonly />
                                                                </td>
                                                                <td style="width: 50px;">
                                                                    <input ng-model="item.EndOfKM" type="text" class="form-control" />
                                                                </td>
                                                                <td>
                                                                    <input ng-model="item.OperatorName" type="text" class="form-control" />
                                                                </td>
                                                                @if(!IsDisabled)
                                                                {
                                                                    <td>
                                                                        <a class="btn red" ng-click="RemoveRow($index)" style="margin-right: 0;"><i class="fa fa-times"></i></a>
                                                                    </td>
                                                                }
                                                            </tr>

                                                        </tbody>


                                                        @if(!IsDisabled)
                                                        {
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="12" style="padding: 10px;">
                                                                        <a ng-click="addEmptyFRFDetail()" href="#table-detail" class="btn default yellow-stripe" style="z-index: 99;">
                                                                            <i class="fa fa-plus"></i>
                                                                            <span class="hidden-480">Add New Colum Part </span>
                                                                        </a>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        }

                                                        <tfoot>
                                                            <tr class="bg-grey-cararra">
                                                                <th colspan="5" class=""><label style="font-weight: bold;">Total Quantity</label></th>
                                                                <td><label class="pull-right">{{ Model.TotalQty }}</label></td>
                                                                <td colspan="6"></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-8">
                                            @if(!IsDisabled)
                                            {
                                                <button type="button" ng-click="SaveFuel()" class="btn green">Submit</button>
                                                <button type="button" ng-click="CreateNew()" class="btn default">Cancel</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- END FORM-->
                </div>

            </div>


        </form>
    </div>
</div>

@section FooterScript{
    <script src="~/Assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>

    <script>
        $('#fuel-add').click(function () {
            var newitem = $('.fuel-item:first');
            $('#fuel-detail tbody').append('<tr class="fuel-item">' + newitem.html() + '</tr>');
        });

        $('body').on('click', '.btn-remove', function () {
            $(this).parent().parent().remove();
        });

        var objModel = function () { return @Html.Raw(objModel) };
        var objDetail = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new FRFDetailModel())) };
        var objItemFuels = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ItemFuels)) };
        var objMaintenanceCodes = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ListMaintenanceCodes)) };
        var objEquipments = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ListEquipments)) };

        var URI_LIST_FUEL = '@Url.Action(MVC.FRF.Index())';
        var URI_CREATE_FUEL = '@Url.Action(MVC.FRF.FuelSave())';

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();
            $scope.IsDisabled = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(IsDisabled));
            $scope.objItemFuels = objItemFuels();
            $scope.objMaintenanceCodes = objMaintenanceCodes();
            $scope.objEquipments = objEquipments();            

            $scope.addEmptyFRFDetail = function () {
                var item = objDetail();
                item.Shift = 'day';
                $scope.Model.FRFDetails.push(item);
            }

            if($scope.Model.FRFDetails.length < 1)
            {
                $scope.addEmptyFRFDetail();
            }

            $scope.RemoveRow = function(iRow){
                var elementBlock = '#fuel-form';
                BlockElement(elementBlock);

                if (iRow > -1) {
                    $scope.Model.FRFDetails.splice(iRow, 1);
                    if($scope.Model.FRFDetails.length < 1)
                    {
                        $scope.addEmptyFRFDetail();
                    }

                    unBlockElement(elementBlock);
                }
            }

            $scope.SaveFuel = function () {
                var elementBlock = '#fuel-form';
                BlockElement(elementBlock);

                $http({
                    method: 'POST',
                    url: URI_CREATE_FUEL,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    if (response.data.IsSuccess) {
                        window.location = URI_LIST_FUEL;
                    } else {
                        showAlert(response.data.Message);
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {

                    console.log(response);
                    bootbox.alert("Error When Save");
                    unBlockElement(elementBlock);
                });
            }

            $scope.setCategory = function (item) {
                var category = '';                

                if (item.Equipment !== null) {
                    var coaGroup = item.Equipment.COA;
                    if (coaGroup.length > 2) {
                        coaGroup = coaGroup.replace('-', '');
                        coaGroup = coaGroup.substring(0, 2);
                    }

                    category = coaGroup;
                }

                if (item.ItemPart !== null) {
                    category = category + item.ItemPart.Category;
                }

                if (category.length > 0) {
                    category = category.replace('-', '');
                    category = category.replace(/\s/g, '');
                }

                if (category.length >= 5) {
                    item.Category = category;
                } else {
                    item.Category = "";
                }
            }

            $scope.CreateNew = function(){
                $scope.Model = objModel();
                $scope.addEmptyFRFDetail();
            }

        });
    </script>
}
