﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.FRFModel

@{
    List<SelectListItem> StatusMSR = new List<SelectListItem>();
    if (ViewBag.StatusMSR != null)
    {
        StatusMSR = (List<SelectListItem>)ViewBag.StatusMSR;
    }
}


<div class="modal fade bs-modal-lg" id="frf-modal" tabindex="-1" role="frf-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box green" style="margin-bottom: 0;">

                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-alt"></i>FRF Approval Form
                        </div>
                    </div>


                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <!-- BEGIN FORM-->

                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.FRFNo, "FRF No", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.FRFNo, new { @ng_model = "Modal.FRFNo", @class = "form-control", @placeholder = "Auto Generate", @readonly = "readonly" })
                                    </div>


                                    @Html.LabelFor(x => x.FRFDate, "FRF Date", new { @class = "control-label col-md-2 col-md-offset-2" })
                                    <div class="col-md-3">

                                        <div class="input-group" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                            @Html.TextBoxFor(x => x.FRFDate, new { @ng_model = "Modal.FRFDateStr", @class = "form-control date-picker", @placeholder = "FRF Date", @readonly = "" })

                                            <span class="input-group-btn">
                                                <a class="btn default" href="javascirpt:;">
                                                    <i class="fa fa-calendar"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">

                                    @Html.LabelFor(x => x.FRFStatus, "Status", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(x => x.FRFStatus, StatusMSR, new { @id="ModalStatusRequest", @ng_model = "Modal.FRFStatus", @class = "form-control" })
                                    </div>


                                    @Html.LabelFor(x => x.UserCreated.FullName, "Requestor", new { @class = "control-label col-md-2 col-md-offset-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.UserCreated.FullName, new { @ng_model = "Modal.UserCreated.FullName", @class = "form-control", @disabled = "disabled" })
                                        @Html.HiddenFor(x => x.UserCreated.NIKSite)
                                    </div>

                                </div>

                                <div class="portlet box bg-grey-gallery" style="margin-bottom: 0;">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer font-blue-hoki"></i>Fuel Details List
                                        </div>
                                    </div>
                                </div>

                                <div class="table-scoller">

                                    <table id="table-detail" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="bg-grey-cascade">
                                                <th style="width: 125px;">LOG SHEET DATE</th>
                                                <th colspan="2">ITEM PART</th>
                                                <th>LOCATION</th>
                                                <th>QTY</th>
                                                <th>EQUIPMENT</th>
                                                <th>COST CENTER</th>
                                                <th>HM/KM Unit</th>
                                                <th>OPERATOR</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Modal.FRFDetails track by $index">
                                                <td>
                                                    <div class="input-group" data-date-format="@Constant.FORMAT_DATE_JRESOURCES_PICKER">
                                                        <span class="input-group-btn">
                                                            <a class="btn default btn" href="javascirpt:;">
                                                                <i class="fa fa-calendar"></i>
                                                            </a>
                                                        </span>
                                                        <input ng-model="item.LogSheetDateStr" type="text" class="form-control" style="width: 80px;" readonly />
                                                    </div>

                                                </td>
                                                <td style="width: 80px;">
                                                    <input ng-model="item.ItemNo" type="text" class="form-control bg-grey-cararra" style="width: 80px;" readonly />
                                                </td>
                                                <td style="width: 130px;">
                                                    <input ng-model="item.ItemDescription" type="text" class="form-control bg-grey-cararra" style="width: 130px;" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.LocationId" type="text" class="form-control bg-grey-cararra" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.Qty" type="text" class="form-control bg-grey-cararra" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.EquipmentCode" type="text" class="form-control bg-grey-cararra" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.CostCode" type="text" class="form-control bg-grey-cararra" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.EndOfKM" type="text" class="form-control bg-grey-cararra" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.OperatorName" type="text" class="form-control bg-grey-cararra" readonly />
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button ng-click="ApproveFRF()" ng-disabled="!Modal.FRFStatus" type="button" class="btn green pull-right">Save</button>
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
