﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>JResources - @(ViewBag.Title != null ? ViewBag.Title : "App - Workflow")</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link href="~/Assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">

    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/Assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="~/Assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/layout4/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/Assets/global/img/favicon.ico" />
    @RenderSection("HeaderStyle", required: false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo page-sidebar-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@JResources.Common.SiteSettings.BASE_URL">
                    <img src="~/Assets/admin/layout4/img/logo-jresources.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <form class="search-form" action="extra_search.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide"></li>
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        @{Html.RenderAction(MVC.Widget.Notification());}
                        <!-- END NOTIFICATION DROPDOWN -->
                        <li class="separator hide"></li>

                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        @{Html.RenderAction(MVC.Widget.UserDropDown());}
                        <!-- END USER LOGIN DROPDOWN -->

                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
                            <a href="@Url.Action(MVC.User.LogOut())" class="dropdown-toggle">
                                <i class="fa fa-sign-out"></i>
                                <span class="badge badge-warning">Log Out </span>
                                
                            </a>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>


    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN SIDEBAR -->
        @{Html.RenderAction(MVC.Widget.Sidebar());}
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1 class="page-title">
                            @(ViewBag.Title != null ? ViewBag.Title : "PAGE TITLE")
                            @if (ViewBag.SubTitle != null)
                            {
                                <small>@ViewBag.SubTitle</small>
                            }
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->

                    @RenderSection("PageToolbar", required: false)
                </div>
                <!-- END PAGE HEAD -->

                <!-- BEGIN BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="@Url.Action(MVC.Home.Index())">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    @if (ViewBag.BreadCrumbUrl != null && ViewBag.BreadCrumbLabel != null)
                    {
                        <li>
                            <a href="@ViewBag.BreadCrumbUrl">@ViewBag.BreadCrumbLabel</a>
                            <i class="fa fa-circle"></i>
                        </li>
                    }

                    @{
                        string controllerName = string.Empty;
                        string actionName = string.Empty;

                        var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
                        if (routeValues.ContainsKey("controller"))
                        {
                            controllerName = (string)routeValues["controller"];
                        }

                        if (routeValues.ContainsKey("action"))
                        {
                            actionName = (string)routeValues["action"];
                        }
                            
                    }

                    @if (!string.IsNullOrEmpty(controllerName) && !string.IsNullOrEmpty(actionName))
                    {
                        <li>
                            <a href="#">
                                @if (ViewBag.BreadLastLabel != null)
                                {
                                    @ViewBag.BreadLastLabel
                                }
                                else
                                {
                                    @controllerName @(actionName == "Index" ? "List" : actionName)
                                }
                            </a>
                        </li>
                    }
                </ul>
                <!-- END BREADCRUMBS -->
                <!-- BEGIN PAGE CONTENT INNER -->
                @RenderBody()
                
                <!-- END PAGE CONTENT INNER -->

            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->


    <!-- BEGIN FOOTER -->
    @{Html.RenderAction(MVC.Widget.Footer());}
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="~/Assets/global/plugins/respond.min.js"></script>
<script src="~/Assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
    <script src="~/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
    <script src="~/Assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout2/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
    <script src="~/Assets/admin/pages/scripts/index3.js" type="text/javascript"></script>
    <script src="~/Assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <script src="~/Assets/global/scripts/common.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features

            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                orientation: "right",
                format: '@JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER',
                autoclose: true
            });

        });
    </script>
    @RenderSection("FooterScript", required: false)
    <!-- END JAVASCRIPTS -->

    @Html.Partial("_Notifications")
</body>
<!-- END BODY -->
</html>
