﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>JResources - @(ViewBag.Title != null ? ViewBag.Title : "App - Workflow")</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="~/Assets/global/fonts/open-sans.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/intro.js-2.3.0/introjs.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/angular-tooltips-master/angular-tooltips.min.css" />

    <link href="~/Assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/Assets/global/img/favicon.ico" />
    <script>
        var BASE_URL = '@JResources.Common.SiteSettings.BASE_URL';
        var URL_PRINT_FORM = '@(string.Format("{0}/Reports/PrintForm.aspx", JResources.Common.SiteSettings.BASE_URL))';
        var URI_ASSET_API = "@JResources.Common.SiteSettings.ASSET_API";

        var GUID_EMPTY = "@Guid.Empty";

        var REQUEST_STATUS = {
            NEW         : '@JResources.Common.Enum.RequestStatus.NEW',
            CANCEL      : '@JResources.Common.Enum.RequestStatus.CANCEL',
            APPROVED    : '@JResources.Common.Enum.RequestStatus.APPROVED',
            REVISION    : '@JResources.Common.Enum.RequestStatus.REVISION',
            REJECTED    : '@JResources.Common.Enum.RequestStatus.REJECTED',
            ISSUED      : '@JResources.Common.Enum.RequestStatus.ISSUED',
            TRANSFER    : '@JResources.Common.Enum.RequestStatus.TRANSFER',
        };

        var USER_CURRENT = {
            NIKSITE: '@JResources.Data.Model.CurrentUser.NIKSITE',
            FULLNAME : '@JResources.Data.Model.CurrentUser.FULLNAME'
        }
    </script>

    @RenderSection("HeaderStyle", required: false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-md page-header-fixed page-quick-sidebar-over-content page-footer-fixed page-sidebar-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@JResources.Common.SiteSettings.BASE_URL">
                    <img src="~/Assets/admin/layout/img/logo-jresources.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>

            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    @{Html.RenderAction(MVC.Widget.Notification());}
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    @{Html.RenderAction(MVC.Widget.UserDropDown());}
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @{Html.RenderAction(MVC.Widget.Sidebar());}
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">

                <h3 class="page-title">
                    @(ViewBag.Title != null ? ViewBag.Title : "PAGE TITLE")
                    @if (ViewBag.SubTitle != null)
                    {
                        <small>@ViewBag.SubTitle</small>
                    }
                </h3>

                <!-- BEGIN BREADCRUMBS -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="@Url.Action(MVC.Home.Index())">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        @if (ViewBag.BreadCrumbUrl != null && ViewBag.BreadCrumbLabel != null)
                        {
                            <li>
                                <a href="@ViewBag.BreadCrumbUrl">@ViewBag.BreadCrumbLabel</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                        }

                        @{
                            string controllerName = string.Empty;
                            string actionName = string.Empty;

                            var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
                            if (routeValues.ContainsKey("controller"))
                            {
                                controllerName = (string)routeValues["controller"];
                                //controllerName = System.Text.RegularExpressions.Regex.Replace(controllerName, "(\\B[A-Z])", " $1");
                            }

                            if (routeValues.ContainsKey("action"))
                            {
                                actionName = (string)routeValues["action"];
                                //actionName = System.Text.RegularExpressions.Regex.Replace(actionName, "(\\B[A-Z])", " $1");
                            }

                        }

                        @if (!string.IsNullOrEmpty(controllerName) && !string.IsNullOrEmpty(actionName))
                        {
                            <li>
                                <a href="#">
                                    @if (ViewBag.BreadLastLabel != null)
                                    {
                                        @ViewBag.BreadLastLabel
                                    }
                                    else
                                    {
                                        @controllerName @(actionName == "Index" ? "List" : actionName)
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                    @RenderSection("PageToolbar", required: false)

                </div>
                <!-- END BREADCRUMBS -->
                <!-- BEGIN PAGE CONTENT-->
                @RenderBody()
                <!-- END PAGE CONTENT-->
            </div>

        </div>
        <!-- END CONTENT -->


        @RenderSection("RightSideBar", required: false)

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @{Html.RenderAction(MVC.Widget.Footer());}
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/Assets/global/plugins/respond.min.js"></script>
    <script src="~/Assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/tether.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/clockface/js/clockface.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/intro.js-2.3.0/intro.min.js"></script>

    <script src="~/Assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/angular-1.6.1/angular.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/angular-1.6.1/angular-animate.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/angular-1.6.1/angular-messages.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/ui-bootstrap-tpls-2.4.0.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/angular-tooltips-master/angular-tooltips.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/sweetalert.min.js"></script>

    <!-- END CORE PLUGINS -->
    <script src="~/Assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/Assets/global/scripts/common.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features

            $('.date-picker').datepicker({
                rtl: Metronic.isRTL(),
                orientation: "right",
                format: '@JResources.Common.Constant.FORMAT_DATE_JRESOURCES_PICKER',
                autoclose: true
            });

        });
    </script>
    @RenderSection("FooterScript", required: false)
    <!-- END JAVASCRIPTS -->

    @Html.Partial("_Notifications")

    <!-- UPDATE FROM JENKINS -->
</body>
<!-- END BODY -->
</html>
