﻿@using JResources.Web
@{
    var errorList = Html.GetNotifications(NotificationType.ERROR);
    var warningList = Html.GetNotifications(NotificationType.WARNING);
    var successList = Html.GetNotifications(NotificationType.SUCCESS);
    var infoList = Html.GetNotifications(NotificationType.INFO);
}
<!-- display errors -->
@if (errorList != null)
{
    <div class="modal modal-danger fade" id="myModal-danger">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-red-thunderbird">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Error Notification</h4>
                </div>
                <div class="modal-body">
                    @if (errorList.Count() > 1)
                    {
                        <strong><span class="glyphicon glyphicon-remove"></span> There are @errorList.Count() errors: </strong>
                        <ul>
                            @foreach (String message in errorList)
                            {
                                <li><span class="glyphicon glyphicon-remove"></span>@Html.Raw(message)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-danger">
                            <span class="glyphicon glyphicon-remove"></span>
								@Html.Raw(errorList.First())
						</p>
                        
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
    $(window).load(function(){
        $('#myModal-danger').modal('show');
    });
    </script>

}

<!-- display warnings -->
@if (warningList != null)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    </div>

    <div class="modal modal-warning fade" id="myModal-warning">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert-warning">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Warning Notification</h4>
                </div>
                <div class="modal-body">
                    @if (warningList.Count() > 1)
                    {
                        <strong><span class="glyphicon glyphicon-warning-sign"></span> There are @warningList.Count() warnings: </strong>
                        <ul>
                            @foreach (String message in warningList)
                            {
                                <li>@Html.Raw(message)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <strong><span class="glyphicon glyphicon-warning-sign"></span> Warning: </strong>
                        @Html.Raw(warningList.First())
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
    $(window).load(function(){
        $('#myModal-warning').modal('show');
    });
    </script>
}

<!-- display success -->
@if (successList != null)
{
    <!-- Modal success -->

    <div class="modal modal-success fade" id="myModal-success">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert-success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Success Notification</h4>
                </div>
                <div class="modal-body">
                    @if (successList.Count() > 1)
                    {
                        <strong><span class="glyphicon glyphicon-ok"></span> There are @successList.Count() successful notifications: </strong>
                        <ul>
                            @foreach (String message in successList)
                            {
                                <li>@Html.Raw(message)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <strong><span class="glyphicon glyphicon-ok"></span></strong>
                        @Html.Raw(successList.First())
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
    $(window).load(function(){
        $('#myModal-success').modal('show');
    });
    </script>

}

<!-- display success -->
@if (infoList != null)
{
    <!-- Modal info -->
    <div class="modal modal-info fade" id="myModal-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Success Notification</h4>
                </div>
                <div class="modal-body">
                    @if (infoList.Count() > 1)
                    {
                        <strong><span class="glyphicon glyphicon-info-sign"></span> There are @infoList.Count() notifications: </strong>
                        <ul>
                            @foreach (String message in infoList)
                    {
                                <li>@Html.Raw(message)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <strong><span class="glyphicon glyphicon-info-sign"></span> </strong>
                        @Html.Raw(infoList.First())
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
    $(window).load(function(){
        $('#myModal-info').modal('show');
    });
    </script>
}

