﻿body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

.page {
    width: 100%;
    min-height: 29.7cm;
    padding: 0;
    margin: 0;
    border: 1px #D3D3D3 solid;
    background: white;
}

