﻿@using JResources.Data.Model.Chart

@model JResources.Data.Model.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubTitle = "reports & statistics";
    ViewBag.BreadLastLabel = "Dashboard";
    var Chart = (List<ChartBaseModel>)ViewBag.Chart;
    string ChartStr = Newtonsoft.Json.JsonConvert.SerializeObject(Chart);
}



@section PageToolbar{
    <div class="page-toolbar">
        <div class="tooltips btn btn-fit-height grey-gallery">
            <i class="icon-calendar"></i>&nbsp; 
                <span class="thin uppercase visible-lg-inline-block">@DateTime.Now.ToString("MMMM dd, yyyy")</span>&nbsp;
        </div>
        <a id="info-start" href="#" class="tooltips btn btn-fit-height blue" style="margin: 0;">
            <i class="fa fa-info-circle" style="margin-right: 0;"></i>
        </a>
    </div>
}

<div class="row hide" data-step="1" data-position="top" data-intro="Dashboard total dari proses dokumen!">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-list-ul"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.TOTAL_NEW_REQUEST
                </div>
                <div class="desc">
                    New Material Request
                </div>
            </div>
            <a class="more" href="@Url.Action(MVC.MSR.Index())?status=@(JResources.Common.Enum.RequestStatus.NEW)">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-check-square-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.TOTAL_APPROVED_REQUEST
                </div>
                <div class="desc">
                    Request Approved
                </div>
            </div>
            <a class="more" href="@Url.Action(MVC.MSR.Index())?status=@(JResources.Common.Enum.RequestStatus.APPROVED)">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow-crusta">
            <div class="visual">
                <i class="fa fa-cubes"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.TOTAL_TRANSFER_WAREHOUSE
                </div>
                <div class="desc">
                    Material Issued
                </div>
            </div>
            <a class="more" href="@Url.Action(MVC.Warehouse.ListRequestIssued())">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>

</div>
<div class="clearfix"></div>


<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light bordered" data-step="2" data-position="right" data-intro="Dashboard List aktifitas dokumen yang dibuat user!">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-blue-steel"></i>
                    <span class="caption-subject font-blue-steel ">Last 10 New MSR</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        @foreach (var item in Model.Activities)
                        {                            
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="@item.ActivityIcon"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="#">@item.Fullname</a> create <span class="label label-sm label-success">@item.DocumentNo </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date" style="font-size: 70%;">
                                        @{
                            double Hours = Math.Round(DateTime.Now.Subtract(item.CreatedDate).TotalHours);
                            double Minutes = Math.Round(DateTime.Now.Subtract(item.CreatedDate).TotalMinutes);
                                        }

                                        @if (Hours > 0)
                                        {
                                            double Days = Math.Round(Hours / 24);
                                            if (Days > 0)
                                            {
                                            @(Days) @Html.Raw(" days ")
                                                Hours = Hours % 24;
                                                if (Hours > 0)
                                                {
                                            @(Hours) @Html.Raw(" hours")
                                                }
                                            }
                                            else
                                            {
                                            @(Hours) @Html.Raw(" hours")   
                                            }
                                        }
                                        else
                                        {
                                            @(Minutes) @Html.Raw(" Minutes")
                                        }

                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="#">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 hide">
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze">Pie</span>
                    <span class="caption-helper">Chart MSR Status</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="chart_7" class="chart" style="height: 330px;">
                </div>
            </div>
        </div>
        <!-- END CHART PORTLET-->
    </div>


</div>
<div class="clearfix"></div>


@section FooterScript{
    <script src="~/Assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>


    <script>

        $('#info-start').click(function(){
            var tour = introJs();
            tour.setOption('showProgress', true);
            tour.start();
        });
        


        var initChartSample7 = function () {
            var chart = AmCharts.makeChart("chart_7", {
                "type": "pie",
                "theme": "light",
                "fontFamily": 'Open Sans',
                "color": '#888',
                "dataProvider": @Html.Raw(ChartStr),
                "valueField": "Value",
                "titleField": "Label",
                "colorField" : "Color",
                "outlineAlpha": 0.4,
                "depth3D": 15,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "angle": 30
            });

            jQuery('.chart_7_chart_input').off().on('input change', function () {
                var property = jQuery(this).data('property');
                var target = chart;
                var value = Number(this.value);
                chart.startDuration = 0;

                if (property == 'innerRadius') {
                    value += "%";
                }

                target[property] = value;
                chart.validateNow();
            });

            $('#chart_7').closest('.portlet').find('.fullscreen').click(function () {
                chart.invalidateSize();
            });

            setTimeout(function() {
                $('.amcharts-chart-div a').hide();
            }, 500);
        }

        initChartSample7();
        
    </script>
}
