﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model
@using JResources.Data.Model.Accpac
@using JResources.Common.Enum

@model JResources.Data.Model.CBEModel

@{
    string Title = "CBE";
    string cssHeader = "purple-plum";
    string cssDetail = "bg-purple-medium";

    ViewBag.Title = Title;
    ViewBag.SubTitle = "Detail Form";
    ViewBag.BreadCrumbLabel = Title;

    ViewBag.BreadCrumbUrl = Url.Action(MVC.CBE.Index());
    ViewBag.BreadLastLabel = "Issued Detail";

    PTPRHModel RQNAccpac = new PTPRHModel();
    if (ViewBag.RQNModel != null)
    {
        RQNAccpac = (PTPRHModel)ViewBag.RQNModel;
    }

    bool EnableLocationFrom = false;
    if (Model.IssuedType == RequestStatus.ISSUED || Model.IssuedType == RequestStatus.TRANSFER)
    {
        EnableLocationFrom = true;
    }

    string IssuedType = "CBE"; // Model.IssuedType;
    string objModel = JsonConvert.SerializeObject(Model);

    string objModalMSR = JsonConvert.SerializeObject((MSRSearchModel)ViewBag.MSRSearchModel);

    string objMSRSubDetailModel = JsonConvert.SerializeObject(new MSRDetailModel());

    string BidSupplierModel = JsonConvert.SerializeObject(new CBEBidSupplierModel());

    string SupplierModel = JsonConvert.SerializeObject(new MSRSupplier());

    string CurrencyModel = JsonConvert.SerializeObject(new CurrencyModel());

    string WinnerModel = JsonConvert.SerializeObject(Model.MSRIssuedDetails);

    List<SelectListItem> WorkFlowCodeList = new List<SelectListItem>();
    if (ViewBag.WorkFlowCodeList != null)
    {
        WorkFlowCodeList = (List<SelectListItem>)ViewBag.WorkFlowCodeList;
    }

    List<SelectListItem> CostCenterList = new List<SelectListItem>();
    if (ViewBag.CostCenterList != null)
    {
        CostCenterList = (List<SelectListItem>)ViewBag.CostCenterList;
    }

    bool IsView = true;

    bool btnSaveAsDraft = false;
    bool btnSubmit = false;
    bool btnPushToRQN = false;
    bool btnDiscard = false;

    if (Model.StatusCode == CBEStatus.NEW || Model.StatusCode == null)
    {
        IsView = false;
    }

    if (Model.StatusCode == CBEStatus.DRAFT || Model.StatusCode == CBEStatus.REVISE)
    {
        btnSaveAsDraft = true;
        btnSubmit = true;
        btnDiscard = true;
        IsView = false;
    }

    if (Model.StatusCode == CBEStatus.APPROVED)
    {
        btnPushToRQN = true;
    }
}


@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/pages/css/pricing-table.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />

    <style>
        #vendor-item-offer table {
            border-collapse: separate;
            border-spacing: 0;
            border-top: 1px solid grey;
        }

            #vendor-item-offer table thead tr td, #vendor-item-offer table thead tr th,
            #vendor-item-offer table tbody tr td, #vendor-item-offer table tbody tr th {
                margin: 0;
                border: 1px solid grey;
                white-space: nowrap;
                border-top-width: 0px;
            }

        #vendor-item-offer {
            width: 100%;
            overflow-x: scroll;
            margin-left: 5em;
            overflow-y: visible;
            padding: 0;
        }

        .headcol {
            position: absolute;
            width: 150px;
            left: 0;
            top: auto;
            border-top-width: 1px;
            /*only relevant for first row*/
            margin-top: -1px;
            /*compensate for top border*/
        }

        /*        .headcol:before {
            content: 'Row ';
        }*/

        .long {
            background: yellow;
            letter-spacing: 1em;
        }
    </style>
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">

            <a class="btn" href="@Url.Action(MVC.CBE.Index())">
                <i class="fa fa-users"></i>
                List CBE
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="CBE-Form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box @cssHeader">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>@ViewBag.SubTitle
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="form-group">
                                @Html.LabelFor(x => x.CBENo, Title + " No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.CBENo, new { @ng_model = "Model.CBENo", @placeholder = "Auto Generate", @class = "form-control", @disabled = "disabled" })
                                </div>

                                @Html.LabelFor(x => x.MSR.DocumentNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group input-medium">
                                        @Html.TextBoxFor(x => x.MSR.DocumentNo, new { @ng_model = "Model.MSR.DocumentNo", @class = "form-control disabled", @placeholder = "MSR No", @readonly = "" })

                                        @if (!IsView)
                                        {
                                            <span class="input-group-btn">
                                                <a ng-show="!Model.MSR.DocumentNo" ng-click="LookupSearchMSR()" class="btn blue" href="#">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>

                                                <a ng-show="Model.MSR.DocumentNo" ng-click="removeWorkOrder()" class="btn red" href="#">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </span>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.RQNNumber, "RQN No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.RQNNumber, new { @ng_model = "Model.RQNNumber", @class = "form-control", @readonly = "" })
                                </div>

                                @Html.LabelFor(x => x.MSR.WorkOrderNo, "Work Order No", new { @ng_show = "Model.MSR.WorkOrderNo", @class = "control-label col-md-2 col-md-offset-1" })
                                <div ng-show="Model.MSR.WorkOrderNo" class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderNo, new { @ng_model = "Model.MSR.WorkOrderNo", @class = "form-control", @readonly = "" })
                                </div>
                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.DepartmentName, new { @ng_model = "Model.MSR.DepartmentName", @class = "form-control", @disabled = "disabled" })
                                </div>


                                @Html.LabelFor(x => x.MSR.CostCenter, "Cost Center", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MSR.CostCenter, new { @ng_model = "Model.MSR.CostCenterLabel", @class = "form-control disabled", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.MSR.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.DateCreated, new { @ng_model = "Model.MSR.DateCreatedStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>

                                @Html.LabelFor(x => x.MSR.ExpectedDateStr, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">

                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.ExpectedDateStr, new { @ng_model = "Model.MSR.ExpectedDateStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="Model.MSR.MaintenanceCode" class="form-group" ng-show="IsWorkOrder">
                                @Html.LabelFor(x => x.MSR.MaintenanceCode, "Job Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.MaintenanceCode, new { @ng_model = "Model.MSR.MaintenanceCodeLabel", @class = "form-control", @readonly = "" })
                                </div>

                                @Html.LabelFor(x => x.MSR.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.EquipmentNo, new { @class = "form-control", @placeholder = "EquipmentNo", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.CostCenter, "Cost Center", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">

                                    @if (IsView)
                                    {
                                        @Html.DropDownListFor(x => x.CostCenter, CostCenterList, new { @ng_model = "Model.RequestorCostCenter", @class = "form-control", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.CostCenter, CostCenterList, new { @ng_model = "Model.RequestorCostCenter", @class = "form-control" })
                                    }

                                </div>
                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.WorkFlowCode, "WorkFlow Code", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @if (IsView)
                                    {
                                        @Html.DropDownListFor(x => x.WorkFlowCode, WorkFlowCodeList, new { @ng_model = "Model.WorkFlowCode", @class = "form-control", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.WorkFlowCode, WorkFlowCodeList, new { @ng_model = "Model.WorkFlowCode", @class = "form-control" })
                                    }
                                </div>
                            </div>

                            <div class="form-group" ng-show="Model.MSR.DocumentNo && Model.MSR.WorkOrderNo">
                                @Html.LabelFor(x => x.Remarks, Title + " Remarks", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @if (IsView)
                                    {
                                        @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason", @rows = "4", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason", @rows = "4" })
                                    }

                                </div>

                                @Html.LabelFor(x => x.MSR.WorkOrderStatus, "Work Order Status", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderStatusLabel, new { @ng_model = "Model.MSR.WorkOrderStatusLabel", @class = "form-control", @placeholder = "Work Order Status", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.TechnicalSummary, "Technical Summary", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @if (IsView)
                                    {
                                        @Html.TextAreaFor(x => x.TechnicalSummary, new { @ng_model = "Model.TechnicalSummary", @class = "form-control", @placeholder = "Reason", @rows = "4", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(x => x.TechnicalSummary, new { @ng_model = "Model.TechnicalSummary", @class = "form-control", @placeholder = "Reason", @rows = "4" })
                                    }

                                </div>

                                @Html.LabelFor(x => x.StatusCode, "Status", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.StatusCode, new { @ng_model = "Model.StatusCode", @class = "form-control", @placeholder = "Status", @readonly = "" })
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div id="tbody-detail-item" ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i> List Detail Item Part
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="portlet-body">

                                <div class="tab-pane active" id="tab_Company">
                                    <ul class="nav nav-tabs ">
                                        <li class="active">
                                            <a href="#tab_5_1" data-toggle="tab">Bid</a>
                                        </li>
                                        <li>
                                            <a href="#tab_5_2" data-toggle="tab">Recomendation For Award</a>
                                        </li>
                                        <li>
                                            <a href="#tab_5_3" data-toggle="tab">Summary</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_5_1">
                                            <div class="portlet light bordered">
                                                <div class="portlet-title">
                                                    <div class="table-scoller">
                                                        <table id="table-detail" class="table table-bordered">
                                                            <thead>
                                                                <tr role="row" class="@cssDetail">
                                                                    <th style="width: 40px;" rowspan="2">No</th>
                                                                    <th style="width: 120px;" colspan="2">Item</th>
                                                                    <th rowspan="2">Description</th>
                                                                    <th ng-show="!(Model.IsNonInventory)" style="width: 100px;" rowspan="2">Location</th>
                                                                    <th style="width: 140px;" colspan="2">Qty</th>
                                                                    <th style="width: 80px;" rowspan="2">Cost</th>
                                                                    <th style="width: 100px;" rowspan="2">Cost Code</th>
                                                                    <th style="width: 45px;" rowspan="2"></th>
                                                                </tr>
                                                                <tr role="row" class="@cssDetail">
                                                                    <th style="width: 60px;">Code</th>
                                                                    <th style="width: 60px;">UoM</th>
                                                                    <th style="width: 70px;">Request</th>
                                                                    <th style="width: 70px;">Purchase Outstanding</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-repeat="item in Model.MSRIssuedDetails track by $index">
                                                                <tr>
                                                                    <td style="z-index: 99;">
                                                                        <input ng-model="item.LineNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 40px;">
                                                                    </td>
                                                                    <td style="z-index: 99;">
                                                                        <input ng-model="item.ItemNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 100px;">
                                                                    </td>
                                                                    <td style="z-index: 99;">
                                                                        <input ng-model="item.UOM" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 100px;">
                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="item.Description" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                                    </td>
                                                                    <td ng-show="!(Model.IsNonInventory)">
                                                                        <select disabled="disabled" ng-model="item.Location" class="form-control" ng-options="loc.Location as loc.Location for loc in item.ItemLocations">
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="item.QtyRequest" type="number" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" style="width: 70px;" readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" ng-model="item.QtyPurchaseOutstanding" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" value="Complete" readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="item.Cost" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input ng-model="item.CostCode" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                                    </td>
                                                                    <td>
                                                                        <a ng-show="!item.IsShowVendor" ng-click="item.IsShowVendor=!item.IsShowVendor;" href="javascript:;" class="btn btn-icon-only">
                                                                            <i class="fa fa-cart-plus"></i>
                                                                        </a>

                                                                        <a ng-show="item.IsShowVendor" ng-click="item.IsShowVendor=!item.IsShowVendor;" href="javascript:;" class="btn btn-icon-only">
                                                                            <i class="fa fa-minus"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-show="item.IsShowVendor">
                                                                    <td style="z-index: 99; padding: 20px; padding-left: 45px;" colspan="9">
                                                                        <table id="table-subdetail" class="table table-bordered">
                                                                            <thead>
                                                                                <tr role="row" class="@cssDetail" ">
                                                                                    <th style="width: 650px;" colspan="2">Supplier</th>
                                                                                    <th style="width: 100px;" rowspan="2">Quantity</th>
                                                                                    <th style="width: 100px;" rowspan="2">Rate</th>
                                                                                    <th style="width: 50px;" rowspan="2">Currency</th>
                                                                                    <th style="width: 400px;" colspan="3">Price</th>
                                                                                    <th style="width: 50px;" rowspan="2">Set As Winner</th>
                                                                                    <th style="width: 600px;" rowspan="2">Remark</th>
                                                                                    <th style="width: 30px;" rowspan="2"></th>
                                                                                </tr>
                                                                                <tr role="row" class="@cssDetail">
                                                                                    <th style="width: 100px;">Supplier Id</th>
                                                                                    <th style="width: 550px;">Supplier Name</th>
                                                                                    <th style="width: 100px;">Unit Price</th>
                                                                                    <th style="width: 100px;">Total Price</th>
                                                                                    <th style="width: 100px;">Total Price USD</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="itemBidSupplier in item.CBEBidSuppliers track by $index">

                                                                                    <td style="width:120px">
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-btn">
                                                                                                <a class="btn blue" ng-click="lookupSearchSupplier($parent.$index, $index, itemBidSupplier.Id)" href="#">
                                                                                                    <i class="fa fa-search-plus"></i>
                                                                                                </a>
                                                                                            </span>
                                                                                            <input ng-model="itemBidSupplier.Supplier" type="text" class="form-control bg-grey" readonly="" style="width:100px">
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input ng-model="itemBidSupplier.SupplierName" type="text" readonly />
                                                                                    </td>
                                                                                    <td style="z-index: 99; width:50px">
                                                                                        <input ng-model="itemBidSupplier.Qty" ng-change="FuncTotalPrice($parent.$index, $index, {{itemBidSupplier.Qty}})" type="number" style="width:60px">
                                                                                    </td>
                                                                                    <td>
                                                                                        @*<input ng-model="itemBidSupplier.Rate" type="text" style="width:60px" />*@
                                                                                        {{ itemBidSupplier.Rate | currency : ""}}
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="input-group">
                                                                                            <span class="input-group-btn">
                                                                                                <a class="btn blue" ng-click="lookupSearchCurrency($parent.$index, $index, itemBidSupplier.Id)" href="#">
                                                                                                    <i class="fa fa-search-plus"></i>
                                                                                                </a>
                                                                                            </span>
                                                                                            <input ng-model="itemBidSupplier.Currency" type="text" class="form-control bg-grey" readonly="" style="width:50px">
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input ng-model="itemBidSupplier.UnitPrice" ng-change="FuncTotalPrice($parent.$index, $index, itemBidSupplier.Qty)" type="number" style="width:100px" />
                                                                                    </td>
                                                                                    <td>
                                                                                        @*<input ng-model="itemBidSupplier.TotalPrice" type="number" style="width:100px" readonly />*@
                                                                                        {{ itemBidSupplier.TotalPrice | currency : ""}}
                                                                                    </td>
                                                                                    <td>
                                                                                        @*<input ng-model="itemBidSupplier.TotalPrice_USD" type="text" style="width:100px" readonly />*@
                                                                                        {{ itemBidSupplier.TotalPrice_USD | currency : ""}}
                                                                                    </td>
                                                                                    <td style="text-align:center">
                                                                                        <input ng-model="itemBidSupplier.SetAsWinner" type="checkbox" ng-click="FuncSetWinner($parent.$index, $index, itemBidSupplier.SetAsWinner)" />
                                                                                    </td>
                                                                                    <td style="text-align:center">
                                                                                        <textarea ng-model="itemBidSupplier.Remark" class="form-control" rows="1" cols="4" style="resize:none"></textarea>
                                                                                    </td>
                                                                                    <td ng-show="!IsWorkOrder">
                                                                                        <a ng-click="resetSupplierDetail($parent.$index, itemBidSupplier.Id)" class="btn red filter-cancel" style="margin-right: 0;"><i class="fa fa-times"></i></a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>

                                                                            <tfoot>
                                                                                <tr>
                                                                                    <td colspan="{{ (IsInventory ? 10 : 8) }}" style="z-index: 99;">
                                                                                        <a ng-click="addEmptyBidSupplierDetail($index)" href="#table-detail" class="btn default yellow-stripe" style="z-index: 99;">
                                                                                            <i class="fa fa-plus"></i>
                                                                                            <span class="hidden-480">Add New Supplier</span>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_5_2">
                                            <div class="portlet light bordered">
                                                <div class="portlet-title">
                                                    <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                                        <span class="input-group-btn">
                                                            <a ng-click="GenerateRFAReport()" class="btn green-jungle" href="#">
                                                                <i class="fa fa-file-excel-o"> Generate RFA Report </i>
                                                            </a>
                                                        </span>

                                                        <table id="table-Recomendationdetail" class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr role="row" class="@cssDetail">
                                                                    <th style="width: 50px;" rowspan="2">No</th>
                                                                    <th style="width: 400px;" rowspan="2">Supplier</th>
                                                                    <th style="width: 500px;" colspan="2">Item Part</th>
                                                                    <th style="width: 190px;" colspan="4">Qty</th>
                                                                    <th style="width: 370px;" colspan="3">Price</th>
                                                                    <th style="width: 100px;" rowspan="2">Is Winner</th>
                                                                </tr>
                                                                <tr role="row" class="@cssDetail">
                                                                    <th style="width: 50px;">Code</th>
                                                                    <th style="width: 450px;">Description</th>
                                                                    <th style="width: 50px;">Request</th>
                                                                    <th style="width: 40px;">UoM</th>
                                                                    <th style="width: 50px;">Currency</th>
                                                                    <th style="width: 50px;">Offering</th>
                                                                    <th style="width: 150px;">Unit</th>
                                                                    <th style="width: 150px;">Total</th>
                                                                    <th style="width: 70px;">%</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody ng-repeat="item in Model.CBERecomendationDetails track by $index">
                                                                <tr>
                                                                    <td style="z-index: 99; width:50px">
                                                                        {{$index + 1}}
                                                                    </td>
                                                                    <td style="z-index: 99; width:400px">
                                                                        {{item.SupplierName}}
                                                                    </td>
                                                                    <td style="z-index: 99;">
                                                                        {{item.ItemNo}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.Description}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.QtyProcess}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.UoM}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.Currency}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.QtyOffering}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.UnitPrice | currency : ""}}
                                                                    </td>
                                                                    <td>
                                                                        {{item.TotalPrice_USD | currency : ""}}
                                                                    </td>

                                                                    <td>
                                                                        {{item.PersenTotalPrice_USD}}
                                                                    </td>
                                                                    <td>
                                                                        <span class="label label-status {{ item.LabelCssColor }}">{{item.IsWinner == true ? "Yes" : "No"}}</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="tab_5_3">
                                            <div class="portlet light bordered">
                                                <div class="portlet-title">
                                                    <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                                        <table id="table-Summarydetail" class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:100px"></th>
                                                                    <th ng-repeat="summary in Model.CBESummaryDetails track by $index">

                                                                        <span class="btn btn-lg btn-block" ng-show="summary.IsWinner">
                                                                            <a class="btn blue" href="javascirpt:;">
                                                                                <i class="fa fa-trophy"> {{ summary.SupplierName }}</i>
                                                                            </a>
                                                                        </span>

                                                                        <span class="btn btn-lg btn-block" ng-show="!summary.IsWinner">
                                                                            <a class="btn grey" href="javascirpt:;">
                                                                                {{ summary.SupplierName }}
                                                                            </a>
                                                                        </span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Total Before Discount</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        {{summary.TotalBeforeDiscount | currency : ""}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Discount(%)</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <input ng-model="summary.Discount" ng-change="FuncDiscount($index)" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Total After Discount</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">{{ summary.TotalAfterDiscount | currency : "" }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>(VAT) PPN</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <select ng-model="summary.PPN" class="form-control" ng-options="ppn.Value as ppn.Text for ppn in Model.PPNs" ng-change="FuncDiscount($index)">
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>(VAT) PPN</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        {{summary.PPNValue | currency : ""}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Freight Cost</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <input ng-model="summary.FreightCost" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Note for PPH / <br /> witholding Tax</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <textarea ng-model="summary.NotForPPH" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Grand Total <br /> Base on Offering</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">{{ summary.GT_Offering | currency : "" }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Percentase Price Comparison (%)</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">{{ summary.Comparison1 | currency : "" }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Grand Total <br /> Apple To Apple</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">{{ summary.GT_Requirement | currency : "" }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Percentase Price Comparison (%)</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">{{ summary.Comparison2 | currency : "" }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Quotation Receved Date</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <div class="input-group date date-picker" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                                                            <input type="text" ng-model="summary.QuotationReceivedDateStr" class="form-control date-picker" />
                                                                            <span class="input-group-btn">
                                                                                <a class="btn blue" href="javascirpt:;">
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </a>
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Price Validity</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <div class="input-group date date-picker" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                                                            <input type="text" ng-model="summary.PriceValidityStr" class="form-control date-picker" />
                                                                            <span class="input-group-btn">
                                                                                <a class="btn blue" href="javascirpt:;">
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </a>
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Contact Person</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <textarea ng-model="summary.ContactPerson" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Term of Payment</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <textarea ng-model="summary.TermsOfPayment" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Delivery Time</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <textarea ng-model="summary.DeliveryTime" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>incoterm</td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <textarea ng-model="summary.Incoterm" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                    </td>
                                                                    <td ng-repeat="summary in Model.CBESummaryDetails track by $index">
                                                                        <button ng-click="LookupSetWinner(summary.ID)" type="button" class="btn green">Set Basis Of Award</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

            <div id="tbody-detail-document" ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i> Document Supporting
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">File</label>
                                    <div class="col-md-4">
                                        <div id="form-file-upload" class="col-md-10">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div id="upload-progress-control" class="input-group input-large" style="margin-bottom: 5px;">
                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
                                                        </span>
                                                    </div>
                                                    <span class="input-group-addon btn default btn-file">
                                                        <span class="fileinput-new">
                                                            Select file
                                                        </span>
                                                        <span class="fileinput-exists">
                                                            Change
                                                        </span>
                                                        <input id="fileUpload" type="file" name="fileUpload">
                                                    </span>
                                                    <a id="btn-upload-progress-remove" href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                        Remove
                                                    </a>
                                                    <a ng-click="UploadFile()" href="javascript:;" class="input-group-addon btn blue fileinput-exists">
                                                        Upload
                                                    </a>
                                                </div>

                                                <div id="upload-progress" class="progress progress-striped active" style="display: none;">
                                                    <div id="upload-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ProgressIndicator }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ProgressIndicator }}%;">
                                                        <span id="upload-progress-label" class="sr-only" style="position: relative;">
                                                            {{ ProgressIndicator }} % Complete (success)
                                                        </span>
                                                    </div>
                                                </div>

                                                <div id="upload-progress-success" class="alert alert-success" style="display: none; padding: 8px;">
                                                </div>

                                                <div id="upload-progress-error" class="alert alert-danger" style="display: none; padding: 8px;">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-7">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">
                                                        #
                                                    </th>
                                                    <th>
                                                        File name
                                                    </th>
                                                    <th style="width: 100px;">Size</th>
                                                    <th style="width: 150px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="itemDocument in Model.CBEDocumentDetails track by $index">
                                                <tr>
                                                    <td>
                                                        {{ $index+1 }}
                                                    </td>
                                                    <td>
                                                        {{ itemDocument.fileName }}
                                                    </td>
                                                    <td style="text-align: right;">
                                                        {{ itemDocument.fileSize.toFixed() }} KB
                                                    </td>
                                                    <td style="padding: 3px;">
                                                        <div class="btn-group btn-group-solid">
                                                            <a href=" {{ itemDocument.uriFile }}" target="_blank" class="btn blue btn-sm">Download <i class="fa fa-cloud-download"></i></a>
                                                            <button ng-click="DeleteFileUpload(itemDocument.id)" type="button" class="btn red btn-sm"><i class="fa fa-trash-o"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div id="tbody-detail-group" ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-group"></i> Approval History
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="portlet-body">
                                <table border="1" id="tblApprovalHistory" class="table table-bordered">
                                    <thead>
                                        <tr role="row" class="@cssDetail">
                                            <th></th>
                                            <th>NIK Site</th>
                                            <th>Name</th>
                                            <th>Title</th>
                                            <th>Action</th>
                                            <th>Date</th>
                                            <th>Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyApprovalHistory">
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-9">
                                            @if (Model.StatusCode == "NEW" || Model.StatusCode == null)
                                            {
                                                <button ng-click="CreateIssued()" type="button" class="btn blue">Save As Draft</button>
                                            }

                                            @if (btnSaveAsDraft)
                                            {
                                                <button ng-click="CreateIssued()" type="button" class="btn blue">Save As Draft</button>
                                                <button ng-click="SubmitIssued()" type="button" class="btn green">Submit For Approval</button>
                                                <button ng-click="DiscardIssued()" type="button" class="btn red-flamingo">Discard</button>
                                            }

                                            @if (btnPushToRQN)
                                            {
                                                <button ng-click="CreateRequisition()" type="button" class="btn purple">Push To Requisition</button>
                                            }

                                            <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

        </form>


        @{Html.RenderAction(MVC.Lookup.MSRApproveLookup());}
        @{Html.RenderAction(MVC.Lookup.ItemLocationLookup());}
        @{Html.RenderAction(MVC.Lookup.SupplierLookup());}
        @{Html.RenderAction(MVC.Lookup.CurrencyLookup());}
        @{Html.RenderAction(MVC.Lookup.CBEEnumTableLookup());}
        @{Html.RenderAction(MVC.Lookup.CBESupplierWinnerLookup());}
    </div>
</div>

@section FooterScript {
    <script>
        var URI_MSR_LIST = '@Url.Action(MVC.CBE.Index())';
        var URI_SEARCH_MSR = '@Url.Action(MVC.MSR.GetListMSRRequisition())';
        var URI_ADD_SUPPLIER = '@Url.Action(MVC.CBE.AddSupplier())';
        var URI_SEARCH_SUPPLIER = '@Url.Action(MVC.Lookup.SupplierLookup())';
        var URI_SEARCH_CURRENCY = '@Url.Action(MVC.Lookup.CurrencyLookup())';
        var URI_GET_MSR_DATA = '@Url.Action(MVC.Warehouse.GetDataIssuedByMSRId(Guid.Empty, "CBE"))';
        var URI_GET_WINNER = '@Url.Action(MVC.CBE.GetDataWinner(Guid.Empty))';
        var URI_GET_RATE = '@Url.Action(MVC.CBE.GetDataRate("HOMECURR"))';
        var URI_CREATE_MSR_ISSUED = '@Url.Action(MVC.CBE.CreateCBE())';
        var URI_SET_AS_WINNER = '@Url.Action(MVC.CBE.UpdateWinnerCBE())';
        var URI_SUBMIT_MSR_ISSUED = '@Url.Action(MVC.CBE.SubmitCBE())';
        var URI_DISCARD_MSR_ISSUED = '@Url.Action(MVC.CBE.DiscardCBE())';
        var URI_POST_REQUISITION = '@Url.Action(MVC.CBE.PostRequisitionCBE())';
        var URI_RFA_REPORT = '@Url.Action(MVC.CBE.GenereateRFAReport(Guid.Empty))'

        var validStatus = [@WorkOrderStatus.COMPLETE, @WorkOrderStatus.COMPLETE_ADMIN, @WorkOrderStatus.REJECTED];
        var cancelLabel = '@RequestStatus.CANCEL';

        var objModel = function () { return @Html.Raw(objModel); };
        var objModalMSR = function () { return @Html.Raw(objModalMSR); };
        var objMSRSubDetailModel = function () { return @Html.Raw(objMSRSubDetailModel) };
        var objBidSupplierModel = function () { return @Html.Raw(BidSupplierModel) };
        var objSupplierModel = function () { return @Html.Raw(SupplierModel) };
        var objCurrencyModel = function () { return @Html.Raw(CurrencyModel) };
        var objWinnerModel = function () { return @Html.Raw(WinnerModel) };

        var GuidEmpty = "@Guid.Empty";
        var GUID_RANDOM = "@Guid.NewGuid()";
        var IssuedType = '@IssuedType';

    </script>


    <script src="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
    <script src="~/Assets/pages/CBE/DetailCBE.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}



