﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model
@using JResources.Data.Model.Accpac
@using JResources.Common.Enum

@model JResources.Data.Model.MSRIssuedModel

@{
    string Title = "Purchase";
    string cssHeader = "purple-plum";
    string cssDetail = "bg-purple-medium";

    ViewBag.Title = Title;
    ViewBag.SubTitle = "Detail Form";
    ViewBag.BreadCrumbLabel = Title;

}


@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/admin/pages/css/pricing-table.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/select2.css" />
    <style>
        #vendor-item-offer table {
            border-collapse: separate;
            border-spacing: 0;
            border-top: 1px solid grey;
        }

        #vendor-item-offer table thead tr td, #vendor-item-offer table thead tr th,
        #vendor-item-offer table tbody tr td, #vendor-item-offer table tbody tr th {
            margin: 0;
            border: 1px solid grey;
            white-space: nowrap;
            border-top-width: 0px;
        }

        #vendor-item-offer {
            width: 100%;
            overflow-x: scroll;
            margin-left: 5em;
            overflow-y: visible;
            padding: 0;
        }

        .headcol {
            position: absolute;
            width: 150px;
            left: 0;
            top: auto;
            border-top-width: 1px;
            /*only relevant for first row*/
            margin-top: -1px;
            /*compensate for top border*/
        }

/*        .headcol:before {
            content: 'Row ';
        }*/

        .long {
            background: yellow;
            letter-spacing: 1em;
        }
    </style>
}

@section FooterScript {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/Assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <script src="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>

    <script src="~/Assets/admin/pages/scripts/form-wizard.js"></script>
    <script>
        //$('.menu-toggler').click();

        jQuery(document).ready(function () {
            FormWizard.init();
        });


        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {


            $scope.Model = {
                Details: [
                    { LineNo: 1, ItemNo: 'XXX-1', Description: 'Item XXX - 1', IsShowVendor : false},
                    { LineNo: 2, ItemNo: 'XXX-2', Description: 'Item XXX - 2', IsShowVendor: false },
                    { LineNo: 3, ItemNo: 'XXX-3', Description: 'Item XXX - 3', IsShowVendor: false },
                ]
            };


            $scope.OpenOfferModal = function () {

                $('#vendor-lookup').modal('show');

            }

        });
    </script>
}




<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="CBE-Form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box @cssHeader">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>@ViewBag.SubTitle
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group">
                                @Html.LabelFor(x => x.MSRIssuedNo, "CBE No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Model.MSRIssuedNo", @placeholder = "Auto Generate", @class = "form-control", @disabled = "disabled" })
                                </div>

                                @Html.LabelFor(x => x.MSR.DocumentNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group input-medium">
                                        @Html.TextBoxFor(x => x.MSR.DocumentNo, new { @ng_model = "Model.MSR.DocumentNo", @class = "form-control disabled", @placeholder = "MSR No", @readonly = "" })
                                        <span class="input-group-btn">
                                            <a ng-show="!Model.MSR.DocumentNo" ng-click="LookupSearchMSR()" class="btn blue" href="#">
                                                <i class="fa fa-search-plus"></i>
                                            </a>

                                            <a ng-click="removeWorkOrder()" class="btn red" href="#">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.DepartmentName, new { @ng_model = "Model.MSR.DepartmentName", @class = "form-control", @disabled = "disabled" })
                                </div>


                                @Html.LabelFor(x => x.MSR.CostCenter, "Cost Center", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MSR.CostCenter, new { @ng_model = "Model.MSR.CostCenterLabel", @class = "form-control disabled", @readonly = "" })
                                </div>

                            </div>

                            <div class="form-group">

                                @Html.LabelFor(x => x.MSR.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.DateCreated, new { @ng_model = "Model.MSR.DateCreatedStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>

                                @Html.LabelFor(x => x.MSR.ExpectedDateStr, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">

                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.ExpectedDateStr, new { @ng_model = "Model.MSR.ExpectedDateStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(x => x.WorkFlowCode, "WorkFlow Code", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(x => x.WorkFlowCode, new List<SelectListItem>(), new { @ng_model = "Model.WorkFlowCode", @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group" ng-show="Model.MSR.DocumentNo && Model.MSR.WorkOrderNo">
                                @Html.LabelFor(x => x.MSR.WorkOrderStatus, "Work Order Status", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderStatusLabel, new { @ng_model = "Model.MSR.WorkOrderStatusLabel", @class = "form-control", @placeholder = "Work Order Status", @readonly = "" })
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.Remarks, Title + " Remarks", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason", @rows = "4" })
                                </div>
                            </div>



                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div id="tbody-vendor" class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-users"></i> List of Vendors Offers
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">
                                
                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table id="table-vendor" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="bg-purple-seance">
                                                <th style="width: 40px;">No</th>
                                                <th style="width: 300px;">Vendor Name</th>
                                                <th rowspan="2">Description</th>
                                                <th style="width: 40px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="padding: 0;">
                                                    <a class="btn blue filter-cancel" style="margin-right: 0;"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="padding: 0;">
                                                    <a class="btn blue filter-cancel" style="margin-right: 0;"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="padding: 0;">
                                                    <a class="btn blue filter-cancel" style="margin-right: 0;"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <button ng-click="OpenOfferModal()" type="button" class="btn btn-block green" style="margin-right: 0;"><i class="fa fa-pencil"></i> Add Offer</button>
                                                </td>
                                                <td colspan="2"></td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

            <div id="tbody-detail-item" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i> List Detail Item Part
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table id="table-detail" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="@cssDetail">
                                                <th style="width: 40px;" rowspan="2"></th>
                                                <th style="width: 40px;" rowspan="2">No</th>
                                                <th style="width: 100px;" rowspan="2">Item Part</th>
                                                <th rowspan="2">Description</th>
                                                <th style="width: 70px;" colspan="2">Qty</th>
                                                <th style="width: 40px;" rowspan="2"></th>
                                            </tr>
                                            <tr role="row" class="@cssDetail">
                                                <th style="width: 100px;">Request</th>
                                                <th style="width: 100px;" class="bg-blue-chambray"><span type="button" class="" data-toggle="tooltip" data-html="true" title="<b>Qty Request</b> <em>-</em> <b>(Qty Issued + Qty Cancel + Qty Purchase)</b>">Outstanding</span></th>
                                            </tr>
                                        </thead>

                                        <tbody ng-repeat="item in Model.Details track by $index">
                                            <tr>
                                                <td>
                                                    <a ng-show="!item.IsShowVendor" ng-click="item.IsShowVendor=!item.IsShowVendor;" href="javascript:;" class="btn btn-icon-only">
                                                        <i class="fa fa-plus"></i>
                                                    </a>

                                                    <a ng-show="item.IsShowVendor" ng-click="item.IsShowVendor=!item.IsShowVendor;" href="javascript:;" class="btn btn-icon-only">
                                                        <i class="fa fa-minus"></i>
                                                    </a>
                                                </td>
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.LineNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 40px;">
                                                </td>
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.ItemNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 100%;">
                                                </td>
                                                <td>
                                                    <input ng-model="item.Description" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly style="width: 100%;" />
                                                </td>

                                                <td>
                                                    <input ng-model="item.QtyRequest" type="number" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" style="width: 100px;" readonly />
                                                </td>
                                                <td>
                                                    <input ng-value="item.QtyPurchaseOutstanding" type="number" class="form-control bg-grey" style="width: 100px;" readonly />
                                                </td>
                                                <td>
                                                    <a ng-show="!item.Isfulfilled && !item.IsRemove && !item.IsView" ng-click="item.IsRemove=true" class="btn red filter-cancel" style="margin-right: 0;"><i class="fa fa-times"></i></a>
                                                    <a ng-show="!item.Isfulfilled && item.IsRemove" ng-click="item.IsRemove=false" class="btn blue filter-cancel" style="margin-right: 0;"><i class="fa fa-pencil"></i></a>
                                                    <input ng-show="item.Isfulfilled" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                            </tr>
                                            <tr ng-show="item.IsShowVendor">
                                                <td style="z-index: 99; padding: 20px; padding-left: 45px;" colspan="7">

                                                    <div class="row margin-bottom-40">
                                                        <!-- Pricing -->
                                                        <div class="col-md-3">
                                                            <div class="pricing hover-effect">
                                                                <div class="pricing-head">
                                                                    <h3>
                                                                        Begginer <span>
                                                                            Officia deserunt mollitia
                                                                        </span>
                                                                    </h3>
                                                                    <h4>
                                                                        <i>$</i>5<i>.49</i>
                                                                        <span>
                                                                            Per Month
                                                                        </span>
                                                                    </h4>
                                                                </div>
                                                                <ul class="pricing-content list-unstyled">
                                                                    <li>
                                                                        <i class="fa fa-tags"></i> At vero eos
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-asterisk"></i> No Support
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-heart"></i> Fusce condimentum
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-star"></i> Ut non libero
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                                                    </li>
                                                                </ul>
                                                                <div class="pricing-footer">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                                                    </p>
                                                                    <a href="javascript:;" class="btn yellow-crusta">
                                                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="pricing hover-effect">
                                                                <div class="pricing-head">
                                                                    <h3>
                                                                        Pro <span>
                                                                            Officia deserunt mollitia
                                                                        </span>
                                                                    </h3>
                                                                    <h4>
                                                                        <i>$</i>8<i>.69</i>
                                                                        <span>
                                                                            Per Month
                                                                        </span>
                                                                    </h4>
                                                                </div>
                                                                <ul class="pricing-content list-unstyled">
                                                                    <li>
                                                                        <i class="fa fa-tags"></i> At vero eos
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-asterisk"></i> No Support
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-heart"></i> Fusce condimentum
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-star"></i> Ut non libero
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                                                    </li>
                                                                </ul>
                                                                <div class="pricing-footer">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                                                    </p>
                                                                    <a href="javascript:;" class="btn yellow-crusta">
                                                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="pricing pricing-active hover-effect">
                                                                <div class="pricing-head pricing-head-active">
                                                                    <h3>
                                                                        Expert <span>
                                                                            Officia deserunt mollitia
                                                                        </span>
                                                                    </h3>
                                                                    <h4>
                                                                        <i>$</i>13<i>.99</i>
                                                                        <span>
                                                                            Per Month
                                                                        </span>
                                                                    </h4>
                                                                </div>
                                                                <ul class="pricing-content list-unstyled">
                                                                    <li>
                                                                        <i class="fa fa-tags"></i> At vero eos
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-asterisk"></i> No Support
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-heart"></i> Fusce condimentum
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-star"></i> Ut non libero
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                                                    </li>
                                                                </ul>
                                                                <div class="pricing-footer">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                                                    </p>
                                                                    <a href="javascript:;" class="btn yellow-crusta">
                                                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="pricing hover-effect">
                                                                <div class="pricing-head">
                                                                    <h3>
                                                                        Hi-Tech <span>
                                                                            Officia deserunt mollitia
                                                                        </span>
                                                                    </h3>
                                                                    <h4>
                                                                        <i>$</i>99<i>.00</i>
                                                                        <span>
                                                                            Per Month
                                                                        </span>
                                                                    </h4>
                                                                </div>
                                                                <ul class="pricing-content list-unstyled">
                                                                    <li>
                                                                        <i class="fa fa-tags"></i> At vero eos
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-asterisk"></i> No Support
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-heart"></i> Fusce condimentum
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-star"></i> Ut non libero
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                                                    </li>
                                                                </ul>
                                                                <div class="pricing-footer">
                                                                    <p>
                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                                                                    </p>
                                                                    <a href="javascript:;" class="btn yellow-crusta">
                                                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--//End Pricing -->
                                                    </div>
                                                </td>

                                            </tr>



                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

        </form>


        @{Html.RenderAction(MVC.Lookup.VendorOfferLookup());}
        @{Html.RenderAction(MVC.Lookup.ItemLocationLookup());}
    </div>
</div>


