﻿@using JResources.Common

@model JResources.Data.Model.CBESearchModel

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "CBE Request";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "CBE Request";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.CBE.CreateCBE());
    ViewBag.BreadLastLabel = "CBE Detail";
    
    string objModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string objModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.CBESearchModel());
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.CBE.DetailCBE(Guid.Empty))">
                <i class="fa fa-building"></i>
                Entry CBE
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">COMMERCIAL BID EVALUATION</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MSRNo, "CBE No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.CBENo, new { @ng_model = "Model.CBENo", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.MSRNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Model.MSRNo", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                    ng-model="Model.CompanyId"
                                    ng-change="SetListDepartment()"
                                    class="select2me form-control">
                                </select>
                            </div>

                            @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.DepartmentName for item in DepartmentList track by item.ID"
                                    ng-model="Model.DepartmentId"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.DateFrom, "Created Date", new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                    <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                    <span class="input-group-addon">to </span>
                                    <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                </div>
                            </div>

                            @Html.LabelFor(x => x.RequestStatus, "Status Request", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.EnumValue as item.EnumLabel for item in MSRStatus track by item.EnumValue"
                                    ng-model="Model.RequestStatus"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchMSR()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="MSR-table">

            <div class="grid-mvc">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance" style="background-color: #fff;">
                        <thead>
                            <tr>
                                <th class="grid-header highlight" style="width: 150px;">CBE No</th>
                                <th class="grid-header" style="width: 150px;">MSR No</th>
                                <th class="grid-header" style="width: 150px;">Status</th>
                                <th class="grid-header">RQN No</th>
                                <th class="grid-header">Issued Date</th>
                                <th class="grid-header">Company - Department</th>
                                <th class="grid-header">Requestor</th>
                                <th class="grid-header" style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                <td class="grid-cell highlight" data-name="DocumentNo">
                                    <div class="success"></div> <span> {{ item.CBENo }} </span>
                                </td>
                                <td><span> {{ item.MSRNo }} </span></td>
                                <td><span class="label label-status {{ item.LabelCssColor }}">{{item.Status}}</span></td>
                                <td><span> {{ item.RQNNo }} </span></td>
                                <td>{{ item.MSRIssuedDateStr }}</td>
                                <td>{{ item.CompanyName }} - {{ item.DepartmentName }}</td>
                                <td>{{ item.Requestor }}</td>
                                <td class="grid-cell" data-name="">

                                    @*<a ng-click="MSRIssuedModal(item.ID)" href="#" class="btn default btn-xs"><i class="fa fa-search-plus"></i> View</a>*@
                                    <a href="@Url.Action(MVC.CBE.DetailCBE())/{{ item.ID }}" class="btn green btn-xs"><i class="fa fa-search-plus"></i> View</a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedMSRList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>

    </div>
</div>


@section FooterScript{
    <script>
        var URI_SEARCH_MSRISSUED = '@Url.Action(MVC.CBE.GetListMSRCBE())';
        var URI_GET_MSRISSUED = '@Url.Action(MVC.Warehouse.GetMSRIssuedModal())';
        var objModel = function () { return @Html.Raw(objModel) };
        var objCompanyDepartments = function () { return @Html.Raw(objCompanyDepartments) };
    </script>

    <script src="~/Assets/pages/Purchase/Index.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}