﻿@{
    ViewBag.Title = "Report";
    ViewBag.SubTitle = "List";
    ViewBag.BreadCrumbLabel = "Report";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Report.Index());
    ViewBag.BreadLastLabel = "Report List";
}


<div class="row">
    <div class="col-md-6">


        <div id="Report-table">
            <div class="grid-mvc">
                <div class="grid-wrap">

                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th>No </th>
                                <th class="hidden-xs">Report Name </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="javascript:;">MSR Status Report</a></td>
                                @*<td><a href="~/Reports/PrintForm.aspx?type=MSR_STATUS" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>*@
                                <td><a href="@Url.Action(MVC.Report.MSRStatus())" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="javascript:;">Historical Transaction Weekly Report</a></td>
                                <td><a href="@Url.Action(MVC.Report.HistoricalTransaction())" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="javascript:;">Requisition Weekly Report</a></td>
                                <td><a href="@Url.Action(MVC.Report.Requisition())" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="javascript:;">FRF Weekly Report</a></td>
                                <td><a href="@Url.Action(MVC.Report.FRF())" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                            <tr style="display:none;">
                                <td>5</td>
                                <td><a href="javascript:;">OTIF Report</a></td>
                                <td><a href="@Url.Action(MVC.Report.ReportOTIF())" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="javascript:;">IC Location</a></td>
                                <td><a href="~/Reports/PrintForm.aspx?type=@JResources.Common.Enum.PRINT_FORM_TYPE.IC_LOCATION" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="javascript:;">Check Transaction MSR to Accpac</a></td>
                                <td><a href="~/Reports/PrintForm.aspx?type=@JResources.Common.Enum.PRINT_FORM_TYPE.CHECK_MSR_ACCPAC" class="btn default btn-xs green-stripe" style="padding-right: 20px;">View </a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</div>