﻿@using JResources.Common
@model JResources.Data.Model.MSRSearchModel

@{
    ViewBag.Title = "MSR Status";
    ViewBag.SubTitle = "report";
    ViewBag.BreadCrumbLabel = "Report";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Report.MSRStatus());
    ViewBag.BreadLastLabel = "MSR Status";

    List<SelectListItem> ListDepartment = new List<SelectListItem>();
    if(ViewBag.ListDepartment != null)
    {
        ListDepartment = (List<SelectListItem>)ViewBag.ListDepartment;
    }
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">


        <div id="report-form" class="portlet light bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">Form MSR Status Weekly</span>
                    <span class="caption-helper">Report</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">

                    <div class="form-body">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">MSR No</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="Model.MSRNo" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departement</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.DepartmentId, ListDepartment, 
                                            new { 
                                                @ng_model = "Model.DepartmentId", 
                                                @class = "select2_category form-control" 
                                            }
                                        )
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">MSR Create Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                            <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                            <span class="input-group-addon">to </span>
                                            <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                        </div>
                                    </div>
                                </div>
                            </div>                            

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Equipment Code</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="Model.EquipmentNo" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button ng-click="BtnDownload()" type="button" class="btn green">Submit</button>
                                        <button type="button" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>

                </form>
                <!-- END FORM-->
            </div>
        </div>


    </div>
</div>


@section FooterScript{


    <script>
        var URI_GET_REPORT = '@Url.Action(MVC.Report.GetMSRStatus())';
        var objModel = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)) };

        var app = angular.module('JResourcesApp', []);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();



            $scope.BtnDownload = function () {

                var elementBlock = '#report-form';
                BlockElement(elementBlock);
                $scope.Model.ListData = [];

                var urlGetReport = [];
                if ($scope.Model.MSRNo != '' && $scope.Model.MSRNo != null) {
                    urlGetReport.push('MSRNo=' + $scope.Model.MSRNo);
                }

                if ($scope.Model.DateFromStr != '') {
                    urlGetReport.push('DateFromStr=' + $scope.Model.DateFromStr);
                }

                if ($scope.Model.DateToStr != '') {
                    urlGetReport.push('DateToStr=' + $scope.Model.DateToStr);
                }

                if ($scope.Model.DepartmentId != '') {
                    urlGetReport.push('DepartmentId=' + $scope.Model.DepartmentId);
                }

                if ($scope.Model.EquipmentNo != '' && $scope.Model.EquipmentNo != null) {
                    urlGetReport.push('EquipmentNo=' + $scope.Model.EquipmentNo);
                }

                var uri = URI_GET_REPORT + '?' + urlGetReport.join('&');
                window.open(uri, "_blank");

                unBlockElement(elementBlock);

            }


        });

    </script>
    
}