﻿@using JResources.Common
@model JResources.Data.Model.MSRSearchModel

@{
    ViewBag.Title = "MSR Status";
    ViewBag.SubTitle = "report";
    ViewBag.BreadCrumbLabel = "Report";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.Report.MSRStatus());
    ViewBag.BreadLastLabel = "MSR Status";

    List<SelectListItem> ListDepartment = new List<SelectListItem>();
    if (ViewBag.ListDepartment != null)
    {
        ListDepartment = (List<SelectListItem>)ViewBag.ListDepartment;
    }

    List<SelectListItem> MSRStatus = new List<SelectListItem>();
    if (ViewBag.MSRStatus != null)
    {
        MSRStatus = (List<SelectListItem>)ViewBag.MSRStatus;
    }
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">


        <div id="report-form" class="portlet light bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">Form MSR Status</span>
                    <span class="caption-helper">Report</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">

                    <div id="form-input" class="form-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">MSR No</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="Model.MSRNo" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departement</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.DepartmentId, ListDepartment,
                                                      new
                                                      {
                                                          @ng_model = "Model.DepartmentId",
                                                          @class = "select2_category form-control"
                                                      }
                                                  )
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">MSR Status</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.RequestStatus, MSRStatus,
                                                      new
                                                      {
                                                          @ng_model = "Model.RequestStatus",
                                                          @class = "select2_category form-control"
                                                      }
                                                  )
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Equipment Code</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="Model.EquipmentNo" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">MSR Create Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                            <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                            <span class="input-group-addon">to </span>
                                            <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">



                            <div id="box-button" class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-8">
                                        <a href="~/Reports/PrintForm.aspx?type=MSR_STATUS" class="btn blue">New Report</a>
                                        @*<button ng-click="BtnDownload()" type="button" class="btn green">Submit</button>
                                        <button type="button" class="btn default">Cancel</button>*@
                                    </div>
                                </div>
                            </div>

                            <div id="box-message" class="col-md-12" style="display: none;">
                                <div class="alert alert-success">
                                    <strong>Success!</strong> the desired report is being processed, upon completion will be informed by your E-Mail.
                                </div>
                            </div>

                            <div class="col-md-6">
                            </div>


                        </div>
                    </div>

                </form>
                <!-- END FORM-->

                <div class="note note-warning">
                    <h4 class="block">Warning!</h4>
                    <p>
                        If doing process for data withdrawal in excess of 2 months, please do not do during peak hours<br />
                        (Jika melakukan proses untuk penarikan data yang melebihi dari 2 bulan, mohon sebaiknya jangan dilakukan di saat jam sibuk)
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>


@section FooterScript{


    <script>
        var URI_GET_REPORT = '@Url.Action(MVC.Report.GetMSRStatus())';
        var objModel = function () { return @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)) };

        var app = angular.module('JResourcesApp', []);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();

            $scope.BtnDownload = function () {

                var elementBlock = '#report-form';
                BlockElement(elementBlock);

                $http({
                    method: 'POST',
                    url: URI_GET_REPORT,
                    data: $scope.Model
                }).then(function successCallback(response) {
                    console.log(response);
                    if (response.data.IsSuccess) {
                        setTimeout(function () {
                            $('#box-button').hide();
                            $('#box-message').slideDown();
                            $('#form-input').slideUp();
                            unBlockElement(elementBlock);
                        }, 5000);
                    } else {
                        showAlert(response.data.Message);
                        unBlockElement(elementBlock);
                    }

                }, function errorCallback(response) {
                    showAlert('Error Application');
                    console.log(response);
                    unBlockElement(elementBlock);
                });

            }


        });

    </script>

}