﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model
@using JResources.Data.Model.Accpac
@using JResources.Common.Enum

@model JResources.Data.Model.MSRIssuedModel

@{
    string Title = "Purchase";
    string cssHeader = "yellow-gold";
    string cssDetail = "bg-yellow-gold";

    ViewBag.Title = Title;
    ViewBag.SubTitle = "Detail Form";
    ViewBag.BreadCrumbLabel = Title;

    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Index());
    ViewBag.BreadLastLabel = "Issued Detail";

    PTPRHModel RQNAccpac = new PTPRHModel();
    if (ViewBag.RQNModel != null)
    {
        RQNAccpac = (PTPRHModel)ViewBag.RQNModel;
    }

    string IssuedType = Model.IssuedType;
    string objModel = JsonConvert.SerializeObject(Model);

    string objModalMSR = JsonConvert.SerializeObject((MSRSearchModel)ViewBag.MSRSearchModel);

    bool EnableLocationFrom = false;
    if (Model.IssuedType == RequestStatus.ISSUED || Model.IssuedType == RequestStatus.TRANSFER)
    {
        EnableLocationFrom = true;
    }

    List<SelectListItem> WorkFlowCodeList = new List<SelectListItem>();
    if (ViewBag.WorkFlowCodeList != null)
    {
        WorkFlowCodeList = (List<SelectListItem>)ViewBag.WorkFlowCodeList;
    }

    List<SelectListItem> CostCenterList = new List<SelectListItem>();
    if (ViewBag.CostCenterList != null)
    {
        CostCenterList = (List<SelectListItem>)ViewBag.CostCenterList;
    }

    bool IsView = false;
    if (Model.ID != Guid.Empty)
    {
        IsView = true;
    }
    
}



@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">

            <a class="btn" href="@Url.Action(MVC.Purchase.Index())">
                <i class="fa fa-users"></i>
                List Purchase
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="MSR-issued-form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box @cssHeader">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>@ViewBag.SubTitle
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group">
                                @Html.LabelFor(x => x.MSRIssuedNo, Title + " No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Model.MSRIssuedNo", @placeholder = "Auto Generate", @class = "form-control", @disabled = "disabled" })
                                </div>

                                @Html.LabelFor(x => x.MSR.DocumentNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group input-medium">
                                        @Html.TextBoxFor(x => x.MSR.DocumentNo, new { @ng_model = "Model.MSR.DocumentNo", @class = "form-control disabled", @placeholder = "MSR No", @readonly = "" })

                                        @if (!IsView)
                                        {
                                            <span class="input-group-btn">
                                                <a ng-show="!Model.MSR.DocumentNo" ng-click="LookupSearchMSR()" class="btn blue" href="#">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>

                                                <a ng-show="Model.MSR.DocumentNo" ng-click="removeWorkOrder()" class="btn red" href="#">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </span>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.RQNNumber, "RQN No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.RQNNumber, new { @ng_model = "Model.RQNNumber", @class = "form-control", @readonly = "" })
                                </div>

                                @Html.LabelFor(x => x.MSR.WorkOrderNo, "Work Order No", new { @ng_show = "Model.MSR.WorkOrderNo", @class = "control-label col-md-2 col-md-offset-1" })
                                <div ng-show="Model.MSR.WorkOrderNo" class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderNo, new { @ng_model = "Model.MSR.WorkOrderNo", @class = "form-control", @readonly = "" })
                                </div>
                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.DepartmentName, new { @ng_model = "Model.MSR.DepartmentName", @class = "form-control", @disabled = "disabled" })
                                </div>


                                @Html.LabelFor(x => x.MSR.CostCenter, "Cost Center", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MSR.CostCenter, new { @ng_model = "Model.MSR.CostCenterLabel", @class = "form-control disabled", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.MSR.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.DateCreated, new { @ng_model = "Model.MSR.DateCreatedStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>

                                @Html.LabelFor(x => x.MSR.ExpectedDateStr, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">

                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.ExpectedDateStr, new { @ng_model = "Model.MSR.ExpectedDateStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="Model.MSR.MaintenanceCode" class="form-group" ng-show="IsWorkOrder">
                                @Html.LabelFor(x => x.MSR.MaintenanceCode, "Job Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.MaintenanceCode, new { @ng_model = "Model.MSR.MaintenanceCodeLabel", @class = "form-control", @readonly = "" })
                                </div>

                                @Html.LabelFor(x => x.MSR.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.EquipmentNo, new { @class = "form-control", @placeholder = "EquipmentNo", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.CostCenter, "Cost Center", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">

                                    @if (IsView)
                                    {
                                        @Html.DropDownListFor(x => x.CostCenter, CostCenterList, new { @ng_model = "Model.CostCenter", @class = "form-control", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.CostCenter, CostCenterList, new { @ng_model = "Model.CostCenter", @class = "form-control" })
                                    }

                                </div>
                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.WorkFlowCode, "WorkFlow Code", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @if (IsView)
                                    {
                                        @Html.DropDownListFor(x => x.WorkFlowCode, WorkFlowCodeList, new { @ng_model = "Model.WorkFlowCode", @class = "form-control", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.WorkFlowCode, WorkFlowCodeList, new { @ng_model = "Model.WorkFlowCode", @class = "form-control" })
                                    }
                                </div>
                            </div>

                            <div class="form-group" ng-show="Model.MSR.DocumentNo && Model.MSR.WorkOrderNo">
                                @Html.LabelFor(x => x.MSR.WorkOrderStatus, "Work Order Status", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderStatusLabel, new { @ng_model = "Model.MSR.WorkOrderStatusLabel", @class = "form-control", @placeholder = "Work Order Status", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.Remarks, Title + " Remarks", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @if (IsView)
                                    {
                                        @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason", @rows = "4", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason", @rows = "4" })
                                    }

                                </div>
                            </div>



                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div id="tbody-detail-item" ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>List Detail Item Part
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">

                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table id="table-detail" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="@cssDetail">
                                                <th style="width: 40px;">No</th>
                                                <th style="width: 100px;">Item Part</th>
                                                <th>Description</th>
                                                <th ng-show="!(Model.IsNonInventory)" style="width: 100px;">Location Drop</th>
                                                <th style="width: 70px;">Qty Request</th>
                                                @if (!IsView)
                                                {
                                                    <th style="width: 70px;" class="bg-blue"><span type="button" class="" data-toggle="tooltip" data-html="true" title="<b>Qty Request</b> <em>-</em> <b>(Qty Issued + Qty Cancel + Qty Purchase)</b>">Qty Purchase Outstanding</span></th>
                                                }
                                                <th style="width: 70px;">Qty @Title</th>
                                                <th style="width: 80px;">Cost</th>
                                                <th style="width: 100px;">Cost Code</th>
                                                <th style="width: 45px;"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in Model.MSRIssuedDetails track by $index">
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.LineNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 40px;">
                                                </td>
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.ItemNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 100px;">
                                                </td>
                                                <td>
                                                    <input ng-model="item.Description" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                @if (EnableLocationFrom)
                                                {
                                                    <td>
                                                        <div ng-show="!item.Isfulfilled && !item.IsRemove" class="input-group">
                                                            <span class="input-group-btn">
                                                                <a ng-click="lookupSearchLocation(item)" class="btn blue" href="#tbody-detail-item"><i class="fa fa-search-plus"></i></a>
                                                            </span>
                                                            <input ng-model="item.LocationFrom" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 150px;">
                                                        </div>

                                                        <input ng-show="item.Isfulfilled || (!item.Isfulfilled && item.IsRemove)" type="text" class="form-control" readonly="">
                                                    </td>
                                                }

                                                <td ng-show="!(Model.IsNonInventory)">
                                                    @if (IsView)
                                                    {
                                                        <select disabled="disabled" ng-model="item.Location" class="form-control" ng-options="loc.Location as loc.Location for loc in item.ItemLocations">
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <select ng-model="item.Location" class="form-control" ng-options="loc.Location as loc.Location for loc in item.ItemLocations">
                                                        </select>
                                                    }
                                                </td>

                                                <td>
                                                    <input ng-model="item.QtyRequest" type="number" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" style="width: 70px;" readonly />
                                                </td>
                                                @if (!IsView)
                                                {
                                                    <td>
                                                        <input ng-value="item.QtyPurchaseOutstanding" type="number" class="form-control bg-grey" style="width: 85px;" readonly />
                                                    </td>
                                                }
                                                <td>
                                                    @if (IsView)
                                                    {
                                                        <input type="text" ng-model="item.QtyProcess" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" value="Complete" readonly />
                                                    }
                                                    else
                                                    {
                                                        <input ng-show="!item.Isfulfilled && !item.IsRemove" ng-model="item.QtyProcess" type="number" class="form-control font-yellow-gold" style="width: 70px; font-weight:bold;" min="0" />
                                                        <input ng-show="!item.Isfulfilled && item.IsRemove" ng-model="item.QtyProcess" type="number" ng-class="GridCssRowInput(item.Isfulfilled, item.IsRemove)" style="width: 70px;" min="0" readonly />
                                                        <input ng-show="item.Isfulfilled" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" value="Complete" readonly />
                                                    }
                                                </td>
                                                <td>
                                                    <input ng-model="item.Cost" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.CostCode" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                <td>
                                                    <a ng-show="!item.Isfulfilled && !item.IsRemove && !item.IsView" ng-click="item.IsRemove=true" class="btn red filter-cancel" style="margin-right: 0;"><i class="fa fa-times"></i></a>
                                                    <a ng-show="!item.Isfulfilled && item.IsRemove" ng-click="item.IsRemove=false" class="btn blue filter-cancel" style="margin-right: 0;"><i class="fa fa-pencil"></i></a>
                                                    <input ng-show="item.Isfulfilled" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                            </tr>




                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

            @if (IsView)
            {
                <div id="tbody-detail-item" ng-show="Model.MSR.DocumentNo" class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>RQN ACCPAC Status
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr role="row">
                                                <th>PO Number</th>
                                                <th>PO Status</th>
                                                <th style="width: 100px;">Item Part</th>
                                                <th>Description</th>
                                                <th style="width: 70px;">Qty</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                var ptprdGroups = RQNAccpac.PTPRDs
                    .Where(x => !string.IsNullOrEmpty(x.PONUMBER.Trim()))
                    .GroupBy(u => u.PONUMBER)
                    .Select(grp => grp.ToList())
                    .ToList();     
                                            }

                                            @if (ptprdGroups != null && ptprdGroups.Count > 0)
                                            {
                                                foreach (var ptprds in ptprdGroups)
                                                {
                                                    var iRow = 0;
                                                    foreach (var ptprd in ptprds)
                                                    {
                                                <tr>
                                                    @if (iRow == 0)
                                                    {
                                                        <td rowspan="@ptprds.Count">@ptprd.PONUMBER</td>
                                                        <td rowspan="@ptprds.Count">@ptprd.STATUS</td>
                                                    }
                                                    <td>@ptprd.ITEMNO</td>
                                                    <td>@ptprd.ITEMDESC</td>
                                                    <td>@ptprd.REQQTY.ToString("#.##")</td>
                                                </tr>
                                                
                                                    iRow++;
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">Dont have any process</td>
                                                </tr>
                                            }







                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>
            }
            <div ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet light bordered form-fit">
                    <div class="portlet-title" style="padding-top: 5px; padding-bottom: 0;">
                        <div class="caption">
                            <i class="fa fa-users"></i>Approval User
                        </div>
                    </div>

                    <div class="portlet-body form">

                        <div class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.MSR.Requestor.FullName, "Requestor", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.MSR.Requestor.FullName, "", new { @ng_model = "Model.MSR.Requestor.FullName", @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>


                                    @Html.LabelFor(x => x.MSR.Manager.FullName, "Manager", new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.MSR.Manager.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    @Html.LabelFor(x => x.MSR.GeneralManagerSite.FullName, "GM Site", new { @class = "control-label col-md-2 col-md-offset-6" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.MSR.GeneralManagerSite.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8">
                                                @if (!IsView)
                                                {
                                                    <button ng-disabled="!IsEnableSubmit" ng-click="CreateIssued()" type="button" class="btn green">Submit</button>
                                                    <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </form>


        @{Html.RenderAction(MVC.Lookup.MSRApproveLookup());}
        @{Html.RenderAction(MVC.Lookup.ItemLocationLookup());}
    </div>
</div>



@section FooterScript{
    <script>
        var URI_MSR_LIST = '@Url.Action(MVC.Purchase.Index())';
        var URI_SEARCH_MSR = '@Url.Action(MVC.MSR.GetListMSRRequisition())';
        var URI_GET_MSR_DATA = '@Url.Action(MVC.Warehouse.GetDataIssuedByMSRId(Guid.Empty, Model.IssuedType))';
        var URI_CREATE_MSR_ISSUED = '@Url.Action(MVC.Warehouse.CreateIssued())';

        var validStatus = [@WorkOrderStatus.COMPLETE, @WorkOrderStatus.COMPLETE_ADMIN, @WorkOrderStatus.REJECTED];
        var cancelLabel = '@RequestStatus.CANCEL';

        var objModel = function () { return @Html.Raw(objModel); };
        var objModalMSR = function () { return @Html.Raw(objModalMSR); };
        var IssuedType = '@IssuedType';
    </script>

    <script src="~/Assets/pages/Purchase/DetailPurchase.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}