﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.MSRIssuedModel

@{
    string Title = "ISSUED FORM";
    string SubTitle = "Issued From";
    string BreadCrumbLabel = "Issued";

    string cssHeader = "blue";
    string cssDetail = "bg-blue-madison";

    switch (Model.IssuedType)
    {
        case JResources.Common.Enum.RequestStatus.CANCEL:
            Title = "CANCEL FORM";
            SubTitle = "Cancel From";
            BreadCrumbLabel = "Cancel";

            cssHeader = "red";
            cssDetail = "bg-red-madison";
            break;

        case JResources.Common.Enum.RequestStatus.PURCHASING:
            Title = "PURCHASE FORM";
            SubTitle = "Purchase From";
            BreadCrumbLabel = "Purchase";

            cssHeader = "yellow-gold";
            cssDetail = "bg-yellow-gold";
            break;
    }

    ViewBag.Title = Title;
    ViewBag.SubTitle = SubTitle;
    ViewBag.BreadCrumbLabel = BreadCrumbLabel;

    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Index());
    ViewBag.BreadLastLabel = "Issued Detail";

    string IssuedType = Model.IssuedType;
    string objModel = JsonConvert.SerializeObject(Model);
    string objModalMSR = JsonConvert.SerializeObject(new MSRSearchModel());
}



@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">

            <a class="btn" href="@Url.Action(MVC.MSR.Index())">
                <i class="fa fa-users"></i>
                List MSR
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="MSR-issued-form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box @cssHeader">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cubes"></i>@ViewBag.SubTitle Form
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group">
                                @Html.LabelFor(x => x.MSRIssuedNo, BreadCrumbLabel + " No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Model.MSRIssuedNo", @placeholder = "Auto Generate", @class = "form-control", @disabled = "disabled" })
                                </div>

                                @Html.LabelFor(x => x.MSR.DocumentNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    <div class="input-group input-medium">
                                        @Html.TextBoxFor(x => x.MSR.DocumentNo, new { @ng_model = "Model.MSR.DocumentNo", @class = "form-control disabled", @placeholder = "Work Order No", @readonly = "" })
                                    </div>
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.MSR.MSRType, "Document Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.MSRType, new { @ng_model = "Model.MSR.MSRType", @class = "form-control", @readonly = "readonly" })
                                </div>

                                @Html.LabelFor(x => x.MSR.WorkOrderNo, "Work Order No", new { @ng_show = "Model.MSR.WorkOrderNo", @class = "control-label col-md-2 col-md-offset-1" })
                                <div ng-show="Model.MSR.WorkOrderNo" class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.WorkOrderNo, new { @ng_model = "Model.MSR.WorkOrderNo", @class = "form-control", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.DepartmentName, new { @ng_model = "Model.MSR.DepartmentName", @class = "form-control", @disabled = "disabled" })
                                </div>


                                @Html.LabelFor(x => x.MSR.CostCenter, "Cost Center", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MSR.CostCenter, new { @ng_model = "Model.MSR.CostCenter", @class = "form-control disabled", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">

                                @Html.LabelFor(x => x.MSR.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.DateCreated, new { @ng_model = "Model.MSR.DateCreatedStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="javascirpt:;">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>

                                @Html.LabelFor(x => x.MSR.ExpectedDateStr, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">

                                    <div class="input-group date" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.MSR.ExpectedDateStr, new { @ng_model = "Model.MSR.ExpectedDateStr", @class = "form-control", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="javascirpt:;">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="Model.MSR.MaintenanceCode" class="form-group" ng-show="IsWorkOrder">
                                @Html.LabelFor(x => x.MSR.MaintenanceCode, "Maintenance Code", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.MaintenanceCode, new { @ng_model = "Model.MSR.MaintenanceCode", @class = "form-control", @readonly = "" })
                                </div>

                                @Html.LabelFor(x => x.MSR.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MSR.EquipmentNo, new { @class = "form-control", @placeholder = "EquipmentNo", @readonly = "" })
                                </div>

                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.MSR.Reason, "MSR Remarks", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(x => x.MSR.Reason, new { @ng_model = "Model.MSR.Reason", @class = "form-control", @readonly = "" })
                                </div>
                            </div>

                            <div ng-show="Model.MSR.DocumentNo" class="form-group">
                                @Html.LabelFor(x => x.Remarks, BreadCrumbLabel + " Remarks", new { @class = "control-label col-md-2" });
                                <div class="col-md-6">
                                    @Html.TextAreaFor(x => x.Remarks, new { @ng_model = "Model.Remarks", @class = "form-control", @placeholder = "Reason" })
                                </div>
                            </div>



                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>List Detail Item Part
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table id="table-detail" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="@cssDetail">
                                                <th style="width: 40px;">No</th>
                                                <th style="width: 100px;">Item Part</th>
                                                <th>Description</th>
                                                <th style="width: 100px;">Location</th>
                                                <th style="width: 70px;">Qty Purchase</th>
                                                <th style="width: 80px;">Cost</th>
                                                <th style="width: 100px;">Cost Code</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in Model.MSRIssuedDetails track by $index">
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.LineNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 40px;">
                                                </td>
                                                <td style="z-index: 99;">
                                                    <input ng-model="item.ItemNo" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 100px;">
                                                </td>
                                                <td>
                                                    <input ng-model="item.Description" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                <td>
                                                    <div ng-show="!item.Isfulfilled && !item.IsRemove" class="input-group">
                                                        <span class="input-group-btn">
                                                            <a ng-click="lookupSearchLocation(item)" class="btn blue" href="javascirpt:;"><i class="fa fa-search-plus"></i></a>
                                                        </span>
                                                        <input ng-model="item.LocationFrom" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly="" style="width: 150px;">
                                                    </div>

                                                    <input ng-show="item.Isfulfilled || (!item.Isfulfilled && item.IsRemove)" type="text" class="form-control" readonly="">
                                                </td>
                                                <td>
                                                    <input ng-model="item.QtyPurchase" type="number" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" style="width: 70px;" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.Cost" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.CostCode" type="text" ng-class="GridCssRow(item.Isfulfilled, item.IsRemove)" readonly />
                                                </td>
                                            </tr>




                                        </tbody>

                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>

            <div ng-show="Model.MSR.DocumentNo" class="portlet box @cssHeader">

                <div class="portlet light bordered form-fit">
                    <div class="portlet-title" style="padding-top: 5px; padding-bottom: 0;">
                        <div class="caption">
                            <i class="fa fa-users"></i>Approval User
                        </div>
                    </div>

                    <div class="portlet-body form">

                        <div class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.MSR.Requestor.FullName, "Requestor", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.MSR.Requestor.FullName, "", new { @ng_model = "Model.MSR.Requestor.FullName", @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>


                                    @Html.LabelFor(x => x.MSR.Manager.FullName, "Manager", new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.MSR.Manager.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">

                                    @Html.LabelFor(x => x.MSR.GeneralManagerSite.FullName, "GM Site", new { @class = "control-label col-md-2 col-md-offset-6" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.MSR.GeneralManagerSite.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8">
                                                <button ng-click="CreateIssued()" type="button" class="btn green">Submit</button>
                                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </form>


        @{Html.RenderAction(MVC.Lookup.MSRApproveLookup());}
        @{Html.RenderAction(MVC.Lookup.ItemLocationLookup());}
    </div>
</div>



@section FooterScript{

    <script>
        var URI_MSR_LIST = '@Url.Action(MVC.Purchase.Index())';
        var URI_CREATE_MSR_ISSUED = '@Url.Action(MVC.Purchase.PurchasedRequest())';

        var objModel = function () { return @Html.Raw(objModel); };
        var objModalMSR = function () { return @Html.Raw(objModalMSR); };

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {
            $scope.Model = objModel();
            $scope.Modal = objModalMSR();


            $scope.lookupSearchLocation = function (item) {
                $scope.ItemLocationSelect = item;
                $('#location-lookup').modal('toggle');
            }

            $scope.btnSelectLocation = function (locationId) {

                for (var i = 0; i < $scope.Model.MSRIssuedDetails.length; i++) {
                    if ($scope.Model.MSRIssuedDetails[i].LineNo == $scope.ItemLocationSelect.LineNo) {
                        var ItemLine = $scope.Model.MSRIssuedDetails[i];

                        for (var ii = 0; ii < ItemLine.ItemLocations.length; ii++) {
                            if (ItemLine.ItemLocations[ii].Location == locationId) {
                                ItemLine.LocationFrom = ItemLine.ItemLocations[ii].Location;
                                ItemLine.StochOnHand = ItemLine.ItemLocations[ii].QtyOnHand;
                            }
                        }

                    }
                }

                $('#location-lookup').modal('toggle');
            }

            $scope.resetItemMSRDetail = function (lineNo) {
                alert('remove');
            }

            $scope.CreateIssued = function () {
                var elementBlock = '#MSR-issued-form';
                BlockElement(elementBlock);

                $http({
                    method: 'POST',
                    url: URI_CREATE_MSR_ISSUED,
                    data: $scope.Model
                }).then(function successCallback(response) {

                    if (response.data.IsSuccess) {
                        window.location = URI_MSR_LIST;
                    } else {
                        showAlert(response.data.Message);
                    }

                    unBlockElement(elementBlock);
                }, function errorCallback(response) {

                    console.log(response);
                    bootbox.alert(response.data.Message);
                    unBlockElement(elementBlock);
                });
            }

            $scope.GridCssRow = function (Isfulfilled, IsRemove) {

                var addDisabled = ' bg-grey-cararra';
                if (Isfulfilled) {
                    addDisabled = ' ';
                } else {
                    if (IsRemove) {
                        addDisabled = ' ';
                    }
                }

                return 'form-control' + addDisabled;
            }

            $scope.GridCssRowInput = function (Isfulfilled, IsRemove) {

                var addDisabled = ' bg-yellow-lemon';
                if (Isfulfilled) {
                    addDisabled = ' disabled';
                } else {
                    if (IsRemove) {
                        addDisabled = ' disabled';
                    }
                }

                return 'form-control' + addDisabled;
            }

        });

    </script>
}