﻿@model JResources.Data.Model.MSRSearchModel

<div class="modal fade bs-modal-lg" id="EnumTable-lookup" tabindex="-1" role="MSR-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-green-seagreen">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Search Supplier Ready To Issued
                        </div>
                    </div>
                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">

                                    <div class="col-md-offset-2 col-md-3" style="border: 0;">
                                        <button ng-click="SearchSupplier()" id="btn-search-item" type="button" class="btn blue" style="margin-top: 10px; margin-bottom: 10px; width: 100%; text-align: justify;">
                                            <i class="fa fa-search-plus"></i>Search
                                        </button>
                                    </div>


                                </div>

                                <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                    <thead>
                                        <tr role="row" class="bg-green-seagreen">
                                            <th style="width: 140px;">SUPPLIER NAME</th>
                                            <th style="width: 70px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="item in Modal.ListData">
                                            <td><input ng-model="item.EnumLabel" type="text" class="form-control" readonly /></td>
                                            <td>
                                                <a ng-click="SelectSupplier(item.ID)" href="#" class="btn default green-jungle-stripe" style="margin-right:0;">Select</a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <ul class="pagination pagination-sm" uib-pagination total-items="Modal.TotalItems" max-size="5" ng-model="Modal.CurrentPage" ng-change="pageChangedLookupItem()" boundary-links="true" num-pages="numPages"></ul>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>



