﻿@model JResources.Data.Model.MSRSearchModel

<div class="modal fade bs-modal-lg" id="SetWinner-lookup" tabindex="-1" role="MSR-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-green-seagreen">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Set Winner
                        </div>

                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-title">
                                <div class="form-group">
                                    <div class="col-md-5" style="border-right: 1px solid #efefef;">
                                        {{Model.CBESetWinners[0].SupplierName}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-body" style="margin:20px">
                                <!-- BEGIN FORM-->
                                <div class="form-group">
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsProprietary" style="border: 0; margin:10px" type="checkbox" />Proprietary
                                    </div>

                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsRepeatOrder" style="border: 0; margin:10px" type="checkbox" />Repeat Order PO No.
                                    </div>

                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].OrderNo" style="border: 0; margin:10px" type="text" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsLowestCost" style="border: 0; margin:10px" type="checkbox" />Lowest Cost
                                    </div>

                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsTechnicalAcceptable" style="border: 0; margin:10px" type="checkbox" />Technical Acceptable
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsPriceStatedinContract" style="border: 0; margin:10px" type="checkbox" />Price Stated In Contract
                                    </div>

                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsBetterAfterSales" style="border: 0; margin:10px" type="checkbox" />Better After Sales
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsBetterDelivery" style="border: 0; margin:10px" type="checkbox" />Better Delivery
                                    </div>

                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsCommunityDevelopment" style="border: 0; margin:10px" type="checkbox" />Community Development
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsMeetSchedule" style="border: 0; margin:10px" type="checkbox" />Meet Schedule
                                    </div>

                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsPaymentTerm" style="border: 0; margin:10px" type="checkbox" />Payment Term
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <input ng-model="Model.CBESetWinners[0].IsOthers" style="border: 0; margin:10px" type="checkbox" />Others
                                    </div>

                                    <div class="col-md-6" style="border-right: 1px solid #efefef;">
                                        <textarea ng-model="Model.CBESetWinners[0].OthersRemark" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Remarks</label>
                                    <div class="col-md-9">
                                        <textarea ng-model="Model.CBESetWinners[0].Remark" class="form-control" rows="2" cols="5" style="resize:none"></textarea>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-offset-4 col-md-9">
                                                    <button ng-click="SetAsWinner()" type="button" class="btn blue">Save</button>
                                                    <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>