﻿@model JResources.Data.Model.SearchModel

<div class="modal fade" id="costcode-lookup" tabindex="-1" role="costcode-lookup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-blue-ebonyclay">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Search Cost Code
                        </div>
                        
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">


                                <!-- BEGIN FORM-->
                                <div class="form-group">
                                    @Html.LabelFor(x => x.SearchCriteria, "Cost Code", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.SearchCriteria, new { @ng_model = "FormLookupCostCode.SearchCriteria", @class = "form-control", @placeholder = "Search By Item No", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                    </div>

                                    <div class="col-md-offset-1 col-md-3">
                                        <button ng-click="btnSearchLookupCostCode()" id="btn-search-item" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                    </div>
                                </div>


                                <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                    <thead>
                                        <tr role="row" class="bg-blue-chambray">
                                            <th style="width: 120px;">COST CODE</th>
                                            <th>DESCRIPTION</th>
                                            <th style="width: 80px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="costcode-lookup-result">
                                        <tr ng-repeat="item in FormLookupCostCode.ListDataGeneral track by $index">
                                            <td class="item-no">
                                                <input ng-model="item.Value" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="description">
                                                <input ng-model="item.Text" type="text" class="form-control" style="font-size: 80%;" readonly />
                                            </td>
                                            <td class="btn-action">
                                                <a ng-click="btnSelectCostCode(item)" ng-show="item.Value!=''" href="#tbody-detail-item" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <ul class="pagination pagination-sm" uib-pagination total-items="FormLookupCostCode.TotalItems" max-size="5" ng-model="FormLookupCostCode.CurrentPage" ng-change="pageChangedLookupCostCode()" boundary-links="true" num-pages="numPages"></ul>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>



