﻿@model JResources.Data.Model.CurrencyModel
@{ 
}

<div class="modal fade bs-modal-lg" id="currency-lookup" tabindex="-1" role="currency-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-blue-ebonyclay">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Search Currency
                        </div>
                        
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <!-- BEGIN FORM-->
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.CurrencyName, "Currency Desc", new { @class = "control-label col-md-2" })
                                                <div class="col-md-3">
                                                    @Html.TextBoxFor(x => x.CurrencyName, new { @ng_model = "FormLookupCurrency.CurrencyName", @class = "form-control", @placeholder = "Search By Currency Desc", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                </div>

                                                <div class="col-md-offset-1 col-md-3">
                                                    <button ng-click="btnSearchLookupCurrency()" id="btn-search-item" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                                </div>
                                            </div>

                                            <table class="table table-bordered table-hover table-list-input" id="table-currency" style="margin-bottom: 0;">
                                                <thead>
                                                    <tr role="row" class="bg-blue-chambray">
                                                        <th style="width: 120px;">Currency ID</th>
                                                        <th>Currency Desc</th>
                                                        <th style="width: 80px;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="itempart-lookup-result">
                                                    <tr ng-repeat="item in FormLookupCurrency.ListData track by $index">
                                                        <td class="item-no">
                                                            <input ng-model="item.CurrencyCode" type="text" class="form-control" readonly />
                                                        </td>
                                                        <td class="description">
                                                            <input ng-model="item.CurrencyName" type="text" class="form-control" style="font-size: 80%;" readonly />
                                                        </td>
                                                        <td class="btn-action">
                                                            <a ng-click="btnInsertCurrencyToList(item)" href="#tbody-detail-item" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="form-action" style="border-top: 0;">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <ul class="pagination pagination-sm" uib-pagination total-items="FormLookupItem.TotalItems" max-size="5" ng-model="FormLookupItem.CurrentPage" ng-change="pageChangedLookupItem()" boundary-links="true" num-pages="numPages"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>



