﻿        <div class="modal fade" id="location-lookup" tabindex="-1" role="location-lookup" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 0;">

                        <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                            <div class="portlet-title bg-blue-ebonyclay">
                                <div class="caption">
                                    <i class="fa fa-cubes"></i>Select Location
                                </div>
                                <div class="tools">
                                    <a href="#" onclick="$('#location-lookup').modal('toggle');" class="remove" aria-hidden="true"></a>
                                </div>
                            </div>

                            <div class="portlet-body form" style="margin-bottom: 0;">
                                <div id="form-MSR" class="form-horizontal form-bordered">
                                    <div class="form-body">


                                        <!-- BEGIN FORM-->
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Item No</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="ItemLocationSelect.ItemNo" class="form-control" style="border: 0; border-right: 1px solid #e5e5e5;" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-4">Item Description</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="ItemLocationSelect.Description" class="form-control" style="border: 0; border-right: 1px solid #e5e5e5;" />
                                            </div>
                                        </div>


                                        <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                            <thead>
                                                <tr role="row" class="bg-blue-chambray">
                                                    <th>LOCATION</th>
                                                    <th style="font-size: 10px; width: 75px;">QTY <span style="font-size: 10px; display: block;">(ON HAND)</span></th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ItemLocationSelect.ItemLocations track by $index">
                                                    <td>
                                                        <input ng-model="item.Location" type="text" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <span ng-show="item.QtyOnHand < 1" class="label label-sm label-warning">Empty </span>
                                                        <input ng-show="item.QtyOnHand > 0" ng-model="item.QtyOnHand" type="text" class="form-control" />
                                                    </td>
                                                    <td class="btn-action">
                                                        <a ng-show="!ItemLocationSelect.IsCreated && item.QtyOnHand < 1" href="#tbody-detail-item" class="btn default" style="margin-right: 0;">-</a>
                                                        <a ng-click="btnSelectLocation(item.Location)" ng-show="ItemLocationSelect.IsCreated || item.QtyOnHand > 0" href="#tbody-detail-item" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <div class="form-action" style="border-top: 0;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>


                        </div>




                    </div>
                </div>
            </div>
        </div>