﻿@model JResources.Data.Model.PartItemSearchModel
@{ 
    bool IsItemCEALookup = (bool)ViewBag.ItemCEALookup;
}

<div class="modal fade bs-modal-lg" id="itempart-lookup" tabindex="-1" role="itempart-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-blue-ebonyclay">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Search Item Number
                        </div>
                        
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">


                                <!-- BEGIN FORM-->
                                <div class="form-group">
                                    @Html.LabelFor(x => x.ItemNo, "Item No", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.ItemNo, new { @ng_model = "FormLookupItem.ItemNo", @class = "form-control", @placeholder = "Search By Item No", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.ItemDesc, "Item Description", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.ItemDesc, new { @ng_model = "FormLookupItem.ItemDesc", @class = "form-control", @placeholder = "Search By Item Description", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                    </div>

                                    <div class="col-md-offset-1 col-md-3">
                                        <button ng-click="btnSearchLookupItem()" id="btn-search-item" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                    </div>
                                </div>


                                <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                    <thead>
                                        <tr role="row" class="bg-blue-chambray">
                                            <th style="width: 120px;">ITEM NO</th>
                                            <th>DESCRIPTION</th>
                                            <th style="width: 100px;">STOCK UNIT</th>
                                            <th style="font-size: 10px; width: 75px;">QTY <span style="font-size: 10px; display: block;">(ON HAND)</span></th>
                                            <th style="font-size: 10px; width: 75px;">QTY <span style="font-size: 10px; display: block;">(ON ORDER)</span></th>
                                            <th style="width: 130px;">COST</th>
                                            <th style="width: 80px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="itempart-lookup-result">
                                        <tr ng-repeat="item in FormLookupItem.ListData track by $index">
                                            <td class="item-no">
                                                <input ng-model="item.ItemNo" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="description">
                                                <input ng-model="item.Description" type="text" class="form-control" style="font-size: 80%;" readonly />
                                            </td>
                                            <td class="stock-unit">
                                                <input ng-model="item.UOM" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="total-qty-on-hand">
                                                <span ng-show="item.ItemNo != null && item.TotalQtyOnHand < 0.00001" class="label label-sm label-warning">Empty </span>
                                                <input ng-show="item.TotalQtyOnHand > 0" ng-model="item.TotalQtyOnHand" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="total-qty-on-hand">
                                                <span ng-show="item.ItemNo != null && item.TotalQtyOnOrder < 0.00001" class="label label-sm label-warning">Empty </span>
                                                <input ng-show="item.TotalQtyOnOrder > 0" ng-model="item.TotalQtyOnOrder" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="total-cost">
                                                <span ng-show="item.ItemNo != null && item.TotalCost < 0.00001" class="label label-sm label-warning">Cost Not Set </span>
                                                <input  ng-show="item.TotalCost > 0" ng-model="item.TotalCost" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="btn-action">
                                                @if (IsItemCEALookup)
                                                {
                                                    <a ng-click="btnInsertItemToList(item)" href="#tbody-detail-item" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                                }
                                                else
                                                {
                                                    <a ng-show="item.TotalCost < 0.00001" href="#tbody-detail-item" class="btn default" style="margin-right: 0;">-</a>
                                                    <a ng-click="btnInsertItemToList(item)" ng-show="item.TotalCost > 0" href="#tbody-detail-item" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <ul class="pagination pagination-sm" uib-pagination total-items="FormLookupItem.TotalItems" max-size="5" ng-model="FormLookupItem.CurrentPage" ng-change="pageChangedLookupItem()" boundary-links="true" num-pages="numPages"></ul>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>



