﻿@model JResources.Data.Model.MSRSearchModel

<div class="modal fade bs-modal-lg" id="MSR-lookup" tabindex="-1" role="MSR-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-green-seagreen">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Search MSR Ready To Issued
                        </div>
                        
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">


                                <!-- BEGIN FORM-->
                                <div class="form-group">
                                    @Html.LabelFor(x => x.MSRNo, "MSR No", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3" style="border-right: 1px;">
                                        @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Modal.MSRNo", @class = "form-control", @placeholder = "Search By MSR No", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                    </div>

                                    @Html.LabelFor(x => x.WorkOrderNo, "Work Order No", new { @class = "control-label col-md-2 col-md-offset-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.WorkOrderNo, new { @ng_model = "Modal.WorkOrderNo", @class = "form-control", @placeholder = "Search By Work Order No", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3" style="border-right: 1px solid #efefef;">
                                        <select class="form-control" style="border: 0;"></select>
                                    </div>

                                    @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2 col-md-offset-2" })
                                    <div class="col-md-3">
                                        <select class="form-control" style="border: 0;"></select>
                                    </div>
                                </div>

                                <div class="form-group">                                    

                                    <div class="col-md-offset-2 col-md-3" style="border: 0;">
                                        <button ng-click="SearchMSR()" id="btn-search-item" type="button" class="btn blue" style="margin-top: 10px; margin-bottom: 10px; width: 100%; text-align: justify;">
                                            <i class="fa fa-search-plus"></i>Search
                                        </button>
                                    </div>


                                </div>


                                <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                    <thead>
                                        <tr role="row" class="bg-green-seagreen">
                                            <th style="width: 140px;">MSR NO</th>
                                            <th style="width: 130px;">WORK ORDER NO</th>                                            
                                            <th style="width: 150px;">DEPARTMENT</th>
                                            <th>REQUESTOR</th>
                                            <th style="width: 90px; font-size: 80%;">REQUEST DATE</th>
                                            <th style="width: 90px; font-size: 80%;">EXPECTED DATE</th>
                                            <th style="width: 90px; font-size: 80%;">APPROVE DATE</th>
                                            <th style="width: 70px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="item in Modal.ListData">
                                            <td><input ng-model="item.DocumentNo" type="text" class="form-control" readonly /></td>
                                            <td><input ng-model="item.WorkOrderNo" type="text" class="form-control" readonly /></td>
                                            <td><input ng-model="item.DepartmentName" type="text" class="form-control" readonly /></td>
                                            <td><input ng-model="item.Requestor" type="text" class="form-control" style="font-size: 80%;" readonly /></td>
                                            <td><input ng-model="item.DateCreatedStr" type="text" class="form-control" style="text-align:right; padding-right:5px;" readonly /></td>
                                            <td><input ng-model="item.ExpectedDateStr" type="text" class="form-control" style="text-align:right;" readonly /></td>
                                            <td><input ng-model="item.ExpectedDateStr" type="text" class="form-control" style="text-align:right;" readonly /></td>
                                            <td>
                                                <a ng-click="SelectMSR(item.ID)" href="#" class="btn default green-jungle-stripe" style="margin-right:0;">Select</a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <ul class="pagination pagination-sm" uib-pagination total-items="Modal.TotalItems" max-size="5" ng-model="Modal.CurrentPage" ng-change="pageChangedLookupItem()" boundary-links="true" num-pages="numPages"></ul>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>



