﻿@model JResources.Data.Model.MSRSupplier
@{ 
    //bool IsItemCEALookup = (bool)ViewBag.ItemCEALookup;
}

<div class="modal fade bs-modal-lg" id="supplier-lookup" tabindex="-1" role="supplier-lookup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-blue-ebonyclay">
                        <div class="caption">
                            <i class="fa fa-cubes"></i>Search Supplier
                        </div>
                        
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="tab-pane active" id="tab_Company">
                                        <ul class="nav nav-tabs ">
                                            <li class="active">
                                                <a href="#tab_SearchSupplier" data-toggle="tab">Search Supplier</a>
                                            </li>
                                            <li>
                                                <a href="#tab_AddSupplier" data-toggle="tab">Add Supplier</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_SearchSupplier">
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                                        <!-- BEGIN FORM-->
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.SupplierCode, "Supplier Id", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-3">
                                                                @Html.TextBoxFor(x => x.SupplierCode, new { @ng_model = "FormLookupSupplier.SupplierCode", @class = "form-control", @placeholder = "Search By Supplier Id", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.SupplierName, "Supplier Name", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-3">
                                                                @Html.TextBoxFor(x => x.SupplierName, new { @ng_model = "FormLookupSupplier.SupplierName", @class = "form-control", @placeholder = "Search By Supplier Name", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                            </div>

                                                            <div class="col-md-offset-1 col-md-3">
                                                                <button ng-click="btnSearchLookupSupplier()" id="btn-search-item" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                                            </div>
                                                        </div>

                                                        <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                                            <thead>
                                                                <tr role="row" class="bg-blue-chambray">
                                                                    <th style="width: 120px;">Supplier ID</th>
                                                                    <th>Supplier Name</th>
                                                                    <th style="width: 80px;">Currency</th>
                                                                    <th style="width: 80px;"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="itempart-lookup-result">
                                                                <tr ng-repeat="item in FormLookupSupplier.ListData track by $index">
                                                                    <td class="item-no">
                                                                        <input ng-model="item.SupplierCode" type="text" class="form-control" readonly />
                                                                    </td>
                                                                    <td class="description">
                                                                        <input ng-model="item.SupplierName" type="text" class="form-control" style="font-size: 80%;" readonly />
                                                                    </td>
                                                                    <td class="currency">
                                                                        <input ng-model="item.Currency" type="text" class="form-control" style="font-size: 80%;" readonly />
                                                                    </td>
                                                                    <td class="btn-action">
                                                                        <a ng-click="btnInsertSupplierToList(item)" href="#tbody-detail-item" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="form-action" style="border-top: 0;">
                                                            <div class="row">
                                                                <div class="col-md-8">

                                                                    <ul class="pagination pagination-sm" uib-pagination total-items="FormLookupItem.TotalItems" max-size="5" ng-model="FormLookupItem.CurrentPage" ng-change="pageChangedLookupItem()" boundary-links="true" num-pages="numPages"></ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_AddSupplier">
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.AddSupplierName, "Supplier Name", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-3">
                                                                @Html.TextBoxFor(x => x.AddSupplierName, new { @ng_model = "FormLookupSupplier.AddSupplierName", @class = "form-control", @placeholder = "Supplier Name", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.AddSupplierContactPerson, "Contact Person", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-3">
                                                                @Html.TextBoxFor(x => x.AddSupplierContactPerson, new { @ng_model = "FormLookupSupplier.AddSupplierContactPerson", @class = "form-control", @placeholder = "Contact Person", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.AddSupplierAddress, "Address", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-3">
                                                                @Html.TextAreaFor(x => x.AddSupplierAddress, new { @ng_model = "FormLookupSupplier.AddSupplierAddress", @class = "form-control", @placeholder = "Address", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(x => x.AddSupplierPayment, "Term Of Payment", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-3">
                                                                @Html.TextAreaFor(x => x.AddSupplierPayment, new { @ng_model = "FormLookupSupplier.AddSupplierPayment", @class = "form-control", @placeholder = "Term Of Payment", @style = "border:0; border-right:1px solid #e5e5e5;" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-3">
                                                                <button ng-click="btnAddSupplier()" id="btn-add-supplier" type="button" class="btn blue"><i class="fa fa-plus"></i>Add Supplier</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>



