﻿<div class="modal fade" id="workorder-lookup" tabindex="-1" role="workorder-lookup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="portlet box blue-hoki" style="margin-bottom: 0;">

                    <div class="portlet-title bg-blue-ebonyclay">
                        <div class="caption">
                            <i class="fa fa-file-text-o"></i>Select Work Order
                        </div>
                        <div class="tools">
                            <a href="#" class="remove" data-dismiss="modal" aria-hidden="true"></a>
                        </div>
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">


                                <!-- BEGIN FORM-->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Work Order No</label>
                                    <div class="col-md-4">
                                        <input type="text" ng-model="FormLookupWorkOrder.WorkOrderNo" class="form-control" style="border: 0; border-right: 1px solid #e5e5e5;" />
                                    </div>

                                    <div class="col-md-offset-1 col-md-3">
                                        <button ng-click="btnSearchLookupWorkOrder()" id="btn-search-workorder" type="button" class="btn blue"><i class="fa fa-search-plus"></i>Search</button>
                                    </div>
                                </div>

                                <table class="table table-bordered table-hover table-list-input" id="table-issued" style="margin-bottom: 0;">
                                    <thead>
                                        <tr role="row" class="bg-blue-chambray">
                                            <th>WORK ORDER</th>
                                            <th style="width: 150px">MAINTAIN TYPE</th>
                                            <th style="width: 100px">AUDIT DATE</th>
                                            <th style="width: 80px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in FormLookupWorkOrder.ListData track by $index">
                                            <td>
                                                <input ng-model="item.WorkOrderNo" type="text" class="form-control" readonly />
                                            </td>
                                            <td>
                                                <input ng-model="item.MaintainType" type="text" class="form-control" readonly />
                                            </td>
                                            <td>
                                                <input ng-model="item.AuditDateDecimal" type="text" class="form-control" readonly />
                                            </td>
                                            <td class="btn-action">
                                                <a ng-show="item.IsUseComplete" href="#" class="btn default" style="margin-right: 0;">-</a>
                                                <a ng-show="!item.IsUseComplete" ng-click="btnSelectWorkOrder(item.WorkOrderNo)" href="#" class="btn blue btn-select" style="margin-right: 0;">Select <i class="fa fa-plus"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <ul class="pagination pagination-sm" uib-pagination total-items="FormLookupWorkOrder.TotalItems" max-size="5" ng-model="FormLookupWorkOrder.CurrentPage" ng-change="pageChangedLookupWorkOrder()" boundary-links="true" num-pages="numPages"></ul>
                                        </div>

                                        <div class="col-md-4">
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div>




            </div>
        </div>
    </div>
</div>
