@using System.Text.RegularExpressions
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Areas/HelpPage/TestClient.css" rel="stylesheet" />
@* Automatically grabs the installed version of JQuery/JQueryUI/KnockoutJS *@
@*@{var filePattern = @"(jquery-[0-9]+.[0-9]+.[0-9]+.js|jquery-ui-[0-9]+.[0-9]+.[0-9]+.js|knockout-[0-9]+.[0-9]+.[0-9]+.js)";}
@foreach (var item in Directory.GetFiles(Server.MapPath(@"~/Scripts")).Where(f => Regex.IsMatch(f, filePattern)))
{
    <script src="~/Scripts/@Path.GetFileName(item)"></script>
}*@
  <script src="~/Scripts/jquery-1.8.2.min.js" defer="defer"></script>
@*    <script src="~/Scripts/jquery-ui-1.8.24.min.js" defer="defer"></script>*@
    <script src="~/Scripts/jquery-ui-1.9.2.min.js" defer="defer"></script>
@*    <script src="~/Scripts/knockout-2.2.0.js" defer="defer"></script>*@
    <script src="~/Scripts/knockout-2.2.1.js" defer="defer"></script>
<script src="~/Scripts/WebApiTestClient.js" defer="defer"></script>