﻿@model JResources.Data.ZZPSTNON_LOGGER

@{
    Layout = null;
    ViewBag.Title = "AccessDenied";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>J Resources | Error</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Assets/admin/pages/css/error.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Assets/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css">
    <link href="~/Assets/global/css/plugins-md.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="~/Assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/Assets/global/img/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body class="page-md page-500-full-page">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number">
                500
            </div>
            <div class=" details">
                <h3>Oops! Something went wrong. </h3>
                <p>
                    Internal Server Error! <a id="btn-show-ex" href="#">(view)</a><br />
                    <a onclick="goBack()" href="#">Return Back </a>
                </p>
            </div>
            <div style="clear: both;"></div>

            <div style="clear: both;"></div>
            <div id="detail-exception" class="details" style="display: none; width: 800px; margin-top: 20px;">
                <div class="well well-lg">
                    @if (Model != null)
                    {
                        @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
                    }
                </div>


            </div>
        </div>


    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="~/Assets/global/plugins/respond.min.js"></script>
<script src="~/Assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
    <script src="~/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script src="~/Assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {

            $('#btn-show-ex').click(function () {
                $('#detail-exception').toggle(1000);
            });

            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
        });
    </script>
    <!-- END JAVASCRIPTS -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
<!-- END BODY -->
</html>
