﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.MSRModel

@{
    ViewBag.Title = "REQUEST FORM";
    ViewBag.SubTitle = "Entry Data";
    ViewBag.BreadCrumbLabel = "MSR";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Index());
    ViewBag.BreadLastLabel = "MSR Detail";

    List<SelectListItem> ListCompany = new List<SelectListItem>();
    if (ViewBag.CompanyList != null)
    {
        ListCompany = (List<SelectListItem>)ViewBag.CompanyList;
    }

    var ListMSRType = (List<SelectListItem>)ViewBag.ListMSRType;
    var ListDepartment = (List<SelectListItem>)ViewBag.ListDepartment;
    var DeptIdMaintenances = (List<Guid>)ViewBag.DeptIdMaintenances;
    var ListJobTypeNonCMMS = (List<SelectListItem>)ViewBag.ListJobTypeNonCMMS;
    var ListLeadTime = (List<LeadTimeModel>)ViewBag.ListLeadTime;
    var ListStatus = new List<SelectListItem>();
    ListStatus.Add(new SelectListItem() { Text = "", Value = "New" });

    string jsonModel = JsonConvert.SerializeObject(Model);
    string searchItem = JsonConvert.SerializeObject(new PartItemSearchModel());
    string searchCostCode = JsonConvert.SerializeObject(new SearchModel());
    string searchWorkOrder = JsonConvert.SerializeObject(new WorkOrderSearchModel());
    string itemPartModel = JsonConvert.SerializeObject(new ItemPartModel());
    string MSRDetailModel = JsonConvert.SerializeObject(new MSRDetailModel());
    string ObjListDepartment = JsonConvert.SerializeObject(ListDepartment);
    string ObjDeptIdMaintenances = JsonConvert.SerializeObject(DeptIdMaintenances);
    string ObjListLeadTime = JsonConvert.SerializeObject(ListLeadTime);

    bool IsEdit = false;
    bool IsReOrderPoint = (ViewBag.IsReOrderPoint != null ? (bool)ViewBag.IsReOrderPoint : false);

    if (Model.ID != Guid.Empty)
    {
        if (Model.StatusRequest == JResources.Common.Enum.RequestStatus.NEW || Model.StatusRequest == JResources.Common.Enum.RequestStatus.REVISION)
        {
            IsEdit = true;
        }
    }


}

@section HeaderStyle {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
}


@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group btn-theme-panel">


            <a href="@Url.Action(MVC.MSR.Index())" class="tooltips btn btn-fit-height blue-ebonyclay">
                <i class="fa fa-users"></i>&nbsp;
                List MSR
            </a>

            <a id="info-start" href="#" class="tooltips btn btn-fit-height blue" style="margin: 0;">
                <i class="fa fa-info-circle" style="margin-right: 0;"></i>
            </a>

        </div>
    </div>
}


<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <form id="MSR-form" action="#" class="form-horizontal form-bordered form-row-stripped">

            <div class="portlet box green">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt"></i>MSR Entry Form
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered">
                        <div class="form-body">


                            <div class="form-group" data-step="1" data-position="top" data-intro="MSR No akan tergenerate otomatis!">
                                @Html.LabelFor(x => x.DocumentNo, "Document No", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.DocumentNo, new { @ng_model = "Model.DocumentNo", @class = "form-control", @placeholder = "Auto Generate", @disabled = "disabled" })
                                    @Html.HiddenFor(x => x.IsReOrderPoint)
                                </div>


                            </div>

                            <div class="form-group" data-step="2" data-position="top" data-intro="Type Item yang akan di input!">
                                @Html.LabelFor(x => x.MSRType, "Document Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @if (Model.IsReOrderPoint)
                                    {
                                        @Html.DropDownListFor(x => x.MSRType, ListMSRType, new { @disabled = "disabled", @ng_model = "Model.MSRType", @class = "select2me form-control", @ng_change = "ChangeMSRType()" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.MSRType, ListMSRType, new { @ng_disabled = "IsWorkOrder", @ng_model = "Model.MSRType", @class = "select2me form-control", @ng_change = "ChangeMSRType()" })
                                    }
                                </div>


                                @if (!Model.IsReOrderPoint)
                                {
                                    @Html.LabelFor(x => x.WorkOrderNo, "Work Order No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-3">
                                        <div class="input-group input-medium">
                                            @Html.TextBoxFor(x => x.WorkOrderNo, new { @ng_model = "Model.WorkOrderNo", @class = "form-control disabled", @placeholder = "Work Order No", @readonly = "" })

                                            @if (!IsEdit)
                                            {
                                                <span class="input-group-btn">
                                                    <a ng-show="!IsWorkOrder" ng-click="lookupSearchWorkOrder()" class="btn blue" href="#">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>

                                                    <a ng-show="IsWorkOrder" ng-click="removeWorkOrder()" class="btn red" href="#">
                                                        <i class="fa fa-times-circle"></i>
                                                    </a>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="form-group" data-step="3" data-position="top" data-intro="Department dari request dokumen yang dibuat">

                                @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @if (Model.IsReOrderPoint)
                                    {
                                        <select ng-model="Model.DepartmentId" ng-change="ChangeDepartment()" class="select2me form-control" disabled>
                                            <option ng-repeat="item in ObjListDepartment" value="{{ item.Value }}">{{ item.Text }}</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select ng-model="Model.DepartmentId" ng-disabled="IsWorkOrder" ng-change="ChangeDepartment()" class="select2me form-control">
                                            <option ng-repeat="item in ObjListDepartment" value="{{ item.Value }}">{{ item.Text }}</option>
                                        </select>
                                    }

                                </div>


                                @Html.LabelFor(x => x.CostCenter, "Cost Center", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div ng-show="!IsWorkOrder" class="col-md-4">
                                    <select ng-model="Model.CostCenter" ng-disabled="IsWorkOrder" class="select2me form-control">
                                        <option ng-repeat="item in listCostCenter" value="{{ item.Value }}">{{ item.Text }}</option>
                                    </select>
                                </div>

                                <div ng-show="IsWorkOrder" class="col-md-3">
                                    @Html.TextBoxFor(x => x.CostCenter, new { @ng_model = "Model.CostCenterLabel", @class = "form-control", @placeholder = "EquipmentNo", @readonly = "readonly" })
                                </div>



                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">

                                    <div class="input-group input-medium">
                                        @Html.TextBox("DateCreated",
                                            Model.DateCreated.ToString(Constant.FORMAT_DATE_JRESOURCES),
                                            new { @ng_model = "Model.DateCreatedStr", @class = "form-control", @placeholder = "Date Created", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>

                                @Html.LabelFor(x => x.ExpectedDateStr, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">

                                    <div ng-show="!IsWorkOrder" class="input-group date date-picker" data-date-start-date="@DateTime.Now.ToString(Constant.FORMAT_DATE_JRESOURCES)" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                        @Html.TextBoxFor(x => x.ExpectedDateStr, new { @ng_model = "Model.ExpectedDateStr", @class = "form-control", @placeholder = "Expected Date", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn blue" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div ng-show="IsWorkOrder" class="input-group input-medium">
                                        @Html.TextBox("DateCreated",
                                            Model.ExpectedDate.ToString(Constant.FORMAT_DATE_JRESOURCES),
                                            new { @ng_model = "Model.ExpectedDateStr", @class = "form-control", @placeholder = "Date Created", @readonly = "" })

                                        <span class="input-group-btn">
                                            <a class="btn default" href="#">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                        </span>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group" ng-show="!IsWorkOrder">
                                @Html.LabelFor(x => x.MaintenanceCode, "Job Type", new { @id = "MaintenanceCode2", @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @if (Model.IsReOrderPoint)
                                    {
                                        @Html.DropDownListFor(x => x.MaintenanceCode, ListJobTypeNonCMMS, new { @ng_model = "Model.MaintenanceCode", @ng_change = "ChangeJobType()", @class = "select2me form-control", @disabled = "" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(x => x.MaintenanceCode, ListJobTypeNonCMMS, new { @ng_model = "Model.MaintenanceCode", @ng_change = "ChangeJobType()", @class = "select2me form-control" })
                                    }
                                </div>
                            </div>

                            <div class="form-group" ng-show="IsWorkOrder">
                                @Html.LabelFor(x => x.MaintenanceCode, "Job Type", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MaintenanceCodeLabel, new { @ng_model = "Model.MaintenanceCodeLabel", @class = "form-control", @placeholder = "MaintenanceCode", @readonly = "readonly", @style = "font-size: 85%;padding-right:0;" })
                                </div>

                                @Html.LabelFor(x => x.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2 col-md-offset-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.EquipmentNo, new { @ng_model = "Model.EquipmentNo", @class = "form-control", @placeholder = "EquipmentNo", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.LeadTimeNumber, "Lead Time", new { @class = "control-label col-md-2" })
                                <div class="col-md-4">

                                    <div class="input-group input-xsmall">
                                        <input type="text" ng-model="Model.LeadTimeNumber" ng-change="checkLeadTime()" @(Model.IsReOrderPoint ? "readonly " : "") class="spinner-input form-control" maxlength="3">
                                        @if (!Model.IsReOrderPoint)
                                        {
                                            <div class="spinner-buttons input-group-btn btn-group-vertical">

                                                <button ng-click="ChangeLeadTime('up')" type="button" class="btn spinner-up btn-xs blue">
                                                    <i class="fa fa-angle-up"></i>
                                                </button>
                                                <button ng-click="ChangeLeadTime('down')" type="button" class="btn spinner-down btn-xs blue">
                                                    <i class="fa fa-angle-down"></i>
                                                </button>

                                            </div>
                                        }
                                    </div>

                                    <span ng-show="!Model.LeadTime.IsFreeNumber" class="help-block">Min Value : {{ Model.LeadTime.MinNumber }} | Max Value : {{ Model.LeadTime.MaxNumber }} </span>
                                </div>


                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.Reason, "Reason", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.Reason, new { @ng_model = "Model.Reason", @class = "form-control", @placeholder = "Reason", @rows = "4" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.StatusRequestLabel, "Status Request", new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.StatusRequestLabel, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.StatusRequest)
                                </div>
                            </div>


                            <div class="form-group">

                                @Html.Label("FileUploads", "File Uploads", new { @class = "control-label col-md-2" })
                                <div id="form-file-upload" class="col-md-10">

                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div id="upload-progress-control" class="input-group input-large" style="margin-bottom: 5px;">
                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
                                                </span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">
                                                    Select file
                                                </span>
                                                <span class="fileinput-exists">
                                                    Change
                                                </span>
                                                <input id="fileUpload" type="file" name="fileUpload">
                                            </span>
                                            <a id="btn-upload-progress-remove" href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                Remove
                                            </a>
                                            <a ng-click="UploadFile()" href="javascript:;" class="input-group-addon btn blue fileinput-exists">
                                                Upload
                                            </a>
                                        </div>

                                        <div id="upload-progress" class="progress progress-striped active" style="display: none;">
                                            <div id="upload-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ ProgressIndicator }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ProgressIndicator }}%;">
                                                <span id="upload-progress-label" class="sr-only" style="position: relative;">
                                                    {{ ProgressIndicator }} % Complete (success)
                                                </span>
                                            </div>
                                        </div>

                                        <div id="upload-progress-success" class="alert alert-success" style="display: none; padding: 8px;">
                                        </div>

                                        <div id="upload-progress-error" class="alert alert-danger" style="display: none; padding: 8px;">
                                        </div>

                                    </div>


                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px;">
                                                    #
                                                </th>
                                                <th>
                                                    File name
                                                </th>
                                                <th style="width: 100px;">Size</th>
                                                <th style="width: 150px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-file-upload">
                                            <tr ng-repeat="item in FileUploads track by $index">
                                                <td>
                                                    {{ $index+1 }}
                                                </td>
                                                <td>
                                                    {{ item.fileName }}
                                                </td>
                                                <td style="text-align: right;">
                                                    {{ item.fileSize.toFixed() }} KB
                                                </td>
                                                <td style="padding: 3px;">
                                                    <div class="btn-group btn-group-solid">
                                                        <a href=" {{ item.uriFile }}" target="_blank" class="btn blue btn-sm">Download <i class="fa fa-cloud-download"></i></a>
                                                        <button ng-click="DeleteFileUpload(item.id)" type="button" class="btn red btn-sm"><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- END FORM-->
                </div>
            </div>

            <div id="tbody-detail-item" class="portlet box green">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list"></i>List Detail Item Part
                    </div>
                </div>

                <div class="portlet-body form">
                    <!-- BEGIN FORM-->

                    <div class="form-horizontal form-bordered" data-step="4" data-position="top" data-intro="List-list item will be issued!">
                        <div class="form-body">

                            @*
                                TODO : NURIL - 2
                                Tambahkan Kolom Sebagai Flag bahwa item tersebut masuk ke InStock/Budgeted/UnBudgted
                                Kalkulasi ada di kertas.

                                Setelah submit baru di keluarkan message untuk konfirmas

                            *@
                            <div class="portlet-body">
                                <div class="table-scoller">

                                    <table id="table-detail" class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="bg-green-meadow">
                                                <th style="width: 30px;">NO</th>
                                                <th style="width: 100px;">ITEM PART</th>
                                                <th>DESCRIPTION</th>

                                                <th ng-show="IsInventory" style="width: 100px;">LOCATION</th>

                                                <th style="width: 70px;">QTY</th>
                                                <th style="width: 80px;">COST</th>

                                                <th ng-show="IsInventory" style="width: 50px;">STOCK <span style="font-size: 7px; display: block;">(On Hand)</span></th>

                                                <th style="width: 100px;">CATEGORY</th>
                                                @*<th style="width: 100px;">BUDGET <span style="font-size: 7px; display: block;">(Status)</span></th>*@
                                                <th ng-show="!IsInventory" style="width: 100px;">COST CODE</th>
                                                <th ng-show="!IsWorkOrder" style="width: 45px;"></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="item in Model.MSRDetail track by $index">
                                                <td style="z-index: 99;">
                                                    <input class="form-control bg-grey" type="text" readonly="" style="width: 40px;" value="{{ $index+1 }}">
                                                </td>
                                                <td style="z-index: 99;">
                                                    <div class="input-group">
                                                        <span ng-show="!IsWorkOrder" class="input-group-btn">
                                                            <a class="btn blue" ng-click="lookupSearch(item.IdLookup)" href="#">
                                                                <i class="fa fa-search-plus"></i>
                                                            </a>
                                                        </span>
                                                        <input ng-model="item.ItemNo" type="text" class="form-control bg-grey" readonly="" style="width: 100px;">
                                                    </div>

                                                </td>
                                                <td>
                                                    <input ng-model="item.Description" type="text" class="form-control bg-grey" readonly />
                                                </td>
                                                <td ng-show="IsInventory">
                                                    <div class="input-group">
                                                        <span ng-show="!IsWorkOrder" class="input-group-btn">
                                                            <a ng-click="lookupSearchLocation(item.IdLookup)" class="btn blue" href="#"><i class="fa fa-search-plus"></i></a>
                                                        </span>
                                                        <input ng-model="item.Location" type="text" class="form-control bg-grey" readonly="" style="width: 150px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <input ng-show="!IsWorkOrder && item.Location" ng-model="item.Qty" ng-disabled="IsWorkOrder" type="number" class="form-control bg-grey-cararra" style="width: 70px;" ng-change="QtyChange(item)" />
                                                    <input ng-show="IsWorkOrder && item.Location" ng-model="item.Qty" ng-disabled="IsWorkOrder" type="number" class="form-control bg-grey" style="width: 70px;" />
                                                    <input ng-show="!item.Location && IsInventory" type="number" class="form-control bg-grey" style="width: 70px;" readonly />
                                                    <input ng-show="item.ItemNo && (!IsInventory) && !IsWorkOrder" ng-model="item.Qty" type="number" class="form-control bg-grey-cararra" style="width: 70px;" ng-change="QtyChange(item)" />
                                                    <input ng-show="item.ItemNo && (!IsInventory) && IsWorkOrder" ng-model="item.Qty" type="number" class="form-control bg-grey-cararra" style="width: 70px;" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.Cost" type="text" class="form-control bg-grey" readonly />
                                                </td>
                                                <td ng-show="IsInventory">
                                                    <input ng-model="item.StockOnHand" type="text" class="form-control bg-grey" style="width: 50px;" readonly />
                                                </td>
                                                <td>
                                                    <input ng-model="item.CategoryLabel" type="text" class="form-control bg-grey" readonly />
                                                </td>
                                                @*<td>
                                                        <input ng-model="item.BudgetLabel" type="text" class="form-control bg-grey bg-{{item.BudgetLabel}}" readonly />
                                                    </td>*@
                                                <td ng-show="!IsInventory">
                                                    <div class="input-group">
                                                        <span ng-show="!IsWorkOrder" class="input-group-btn">
                                                            <a ng-show="item.ItemNo" ng-click="lookupCostCodeSearch(item.IdLookup)" class="btn blue" href="#"><i class="fa fa-search-plus"></i></a>
                                                            <a ng-show="!item.ItemNo" class="btn" href="#"><i class="fa fa-circle-thin"></i></a>
                                                        </span>
                                                        <input ng-model="item.CostCodeLabel" type="text" class="form-control bg-grey" readonly="" style="width: 150px;">
                                                    </div>
                                                </td>
                                                <td ng-show="!IsWorkOrder">
                                                    <a ng-click="resetItemMSRDetail(item.IdLookup)" class="btn red filter-cancel" style="margin-right: 0;"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>




                                        </tbody>
                                        <tfoot ng-show="!IsWorkOrder">
                                            <tr>
                                                <td colspan="{{ (IsInventory ? 10 : 8) }}" style="z-index: 99;">
                                                    <a ng-click="addEmptyMSRDetail()" href="#table-detail" class="btn default yellow-stripe" style="z-index: 99;">
                                                        <i class="fa fa-plus"></i>
                                                        <span class="hidden-480">Add New Colum Part </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>


                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- END FORM-->
                </div>

            </div>





            <div class="portlet box green">

                <div class="portlet light bordered form-fit">
                    <div class="portlet-title" style="padding-top: 5px; padding-bottom: 0;">
                        <div class="caption">
                            <i class="fa fa-users"></i>Approval User
                        </div>
                    </div>

                    <div class="portlet-body form">

                        <div class="form-horizontal form-bordered">
                            <div class="form-body">
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Requestor.FullName, "Requestor", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.Requestor.FullName, "", new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                    </div>


                                    @Html.LabelFor(x => x.Manager.FullName, "Manager", new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.Manager.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.GeneralManagerSite.FullName, "GM Site", new { @class = "control-label col-md-2 col-md-offset-6" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @ng_model = "Model.GeneralManagerSite.FullName", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group hide">
                                    @Html.LabelFor(x => x.FunctionalDirector, "Functional Director", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @class = "form-control", @placeholder = "" })
                                    </div>


                                    @Html.LabelFor(x => x.FinanceManager, "Finance Manager", new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBox("Requestor", "", new { @class = "form-control", @placeholder = "" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8">
                                                <button ng-click="CreateMSR()" type="button" class="btn green">Submit</button>
                                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </form>

        @{Html.RenderAction(MVC.Lookup.ItemPartLookup());}
        @{Html.RenderAction(MVC.Lookup.ItemLocationLookup());}
        @{Html.RenderAction(MVC.Lookup.WorkOrderLookup());}
        @{Html.RenderAction(MVC.Lookup.CostCodeLookup());}



        <!-- Modal -->
        <div class="modal fade" id="BudgetConfirmation" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header alert-success" style="background: #F3C200; color: #fff; font-weight: bold;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">CONFIRMATION SUBMIT</h4>
                    </div>
                    <div class="modal-body" style="padding: 5px;">
                        <table class="table table-bordered table-hover" style="margin-bottom: 0;">
                            <tbody>
                                <tr ng-show="Model.TotalInStock > 0">
                                    <td>In Stock</td>
                                    <td><span class="label label-xl label-info"> {{ Model.TotalInStock.toFixed(2) }} </span></td>
                                </tr>
                                <tr ng-show="Model.TotalBudgeted > 0">
                                    <td>Budgeted</td>
                                    <td><span class="label label-xl label-success"> {{ Model.TotalBudgeted.toFixed(2) }} </span></td>
                                </tr>
                                <tr ng-show="Model.TotalUnBudgeted > 0">
                                    <td>Un Budgeted</td>
                                    <td><span class="label label-xl label-warning"> {{ Model.TotalUnBudgeted.toFixed(2) }} </span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="CreateMSR()">Submit</button>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>



@section FooterScript{
    <script>
        var ObjListDepartment = function () { return @Html.Raw(ObjListDepartment) };
        var ObjDeptIdMaintenances = @Html.Raw(ObjDeptIdMaintenances);

        var URI_MSR_LIST = '@Url.Action(MVC.MSR.Index())';
        var URI_SEARCH_ITEM = '@Url.Action(MVC.Lookup.ItemPartLookup())';
        var URI_SEARCH_COSTCODE = '@Url.Action(MVC.Lookup.CostCodeLookup())';
        var URI_SEARCH_WORKORDER = '@Url.Action(MVC.Lookup.WorkOrderLookup())';
        var URI_GET_WORKORDER = '@Url.Action(MVC.JsonData.GetWorkOrderById())';
        var URI_GET_COSTCENTER = '@Url.Action(MVC.JsonData.CostCenterByDepartmentId())';
        var URI_GET_APPROVAL = '@Url.Action(MVC.JsonData.GetApprovalByDepartment())';
        var URI_CREATE_MSR = '@Url.Action(MVC.MSR.Save())';
        @*var URI_BUDGET_VALIDATE = '@Url.Action(MVC.MSR.BudgetValidate())';*@

        var objModel = function () { return @Html.Raw(jsonModel) };
        var objFormLookupItem = function () { return @Html.Raw(searchItem) };
        var objFormLookupCostCode = function () { return @Html.Raw(searchCostCode) };
        var objFormLookupWorkOrder = function () { return @Html.Raw(searchWorkOrder) };
        var objItemPartModel = function () { return @Html.Raw(itemPartModel) };
        var objMSRDetailModel = function () { return @Html.Raw(MSRDetailModel) };
        var ObjListLeadTime = function () { return @Html.Raw(ObjListLeadTime) };

        var MSRTypeInventory = "@((int)JResources.Common.MSRType.Inventory)";
        var GuidEmpty = "@Guid.Empty";
        var GUID_RANDOM = "@Guid.NewGuid()";

        $('#info-start').click(function () {
            var tour = introJs();
            tour.setOption('showProgress', true);
            tour.start();
        });
    </script>

    <script src="~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
    <script src="~/Assets/pages/MSR/Detail.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
    @*<script src="~/Assets/pages/MSR/Detail.js" type="text/javascript"></script>*@
}