﻿@using JResources.Common
@model JResources.Data.MSR

@{
    ViewBag.Title = "Approve";
    Layout = null;
    bool IsApprove = (bool)ViewBag.IsApprove;
    List<SelectListItem> StatusMSR = new List<SelectListItem>();
    if (ViewBag.StatusMSR != null)
    {
        StatusMSR = (List<SelectListItem>)ViewBag.StatusMSR;
    }
}


<div class="portlet box green" style="margin-bottom: 0;">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list-alt"></i>MSR @(IsApprove ? "Approve" : "View") Form
        </div>
        <div class="tools">
            <a href="#" class="remove" data-dismiss="modal" aria-hidden="true"></a>
        </div>
    </div>

    <div class="portlet-body form" style="margin-bottom: 0;">
        <!-- BEGIN FORM-->

        <div id="form-MSR" class="form-horizontal form-bordered">
            <div class="form-body">

                <div class="form-group">
                    @Html.LabelFor(x => x.MSRNo, "Document No", new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.MSRNo, new { @class = "form-control", @placeholder = "Auto Generate", @disabled = "disabled" })
                    </div>


                    @Html.LabelFor(x => x.CostCode, new { @class = "control-label col-md-3 col-md-offset-1" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.CostCode, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.MSRDate, "Date Created", new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.MSRDate, Model.MSRDate.ToString(Constant.FORMAT_DATE_JRESOURCES), new { @class = "form-control", @disabled = "disabled" })
                    </div>


                    @Html.LabelFor(x => x.ExpectedDate, new { @class = "control-label col-md-3 col-md-offset-1" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(x => x.ExpectedDate, Model.ExpectedDate.ToString(Constant.FORMAT_DATE_JRESOURCES), new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
                @if (IsApprove)
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.MSRStatus, "Status", new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.MSRStatus, StatusMSR, new { @class = "form-control" })
                        </div>



                    </div>
                    
                }

                <div style="">

                    <table class="table table-bordered table-hover" id="table-detail" style="margin-bottom: 0;">
                        <thead>
                            <tr role="row" class="bg-green-meadow">
                                <th>NO</th>
                                <th>ITEM NO</th>
                                <th>DESCRIPTION</th>
                                <th>LOCATION</th>
                                <th>QTY</th>
                                <th>COST</th>
                                <th>STOCK <span style="font-size: 7px; display: block;">(On Hand)</span></th>
                                <th>COST CODE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{                                
                                int iRow = 1;
                            }

                            @foreach (var item in Model.MSRDetails)
                            {
                                <tr>
                                    <td style="z-index: 99;">
                                        @iRow
                                    </td>
                                    <td style="z-index: 99;">@item.ItemNo</td>
                                    <td>@item.Description</td>
                                    <td>@item.LocationId</td>
                                    <td>@item.Qty</td>
                                    <td>@item.UnitCost</td>
                                    <td>100</td>
                                    <td>@item.CostCode</td>
                                </tr>
                                
                                iRow = iRow + 1;
                            }




                        </tbody>
                    </table>
                </div>


                <div class="form-action" style="border-top: 0;">
                    <div class="row">
                        <div class="col-md-12">
                            @if (IsApprove)
                            {
                                <button type="submit" class="btn green pull-right">Save</button>
                            }
                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>

<script>
    jQuery('#MSRStatus').pulsate({
        color: "#45B6AF"
    });
</script>



