﻿@using JResources.Common
@using GridMvc.Html

@model JResources.Data.Model.MSRSearchModel

@{
    ViewBag.Title = "MSR";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "MSR";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Detail(Guid.Empty));

    var ListJobTypeNonCMMS = (List<SelectListItem>)ViewBag.ListJobTypeNonCMMS;
    string objMSRSearch = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string objMSRModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.MSRModel());
    var listMSRStatus = (List<JResources.Data.EnumTable>)ViewBag.MSRStatus;
    string objMSRStatus = Newtonsoft.Json.JsonConvert.SerializeObject(listMSRStatus);
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.MSR.Detail(Guid.Empty))">
                <i class="fa fa-building"></i>
                Entry MSR
            </a>

        </div>
    </div>
}




<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">REQUEST</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body form @(Model.IsSearchFilter ? "" : "display-hide")">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MSRNo, "MSR No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Model.MSRNo", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.WorkOrderNo, "Work Order No", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.WorkOrderNo, new { @ng_model = "Model.WorkOrderNo", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                    ng-model="Model.CompanyId"
                                    ng-change="SetListDepartment()"
                                    class="select2me form-control">
                                </select>
                            </div>

                            @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.DepartmentName for item in DepartmentList track by item.ID"
                                    ng-model="Model.DepartmentId"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.RequestStatus, "Status Request", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.EnumValue as item.EnumLabel for item in MSRStatus track by item.EnumValue"
                                    ng-model="Model.RequestStatus"
                                    class="select2me form-control">
                                </select>
                            </div>


                            @Html.LabelFor(x => x.DateFrom, "Expected Date", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                <div class="input-group input-large date-picker input-daterange" data-date-format="@Constant.FORMAT_DATE_JRESOURCES">
                                    <input type="text" ng-model="Model.DateFromStr" class="form-control" name="from">
                                    <span class="input-group-addon">to </span>
                                    <input type="text" ng-model="Model.DateToStr" class="form-control" name="to">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.EquipmentNo, "Equipment No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.EquipmentNo, new { @ng_model = "Model.EquipmentNo", @class = "form-control" })
                            </div>


                            @Html.LabelFor(x => x.MaintenanceCode, "Priority", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.MaintenanceCode, ListJobTypeNonCMMS, new { @ng_model = "Model.MaintenanceCode", @class = "select2me form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Reason, "Reason", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.Reason, new { @ng_model = "Model.Reason", @class = "form-control" })
                            </div>

                        </div>



                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchMSR()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="MSR-table" style="">

            <div class="grid-mvc">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance">
                        <thead>
                            <tr>
                                <th class="grid-header highlight" style="width: 180px;">MSR No</th>
                                <th class="grid-header highlight" style="width: 100px;">Work Order No</th>
                                <th class="grid-header" style="width: 100px;">MSR Date</th>
                                <th class="grid-header" style="width: 100px;">Expected Date</th>
                                @*<th class="grid-header">Cost Center</th>*@
                                <th class="grid-header">Equipment No</th>
                                <th class="grid-header" style="width:100px;">Status</th>
                                <th class="grid-header" colspan="3" style="width: 150px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                <td class="grid-cell highlight" data-name="DocumentNo">
                                    <div class="success"></div>
                                    <a href="#" ng-click="MSRModal(item.ID)">{{ item.DocumentNo }} </a>
                                </td>
                                <td class="grid-cell" data-name="WorkOrderNo" style="font-size: 80%;">{{ item.WorkOrderNo }}</td>
                                <td class="grid-cell" data-name="DateCreated">
                                    <a href="#" class="btn btn-icon-left btn-xs grey-cascade" style="font-size: 100%;"><i class="fa fa fa-calendar"></i>{{ item.DateCreatedStr }} 
                                    </a>
                                </td>
                                <td class="grid-cell" data-name="ExpectedDate">
                                    <a href="#" class="btn btn-icon-left btn-xs grey-cascade" style="font-size: 100%;"><i class="fa fa fa-calendar"></i>{{ item.ExpectedDateStr }} 
                                    </a>
                                </td>
                                <td class="grid-cell" data-name="EquipmentNo" style="font-size: 70%;">{{ item.EquipmentNo }}</td>
                                <td class="grid-cell" data-name="StatusRequestCode">
                                    <span class="label label-status {{ item.LabelCssColor }}">{{ item.StatusRequestLabel }}</span>
                                </td>

                                <td class="grid-cell" style="border-right: 0; width: 50px;">
                                    <button ng-show="(item.WorkOrderNo!='') && item.IsDoneUnloading" disabled="" type="button" class="btn btn-sm btn-default" style="margin-right:0;">
                                        <i class="fa fa-check-square-o font-blue-madison"></i>
                                    </button>

                                    <button ng-show="(item.WorkOrderNo!='') && !item.IsDoneUnloading" ng-disabled="!item.IsUnloading" ng-click="Unload(item.ID, item.MaintenanceCode)" type="button" class="btn btn-sm btn-default" style="margin-right:0;">
                                        <i ng-class="item.IsUnloading ? 'fa fa-check-square-o font-blue-ebonclay':'fa fa-check-square-o font-grey-steel'" tooltips tooltip-template="Dismantle" tooltip-side="left"></i>
                                    </button>

                                </td>
                                <td class="grid-cell" style="border-left:0; padding-left: 0; width: 50px;">

                                    <button ng-show="item.IsDoneRequisition" disabled="" type="button" class="btn btn-sm btn-default" style="margin-right:0;">
                                        <i class="fa fa-tags font-yellow-saffron"></i>
                                    </button>

                                    
                                    <button ng-show="!item.IsDoneRequisition" ng-disabled="!item.IsCanRequisition" type="button" ng-click="RequestRequisition(item.ID)" class="btn btn-sm btn-default" style="margin-right:0;">
                                        <i ng-class="item.IsCanRequisition ? 'fa fa-tags font-yellow-gold':'fa fa-tag font-grey-steel'" tooltips tooltip-template="Push to Purchase"></i>
                                    </button>
                                </td>

                                <td class="grid-cell" style=" width: 50px;">
                                    <a ng-show="showEdit(item.StatusRequestCode)" href="@Url.Action(MVC.MSR.Detail())/{{ item.ID }}" class="btn btn-sm default btn-block"><i class="fa fa-edit"></i> Edit</a>
                                    <a ng-show="showView(item.StatusRequestCode)" href="@Url.Action(MVC.MSR.MSRTimeline())/{{ item.ID }}" class="btn btn-sm blue btn-block"><i class="fa  fa-search-plus"></i> View</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedMSRList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>


        @{Html.RenderAction(MVC.MSR.MSRModal());}


    </div>
</div>



@section FooterScript{
    <script>
        var URI_LIST_MSR = '@Url.Action(MVC.MSR.Index())';
        var URI_SEARCH_MSR = '@Url.Action(MVC.MSR.GetListMSR())';
        var URI_GET_MSR_MODAL = '@Url.Action(MVC.MSR.GetMSRModal())';
        var URI_MSR_DISMANTLE = '@Url.Action(MVC.MSR.Dismantle())';
        var URI_MSR_REQUISITION = '@Url.Action(MVC.MSR.RequestRequisition())';

        var objModel = function () { return @Html.Raw(objMSRSearch) };
        var objMSRStatus = function () { return @Html.Raw(objMSRStatus) };
        var objMSRModal = function () { return @Html.Raw(objMSRModal) };
        var objCompanyDepartments = function () { return @Html.Raw(objCompanyDepartments) };
    </script>

    <script src="~/Assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
    <script src="~/Assets/global/plugins/holder.js" type="text/javascript"></script>
    <script src="~/Assets/pages/MSR/Index.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}

