﻿@using JResources.Common
@using GridMvc.Html

@model JResources.Data.Model.MSRSearchModel

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "MSR";
    ViewBag.SubTitle = "List Approval";
    ViewBag.BreadCrumbLabel = "MSR";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Detail(Guid.Empty));

    string objMSRSearch = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string objMSRModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.MSRModel());
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.MSR.Index())">
                <i class="fa fa-list"></i>
                List MSR
            </a>

        </div>
    </div>
}

@section HeaderStyle {
    <style>
        #MSR-table table
        {
            background-color: #fff;
        }

        #MSR-table .table thead tr th,
        #MSR-table .table tbody tr td
        {
            font-size: 85%;
        }
    </style>
}



<div class="row" ng-app="JResourcesApp">
    <div id="MSR-approval-list" class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">APPROVAL</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MSRNo, "MSR No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Model.MSRNo", @class = "form-control" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.CompanyId, "Company", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.CompanyName for item in CompanyDepartments track by item.ID"
                                    ng-model="Model.CompanyId"
                                    ng-change="SetListDepartment()"
                                    class="select2me form-control">
                                </select>
                            </div>

                            @Html.LabelFor(x => x.DepartmentId, "Department", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                <select
                                    ng-options="item.ID as item.DepartmentName for item in DepartmentList track by item.ID"
                                    ng-model="Model.DepartmentId"
                                    class="select2me form-control">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchMSR()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="MSR-table" style="">

            <div class="grid-mvc">
                <div class="grid-wrap table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th class="grid-header highlight" style="width: 160px;">MSR No</th>
                                <th class="grid-header">MSR Date</th>
                                <th class="grid-header">Cost Center</th>
                                <th class="grid-header">Expected Date</th>
                                <th class="grid-header">Requestor</th>
                                @*<th class="grid-header">Reason</th>*@
                                <th class="grid-header">Equipment No</th>
                                <th class="grid-header">Status</th>
                                <th class="grid-header" style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                <td class="grid-cell highlight" data-name="DocumentNo">
                                    <div class="success"></div>
                                    <a href="#">{{ item.DocumentNo }} </a>
                                </td>
                                <td class="grid-cell" data-name="DateCreated">{{ item.DateCreatedStr }}</td>
                                <td class="grid-cell" data-name="CostCenter">{{ item.CostCenter }}</td>
                                <td class="grid-cell" data-name="ExpectedDate">{{ item.ExpectedDateStr }}</td>
                                <td class="grid-cell" data-name="Requestor">{{ item.Requestor }}</td>
                                @*<td class="grid-cell" data-name="Reason">{{ item.Reason }}</td>*@
                                <td class="grid-cell" data-name="EquipmentNo">{{ item.EquipmentNo }}</td>
                                <td class="grid-cell" data-name="StatusRequestCode"><span class="label label-status {{ item.LabelCssColor }}">{{ item.StatusRequestLabel }}</span></td>
                                <td class="grid-cell" data-name="">
                                    <a href="#" ng-click="MSRModal(item.ID)" class="btn green btn-xs" data-toggle="modal"><i class="fa fa-check-square-o"></i>Action</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedMSRList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>


        @{Html.RenderAction(MVC.MSR.MSRModal());}

    </div>
</div>


@section FooterScript{
    <script>
        var URI_SEARCH_MSR = '@Url.Action(MVC.MSR.GetListMSRReadyApprove())';
        var URI_GET_MSR_MODAL = '@Url.Action(MVC.MSR.GetMSRModal())';
        var URI_APPROVE_MSR = '@Url.Action(MVC.MSR.ApproveMSR())';
        var objModel = function () { return @Html.Raw(objMSRSearch) };
        var objMSRModal = function () { return @Html.Raw(objMSRModal) };
        var objCompanyDepartments = function () { return @Html.Raw(objCompanyDepartments) };

        var GuidEmpty = '@Guid.Empty';
        var MSRIdModal = '@Model.MSRIdModal.ToString()';
    </script>

    <script src="~/Assets/pages/MSR/ListApprove.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}