﻿@using JResources.Common

@model JResources.Data.Model.MSRIssuedSearchModel

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Cancel Request";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "Cancel Request";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.ListCancel());
    ViewBag.BreadLastLabel = "Cancel List";

    string objModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    string objModal = Newtonsoft.Json.JsonConvert.SerializeObject(new JResources.Data.Model.MSRIssuedSearchModel());
    var CompanyDepartments = (List<JResources.Data.Model.CompanyDepartmentModel>)ViewBag.CompanyDepartments;
    string objCompanyDepartments = Newtonsoft.Json.JsonConvert.SerializeObject(CompanyDepartments);
}

@section PageToolbar{
    <div class="page-toolbar">
        <div class="btn-group pull-right">

            <a class="btn btn-fit-height blue" href="@Url.Action(MVC.MSR.Index())">
                <i class="fa fa-list"></i>
                List MSR
            </a>

        </div>
    </div>
}

<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">

        <div class="portlet light bordered form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-hoki"></i>
                    <span class="caption-subject font-blue-hoki bold uppercase">Search Form</span>
                    <span class="caption-helper">CANCEL</span>
                </div>
                <div class="tools">
                    <a href="" class="expand" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body display-hide form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered form-row-stripped">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MSRNo, "Issued Cancel No", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRIssuedNo, new { @ng_model = "Model.MSRNo", @class = "form-control" })
                            </div>

                            @Html.LabelFor(x => x.MSRNo, "MSR No", new { @class = "control-label col-md-2 col-md-offset-1" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.MSRNo, new { @ng_model = "Model.MSRNo", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button ng-click="SearchMSR()" type="button" class="btn green"><i class="fa fa-check"></i>Submit</button>
                                <button ng-click="ResetMSR()" type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>

        <div id="MSR-table">

            <div class="grid-mvc">
                <div class="grid-wrap">
                    <table class="table table-striped table-bordered table-advance" style="background-color: #fff;">
                        <thead>
                            <tr>
                                <th class="grid-header highlight" style="width: 180px;">Cancel No</th>
                                <th class="grid-header">MSR No</th>
                                <th class="grid-header">Type</th>
                                <th class="grid-header">Issued Date</th>
                                <th class="grid-header">Company - Department</th>
                                <th class="grid-header">Requestor</th>
                                <th class="grid-header" style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Model.ListData">
                                <td class="grid-cell highlight" data-name="DocumentNo">
                                    <div class="success"></div> <span> {{ item.MSRIssuedNo }} </span>
                                </td>
                                <td><span> {{ item.MSRNo }} </span>
                                </td>
                                <td>
                                    <span class="label label-status {{ item.LabelCssColor }}">{{ item.IssuedType }}</span>
                                </td>
                                <td>{{ item.MSRIssuedDateStr }}</td>
                                <td>{{ item.CompanyName }} - {{ item.DepartmentName }}</td>
                                <td>{{ item.Requestor }}</td>
                                <td class="grid-cell" data-name="">
                                    <a ng-click="MSRIssuedModal(item.ID)" href="#" class="btn green btn-xs"><i class="fa fa-pencil-square-o"></i> Action</a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="grid-footer">
                    <ul class="pagination pagination-sm" uib-pagination total-items="Model.TotalItems" max-size="@SiteSettings.PAGE_SIZE_PAGING" ng-model="Model.CurrentPage" ng-change="pageChangedMSRList()" boundary-links="true" num-pages="numPages"></ul>
                </div>

            </div>
        </div>


        @{Html.RenderAction(MVC.Warehouse.MSRIssuedModal());}


    </div>
</div>


@section FooterScript{
    <script>
        var URI_LIST_CANCEL = '@Url.Action(MVC.MSR.ListCancel())';
        var URI_LIST_ISSUED = '@Url.Action(MVC.Warehouse.ListRequestIssued())';
        var URI_SEARCH_MSRISSUED = '@Url.Action(MVC.MSR.GetListIssuedCancel())';
        var URI_GET_MSRISSUED = '@Url.Action(MVC.Warehouse.GetMSRIssuedModal())';
        var URI_REVERSE_TRANSFER = '@Url.Action(MVC.Warehouse.ReverseTransfer())';
        var URI_APPROVE_CANCEL = '@Url.Action(MVC.MSR.ApproveCancel())';
        var objModel = function () { return @Html.Raw(objModel) };
        var objModal = function () { return @Html.Raw(objModal) };
    </script>

    <script src="~/Assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="~/Assets/pages/MSR/ListCancel.js?version=@SiteSettings.VersionNumber" type="text/javascript"></script>
}