﻿@using Newtonsoft.Json
@using JResources.Common
@using JResources.Data.Model

@model JResources.Data.Model.MSRModel

@{
    List<SelectListItem> StatusMSR = new List<SelectListItem>();
    if (ViewBag.StatusMSR != null)
    {
        StatusMSR = (List<SelectListItem>)ViewBag.StatusMSR;
    }
}

<div class="modal fade bs-modal-lg" id="MSR-modal" tabindex="-1" role="MSR-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">


                <div class="portlet box green" style="margin-bottom: 0;">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list-alt"></i>MSR {{ Modal.IsNeedActionRequest ? 'Approval' : 'View' }} Form
                        </div>
                        <div class="tools">
                            <a href="#" class="remove" data-dismiss="modal" aria-hidden="true"></a>
                        </div>
                    </div>

                    <div class="portlet-body form" style="margin-bottom: 0;">
                        <!-- BEGIN FORM-->

                        <div id="form-MSR" class="form-horizontal form-bordered">
                            <div class="form-body">

                                <div class="form-group">
                                    @Html.LabelFor(x => x.DocumentNo, "MSR No", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.DocumentNo, new { @ng_model = "Modal.DocumentNo", @class = "form-control", @placeholder = "Auto Generate", @disabled = "disabled" })
                                    </div>


                                    @Html.LabelFor(x => x.CostCenter, new { @class = "control-label col-md-3 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.CostCenter, new { @ng_model = "Modal.CostCenter", @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.DateCreated, "Date Created", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.DateCreated, new { @ng_model = "Modal.DateCreatedStr", @class = "form-control", @disabled = "disabled" })
                                    </div>


                                    @Html.LabelFor(x => x.ExpectedDate, new { @class = "control-label col-md-3 col-md-offset-1" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(x => x.ExpectedDate, new { @ng_model = "Modal.ExpectedDateStr", @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Reason, "Reason", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(x => x.Reason, new { @ng_model = "Modal.Reason", @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>

                                <div ng-show="FileUploads.length>0" class="form-group">
                                    <label class="control-label col-md-2">Files</label>
                                    <div class="col-md-10">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width: 50px;">
                                                        #
                                                    </th>
                                                    <th>
                                                        File name
                                                    </th>
                                                    <th style="width: 100px;"></th>
                                                    <th style="width: 100px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-file-upload">
                                                <tr ng-repeat="item in FileUploads track by $index">
                                                    <td>
                                                        {{ $index+1 }}
                                                    </td>
                                                    <td>
                                                        {{ item.fileName }}
                                                    </td>
                                                    <td style="text-align: right;">
                                                        {{ item.fileSize.toFixed() }} KB
                                                    </td>
                                                    <td style="padding: 3px;">
                                                        <div class="btn-group btn-group-solid">
                                                            <a href=" {{ item.uriFile }}" target="_blank" class="btn blue btn-sm">Download <i class="fa fa-cloud-download"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div ng-show="Modal.IsNeedActionRequest" class="form-group">
                                    @Html.LabelFor(x => x.StatusRequest, "Status", new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(x => x.StatusRequest, StatusMSR, new { @id = "ModalStatusRequest", @ng_model = "Modal.StatusRequest", @class = "form-control" })
                                    </div>
                                </div>


                                <div class="table-scrollable">

                                    <table class="table table-bordered table-hover" style="margin-bottom: 0;">
                                        <thead>
                                            <tr role="row" class="bg-green-meadow">
                                                <th>NO</th>
                                                <th>ITEM NO</th>
                                                <th>DESCRIPTION</th>
                                                <th>LOCATION</th>
                                                <th>CATEGORY</th>
                                                <th>QTY</th>
                                                <th>UNIT COST</th>
                                                <th>COST</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Modal.MSRDetail track by $index">
                                                <td style="z-index: 99;">{{ item.LineNo }}</td>
                                                <td style="z-index: 99;">{{ item.ItemNo }}</td>
                                                <td>{{ item.Description }}</td>
                                                <td>{{ item.Location }}</td>
                                                <td>{{ item.CostCode }}</td>
                                                <td>{{ item.Qty }}</td>
                                                <td class="text-right">{{ item.Cost.toFixed(2) }}</td>
                                                <td class="text-right"><span class="label bg-blue">{{ (item.Qty * item.Cost).toFixed(2) }}</span></td>
                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7" class="text-right">TOTAL</td>
                                                <td class="text-right"><span class="label bg-blue-chambray">{{ Modal.TotalAmount.toFixed(2) }}</span></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>





                                <div class="form-action" style="border-top: 0;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button ng-show="Modal.IsNeedActionRequest" ng-click="ApproveMSR()" ng-disabled="!Modal.StatusRequest" type="button" class="btn green pull-right">Save</button>
                                            <button type="button" data-dismiss="modal" class="btn default pull-right" style="margin-right: 10px;">Close</button>

                                            <button ng-click="MSRPrintOut(Modal.ID)" type="button" class="btn bg-green-seagreen pull-left"><i class="fa fa-print"></i> Print Out</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
