﻿@using JResources.Common
@model JResources.Data.Model.MSRHistoryModel

@{
    ViewBag.Title = "MSR Timeline";
    ViewBag.SubTitle = "List Data";
    ViewBag.BreadCrumbLabel = "MSR";
    ViewBag.BreadCrumbUrl = Url.Action(MVC.MSR.Detail(Guid.Empty));
    ViewBag.BreadLastLabel = "MSR Timeline";
}

@section HeaderStyle {
    <link href="~/Assets/admin/pages/css/timeline-old.css" rel="stylesheet" type="text/css" />
    <style>
        table.table thead tr th,
        table.table thead tr td,
        table.table tbody tr td {
            font-size: 85%;
        }
    </style>
}




<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-app="JResourcesApp">
    <div class="col-md-12" ng-controller="JResourcesController">
        <ul id="timeline" class="timeline">


            <li class="timeline-grey">
                <div class="timeline-time">
                    <span class="date">@Model.DateCreated.ToString("M/d/yyyy")</span>
                    <span class="time">@Model.DateCreated.ToString("hh:mm")</span>
                </div>
                <div class="timeline-icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="timeline-body">
                    <h2>MSR : @Model.DocumentNo Created</h2>

                    <div class="timeline-content">

                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td class="bg-grey-gallery" style="width: 150px;">MSR NO</td>
                                    <td>@Model.DocumentNo</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery" style="width: 150px;">Requestor</td>
                                    <td>@Model.Requestor.FullName</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Document Type</td>
                                    <td>@Model.MSRTypeLabel</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Work Order No</td>
                                    <td>@Model.WorkOrderNo</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Department</td>
                                    <td>@Model.DepartmentName</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Cost Center</td>
                                    <td>@Model.CostCenterLabel</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Date Created</td>
                                    <td>@Model.DateCreatedStr</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Expected Date</td>
                                    <td>@Model.ExpectedDateStr</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Maintenance Code</td>
                                    <td>@Model.MaintenanceCode</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Lead Time</td>
                                    <td>@Model.LeadTimeNumber</td>
                                </tr>
                                <tr>
                                    <td class="bg-grey-gallery">Reason</td>
                                    <td>@Model.Reason</td>
                                </tr>
                            </tbody>

                        </table>

                        <table class="table table-bordered">
                            <thead>
                                <tr role="row" class="bg-green-meadow">
                                    <th style="width: 30px;">No</th>
                                    <th style="width: 100px;">Item Part</th>
                                    <th>Description</th>
                                    <th style="width: 70px;">Qty</th>
                                    <th style="width: 80px;">Cost</th>
                                    <th style="width: 100px;">Cost Code</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.MSRDetail)
                                {
                                    <tr>
                                        <td>@item.LineNo</td>
                                        <td>@item.ItemNo</td>
                                        <td>@item.Description</td>
                                        <td>@item.Qty.ToDecimalFormat()</td>
                                        <td>@item.Cost.ToString("#.##")</td>
                                        <td>@item.CostCode</td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                        <div ng-show="FileUploads.length>0" class="form-group">
                            <h4 style="margin-top: 0;">File Reference</h4>

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">
                                            #
                                        </th>
                                        <th>
                                            File name
                                        </th>
                                        <th style="width: 100px;"></th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="table-file-upload">
                                    <tr ng-repeat="item in FileUploads track by $index">
                                        <td>
                                            {{ $index+1 }}
                                        </td>
                                        <td>
                                            {{ item.fileName }}
                                        </td>
                                        <td style="text-align: right;">
                                            {{ item.fileSize.toFixed() }} KB
                                        </td>
                                        <td style="padding: 3px;">
                                            <div class="btn-group btn-group-solid">
                                                <a href=" {{ item.uriFile }}" target="_blank" class="btn blue btn-sm" style="margin-top: 0;">Download <i class="fa fa-cloud-download"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>

                </div>
            </li>

            @if (Model.DateApproveManager.HasValue)
            {
                <li class="timeline-green">
                    <div class="timeline-time">
                        <span class="date">@Model.DateApproveManager.Value.ToString("M/d/yyyy")</span>
                        <span class="time">@Model.DateApproveManager.Value.ToString("hh:mm")</span>
                    </div>
                    <div class="timeline-icon bg-green-jungle">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="timeline-body">
                        <h2>MSR Approved</h2>
                        <div class="timeline-content">
                            <span class="label bg-green-meadow">@Model.DocumentNo</span> Approved By @Model.Manager.FullName
                        </div>
                    </div>
                </li>
            }

            @if (Model.DateApproveSiteManager.HasValue)
            {
                <li class="timeline-green">
                    <div class="timeline-time">
                        <span class="date">@Model.DateApproveSiteManager.Value.ToString("M/d/yyyy")</span>
                        <span class="time">@Model.DateApproveSiteManager.Value.ToString("hh:mm")</span>
                    </div>
                    <div class="timeline-icon bg-green-jungle">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="timeline-body">
                        <h2>MSR Approved</h2>
                        <div class="timeline-content">
                            <span class="label bg-green">@Model.DocumentNo</span> Approved By @Model.GeneralManagerSite.FullName

                        </div>
                    </div>
                </li>
            }


            @if (Model.MSRIssueds != null && Model.MSRIssueds.Count > 0)
            {
                foreach (var MSRIssued in Model.MSRIssueds)
                {
                    var cssTimeline = "timeline-blue";
                    var cssBGIcon = "bg-blue";
                    var BGIcon = "fa-mail-forward";
                    var cssBGTableDetail = "bg-blue";

                    switch (MSRIssued.IssuedType)
                    {
                        case JResources.Common.Enum.RequestStatus.CANCEL:
                            cssTimeline = "timeline-red";
                            cssBGIcon = "bg-red-thunderbird";
                            BGIcon = "fa-times-circle";
                            cssBGTableDetail = "bg-red-flamingo";
                            break;

                        case JResources.Common.Enum.RequestStatus.PURCHASING:
                            cssTimeline = "timeline-yellow";
                            cssBGIcon = "bg-yellow-crusta";
                            BGIcon = "fa-mail-forward";
                            cssBGTableDetail = "bg-yellow-gold";
                            break;

                        case JResources.Common.Enum.RequestStatus.TRANSFER:
                            cssTimeline = "timeline-blue-ebonyclay";
                            cssBGIcon = "bg-blue-ebonyclay";
                            BGIcon = "fa-long-arrow-right";
                            cssBGTableDetail = "bg-blue-ebonyclay";
                            break;

                        case JResources.Common.Enum.RequestStatus.REVERSE_TRANSFER:
                            cssTimeline = "timeline-blue-chambray";
                            cssBGIcon = "bg-blue-chambray";
                            BGIcon = "fa-exchange";
                            cssBGTableDetail = "bg-blue-chambray";
                            break;
                    }


                    <li class="@cssTimeline">
                        <div class="timeline-time">
                            <span class="date">@MSRIssued.MSRIssuedDate.ToString("M/d/yyyy")</span>
                            <span class="time">@MSRIssued.MSRIssuedDate.ToString("hh:mm")</span>
                        </div>
                        <div class="timeline-icon @cssBGIcon">
                            <i class="fa @BGIcon"></i>
                        </div>
                        <div class="timeline-body">
                            <h2>
                                @MSRIssued.IssuedTypeLabel : @MSRIssued.MSRIssuedNo
                            </h2>

                            <div class="timeline-content">
                                <span class="label label bg-grey-cascade">Created By @MSRIssued.Creator.FullName</span>
                                <div style="clear: both;"></div>
                                <br />


                                <table class="table table-bordered">
                                    <thead>
                                        <tr role="row" class="@cssBGTableDetail">
                                            <th style="width: 30px;">No</th>
                                            <th style="width: 100px;">Item Part</th>
                                            <th>Description</th>

                                            @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.ISSUED
                                                || MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.TRANSFER
                                                || MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.REVERSE_TRANSFER)
                                            {
                                                <th>From Location</th>
                                            }

                                            @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.TRANSFER
                                                || MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.REVERSE_TRANSFER)
                                            {
                                                <th>To Location</th>
                                            }

                                            <th style="width: 70px;">Qty</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in MSRIssued.MSRIssuedDetails)
                                        {
                                            <tr>
                                                <td>@item.LineNo</td>
                                                <td>@item.ItemNo</td>
                                                <td>@item.Description</td>

                                                @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.TRANSFER
                                                    || MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.REVERSE_TRANSFER)
                                                {
                                                    <td>@item.LocationFrom</td>
                                                    <td>@item.Location</td>
                                                }

                                                @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.ISSUED)
                                                {
                                                    <td>@item.Location</td>
                                                }

                                                @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.ISSUED)
                                                {
                                                    <td>@item.QtyProcess.ToDecimalFormat()</td>
                                                }

                                                @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.TRANSFER
                                                    || MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.REVERSE_TRANSFER)
                                                {
                                                    <td>@item.QtyTransfered.ToDecimalFormat()</td>
                                                }

                                                @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.CANCEL)
                                                {
                                                    <td>@item.QtyCancel.ToDecimalFormat()</td>
                                                }

                                                @if (MSRIssued.IssuedType == JResources.Common.Enum.RequestStatus.PURCHASING)
                                                {
                                                    <td>@item.QtyPurchase.ToDecimalFormat()</td>
                                                }

                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                @*                            @if(!MSRIssued.IsTransferAccpac)
                                    {
                                        <button id="issued-@MSRIssued.ID" type="button" class="btn btn-success" ng-click="btnPostAccpac(MSRIssued.ID)">Export To Accpac</button>
                                    }*@

                            </div>

                            @if (!string.IsNullOrEmpty(MSRIssued.Remarks))
                            {
                                <h4 style="margin-top: 0;">Reason</h4>
                                <p class="muted">@MSRIssued.Remarks</p>
                            }

                        </div>
                    </li>

                }
            }

            <li class="timeline-green-final timeline-noline">
                <div class="timeline-time">
                    <span class="date">@Model.DateUpdate.ToString("M/d/yyyy")</span>
                    <span class="time">@Model.DateUpdate.ToString("hh:mm")</span>
                </div>
                <div class="timeline-icon bg-green">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="timeline-body">
                    <h2>STATUS : @Model.StatusRequestLabel</h2>
                    <div class="timeline-content">
                        @if (Model.MSRIssueds != null && Model.MSRIssueds.Count > 0)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr role="row" class="bg-green-jungle">
                                        <th style="width: 30px;" rowspan="2">No</th>
                                        <th style="width: 100px;" rowspan="2">Item Part</th>
                                        <th rowspan="2">Description</th>
                                        <th colspan="5" style="text-align: center;">Qty</th>
                                        <th style="width: 100px;" rowspan="2">Status</th>
                                    </tr>
                                    <tr role="row">
                                        <th style="width: 70px;" class="bg-grey-gallery">Request</th>
                                        <th style="width: 70px;" class="bg-blue-ebonyclay">Transfered</th>
                                        <th style="width: 70px;" class="bg-red-thunderbird">Cancel</th>
                                        <th style="width: 70px;" class="bg-yellow-gold">Purchase</th>
                                        <th style="width: 70px;" class="bg-blue-madison">Issued</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model.MSRLast != null && Model.MSRLast.MSRIssuedDetails != null)
                                    {
                                        foreach (var item in Model.MSRLast.MSRIssuedDetails)
                                        {
                                            <tr>
                                                <td>@item.LineNo</td>
                                                <td>@item.ItemNo</td>
                                                <td>@item.Description</td>
                                                <td>@item.QtyRequest.ToDecimalFormat()</td>
                                                <td>@item.QtyTransfered.ToDecimalFormat()</td>
                                                <td>@item.QtyCancel.ToDecimalFormat()</td>
                                                <td>@item.QtyPurchase.ToDecimalFormat()</td>
                                                <td>@item.QtyDelivered.ToDecimalFormat()</td>
                                                <td>
                                                    @if (item.QtyIssuedOutstanding > 0)
                                                    {
                                                        if (item.QtyDelivered > 0)
                                                        {
                                                            <span class="label bg-green-haze">Partial Issued</span>
                                                        }
                                                        else
                                                        {
                                                            if (item.QtyTransfered > 0)
                                                            {
                                                                if (item.QtyTransferOutstanding > 0)
                                                                {
                                                                    <span class="label bg-blue-chambray">Partial Transfer</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label bg-blue-ebonyclay">Full Transfer</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span class="label bg-grey">Not Issued</span>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span class="label bg-green">Complete</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }


                        @if (Model.IsReOrderPoint && Model.StatusRequest == JResources.Common.Enum.RequestStatus.COMPLETED)
                        {
                            <div class="note note-success">
                                <h4 class="block">Status Completed</h4>
                                <p>
                                    This is Stock Replenishment Order, so after all item full filled by puchase MSR will be completed.
                                </p>
                            </div>
                        }

                        @if (Model.MSRType == ((int)JResources.Common.MSRType.NonInventory).ToString() && Model.StatusRequest == JResources.Common.Enum.RequestStatus.COMPLETED)
                        {
                            <div class="note note-success">
                                <h4 class="block">Status Completed</h4>
                                <p>
                                    This is Non Inventory, so after all item full filled by puchase MSR will be completed.
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>
<!-- END PAGE CONTENT-->

@section FooterScript{
    <script>
        var URI_ACCPAC = '@Url.Action(MVC.Warehouse.AccpacProcess(Guid.Empty))';

        var app = angular.module('JResourcesApp', ['ngMessages', 'ui.bootstrap']);
        app.controller('JResourcesController', function ($scope, $http) {

            $scope.FileUploads = [];


            $http({
                method: 'GET',
                url: URI_ASSET_API + "/api/file?DocumentNo=" + "@Model.DocumentNo",
            }).then(function successCallback(response) {

                if (response.data != null) {
                    $scope.FileUploads = response.data;
                }

                //unBlockElement(elementBlock);
            }, function errorCallback(response) {
                console.log(response);
                //bootbox.alert(response.data.Message);
                //unBlockElement(elementBlock);
            });

            $scope.btnPostAccpac = function (issuedId) {
                var elementBlock = '#timeline';
                BlockElement(elementBlock);

                var uri = URI_ACCPAC.replace(GUID_EMPTY, issuedId);

                $http({
                    method: 'GET',
                    url: uri
                }).then(function successCallback(response) {

                    if (response.data != null) {
                        if (response.data.IsSuccess) {
                            $('#issued-' + issuedId).hide();
                        } else {
                            showAlert(response.data.Message);
                        }
                    }

                    unBlockElement(elementBlock);
                    $('#workorder-lookup').modal('toggle');
                }, function errorCallback(response) {
                    console.log(response);
                    bootbox.alert("Error Exception Application");
                    unBlockElement(elementBlock);
                });
            }



        });
    </script>
}
